<div class="topline" style="display:none;">
	<span class="icons loginasIcon"></span>
	公告信息公告信息公告信息公告信息公告信息公告信息
</div>
<div class="topline">
	<h1>我的主页</h1>
</div>

<div class="blocks courseblock">
	<div class="title">
		我的练习
		<span class="icons unfolderTitleIcon"></span>
	</div>
	<div class="block">
		<a href="#">
			<div class="pic"><%= image_tag 'course/yuwen.gif' %></div>
			<div class="name">三年级英语Unit5</div>
			<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
			<div class="controlls">
				<span class="icons suspendIcon"></span>
				<span class="icons topupIcon"></span>
			</div>
		</a>
	</div>
	<div class="block">
		<a href="#" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
		<div class="name">三年级英语Unit5</div>
		<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
		<div class="controlls">
			<span class="icons suspendIcon"></span>
			<span class="icons topupIcon"></span>
		</div>
	</div>
	<div class="block">
		<a href="#" class="addblock">
		<b>+</b>
		添加
		</a>
	</div>
	<div class="space"></div>
</div>
<div class="blocks courseblock">
	<div class="title">
		同步辅导
		<span class="icons unfolderTitleIcon"></span>
	</div>
	<div class="block">
		<a href="#">
			<div class="pic"><%= image_tag 'course/yuwen.gif' %></div>
			<div class="name">三年级英语Unit5</div>
			<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
			<div class="controlls">
				<span class="icons suspendIcon"></span>
				<span class="icons topupIcon"></span>
			</div>
		</a>
	</div>
	<div class="block">
		<a href="#" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
		<div class="name">三年级英语Unit5</div>
		<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
		<div class="controlls">
			<span class="icons suspendIcon"></span>
			<span class="icons topupIcon"></span>
		</div>
	</div>
	<div class="block">
		<a href="#" class="addblock">
		<b>+</b>
		添加
		</a>
	</div>
	<div class="space"></div>
</div>
<div class="blocks discussblocks">
	<div class="title">
		最近讨论
		<span class="icons unfolderTitleIcon"></span>
	</div>
	<div class="block">
		<a href="#" class="pic"><%= image_tag 'face.jpg' %></a>
		<div class="controlls">
			<input type="button" class="btn btn5" value="查看" />
		</div>
		<div class="name">三年级英语Unit5</div>
		<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
	</div>
	<div class="block">
		<a href="#" class="pic"><%= image_tag 'face.jpg' %></a>
		<div class="controlls">
			<input type="button" class="btn btn5" value="查看" />
		</div>
		<div class="name">三年级英语Unit5</div>
		<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
	</div>
	<div class="block">
		<a href="#" class="pic"><%= image_tag 'face.jpg' %></a>
		<div class="controlls">
			<input type="button" class="btn btn5" value="查看" />
		</div>
		<div class="name">三年级英语Unit5</div>
		<div class="summary">课程相关介绍文字课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字,课程相关介绍文字,课程相关介绍文字课程相关介绍文字,课程相关介绍文字课程相关介绍文字.</div>
	</div>
</div>