<div id="new_message_form">
  <div class="boxcontent">
    <h3 style＝‘margin-top:-10px;’>发布新消息</h3>
    <%= simple_form_for([@group, @message], remote: true) do |f| %>
      <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "错误") %> 导致此消息无法保存：</h2>

          <ul>
          <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <table class='normalTable'>
          <tr>
            <td><%= f.input :head, as: :string, hint: '必须输入标题', placeholder: '消息的标题，例如‘布置作业啦’' %></td>
          </tr>
          <tr>
            <td><%= f.input :content %></td>
          </tr>
          <tr>
            <td><%= f.button :submit, '发布', class: 'btn btnBig btn1' %></td>
          </tr>
      </table>

      <%= f.hidden_field :tags %>
      <%= f.hidden_field :posted_by_id %>
      <%= f.hidden_field :group_id %>
      <%= f.hidden_field :parent_message_id %>
    <% end %>
  </div>
</div>
