<tr id="<%= dom_id message %>">
  <td>
      <% if message.posted_by %>
      <%= link_to (image_tag message.posted_by.final_avatar.url(:original), alt: '头像'), profile_path(message.posted_by), remote: true %>
      <% else %>
      <%= link_to (image_tag 'face.jpg', alt: '头像'), '#' %>
      <% end %>
  </td>
  <td><a href="#">
      <% if message.posted_by %>
      <%= link_to message.posted_by.name, profile_path(message.posted_by), remote: true %>
      <% else %>
      <%= link_to '未知', '#' %>
      <% end %>
  </a></td>
  <td>
      <%= link_to message.head, message, remote: true %>
  </td>
  <td><%= l message.created_at %></td>
  <td>
    <%= button_to '回复', message_message_reply_path(message), method: :get, class: 'btn btn1 float_left', remote: true %>
    <%= link_to '删除', message, method: :delete, remote: true %>
  </td>
</tr>
