<table cellpadding="0" cellspacing="0" border="0" class="dataTable dataTable2">
  <thead>
    <tr>
      <th width="40">头像</th>
      <th width="120"><a href="###">用户名<span class="sicons arrowright"></span></a></th>
      <th width="350"><a href="#">标题<span class="sicons arrowright"></span></a></th>
      <th width="120"><a href="#">发表时间<span class="sicons arrowright"></span></a></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
    <%= render partial: "/messages/message", locals: { message: message } %>
    <% end %>
  </tbody>
</table>
