<div id="show_profile_div">
  <div class="topline">
  	<h1><%= if current_user == @profile.user; '我的' else "#{@profile.nickname or @profile.user.name }的" end %>个人资料</h1>
  </div>

  <div class="blocks personalsetting">
  	<table cellpadding="0" cellspacing="0" border="0" class="normalTable">
      <tr>
        <td colspan="2">
          <%= image_tag @profile.avatar, style: "margin-left: 30px;" %>
        </td>
      </tr>
  		<tr>
  			<th width="80">昵称：</th>
  			<td><%= @profile.nickname %></td>
  		</tr>
  		<tr>
  			<th>性别：</th>
  			<td><%= @profile.gender_text %> </td>
  		</tr>
  		<tr>
  			<th>个人简介：</th>
  			<td><%= @profile.description %></td>
  		</tr>
  	</table>
    <% if current_user == @profile.user %>
  	<%= button_to "编辑", edit_profile_path(@profile.user), type: 'button', class: 'btn btnBig btn1', method: :get %>
    <% end %>
  </div>
</div>