<div class="topline">
	<h1>个人设置</h1>
</div>

<div class="blocks personalsetting">
	<%= simple_form_for(@profile, url: profile_path(@profile.user.id)) do |f| %>
	<table cellpadding="0" cellspacing="0" border="0" class="normalTable">
    <tr>
      <th width="80"><%= f.label :avatar %></th>
      <td>
        <%= image_tag @profile.avatar.url(:thumb) %>
        <%= f.file_field :avatar %></td>
    </tr>
		<tr>
			<th><%= f.label :nickname %></th>
			<td><%= f.input :nickname, label: false, placeholder: '请输入昵称' %></td>
		</tr>
		<tr>
			<th><%= f.label :gender %></th>
			<td><%= f.select :gender, Profile.gender_enum %> </td>
		</tr>
		<tr>
			<th><%= f.label :description %></th>
			<td><%= f.text_area :description %></td>
		</tr>
	</table>
	<%= f.submit '保存', :class => 'btn1 btnBig' %>
	<input value="返回" type="button" class="btn btnBig btn4" onclick="window.location.href='<%= profile_path @profile %>'">
	<% end %>
</div>
