<div class="topline">
	<h1>个人设置</h1>
</div>

<div class="tabs">
	<a href="###" class="on" onclick="show_content(0);">基本设置</a>
	<a href="###" class="" onclick="show_content(1);">头像设置</a>
	<a href="###" class="" onclick="show_content(2);">安全设置</a>
	<div class="space"></div>
</div>

<div class="blocks personalsetting">
	<table cellpadding="0" cellspacing="0" border="0" class="normalTable">
		<tr>
			<th width="80">帐户类型:</th>
			<td><%= current_user.usertype %></td>
		</tr>
		<tr>
			<th>昵称:</th>
			<td><%= current_user.name %> <span class="icons editIcon"></span></td>
		</tr>
		<tr>
			<th>性别:</th>
			<td>
				<input id="lstGender_0" name="lstGender" value="1" checked="checked" type="radio" />
				<label for="lstGender_0">男</label> 
				<input id="lstGender_1" name="lstGender" value="0" type="radio" />
				<label for="lstGender_1">女</label>
				<input id="lstGender_2" name="lstGender" value="2" checked="checked" type="radio" />
				<label for="lstGender_2">保密</label>
			</td>
		</tr>
		<tr>
			<th>年级:</th>
			<td>
				<select>
					<option value=''>小学三年级</option>
					<option value=''>小学四年级</option>
					<option value=''>小学五年级</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>生日:</th>
			<td>
				<select class="date" id="selYear1"><option value="2013">2013</option><option value="1907">1907</option></select> 年 
				<select class="date" id="selMonth1"><option value="1">1</option><option value="12">12</option></select> 月
				<select class="date" id="selDay1"><option value="1">1</option><option value="31">31</option></select> 日</span>
				<span class="">隐私设置</span>
				<select name="lstBirthPrivacy" id="lstBirthPrivacy" class="ml10">
					<option value="3">显示年月日</option>
					<option value="2">显示月和日</option>
					<option value="1">显示年</option>
					<option selected="selected" value="0">不显示生日</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>地址:</th>
			<td>上海徐汇区 <span class="icons editIcon"></span></td>
		</tr>
	</table>
	<input type="button" class="btn1 btnBig" value="保存" />
</div>

<div class="blocks facesetting" style="display:none;">
	<iframe src="/forum/face.php" class='face_iframe' id='face_iframe'></iframe>
	<input type="button" id='face_refresh' class="btn1 btnBig" value="刷新头像" />
</div>
<script type="text/javascript">
$("#face_refresh").on("click", function(){
	$("#face_iframe").attr("src", "/forum/face.php?t_="+Math.random());
});
</script>

<div class="blocks safesetting" style="display:none;">
	<div class="block">
		<div>
			<span class="bicons berrorIcon"></span> 密码强度： <b>弱</b>
			<span class="icons editIcon"></span>
		</div>
		<span class="msg">建议密码由8位以上数字、字母和特殊字符组成。</span>
	</div>
	<div class="block">
		<div>
			<span class="bicons brightIcon"></span> 安全邮箱： wsw*******@126.com
			<span class="icons editIcon"></span>
		</div>
		<span class="msg">联系邮箱是我们与您联系的重要方式，可以接收社区公告、申诉等相关通知。</span>
	</div>
	<div class="block">
		<div>
			<span class="bicons berrorIcon"></span> 手机绑定： 您尚未绑定手机
			<span class="icons editIcon"></span>
		</div>
		<span class="msg">绑定手机后，可以提高账号在社区安全性。</span>
	</div>
	<div class="block">
		<div>
			<span class="bicons berrorIcon"></span> 证件信息： 尚未设置证件信息
			<span class="icons editIcon"></span>
		</div>
		<span class="msg">为了您的帐号安全，证件信息请不要透露给其他人。</span>
	</div>
	<div class="block">
		<div>
			<span class="bicons berrorIcon"></span> 安全问题： 尚未设置安全问题 
			<span class="icons editIcon"></span>
		</div>
		<span class="msg">设置安全问题后，请妥善保管你的答案。</span>
	</div>
	<div class="space"></div>
</div>
<div class="space"></div>

<script>
function show_content(id)
{
	$(".blocks").hide();
	$(".blocks:eq("+id+")").show();
	$(".tabs a").removeClass("on");
	$(".tabs a:eq("+parseInt(id)+")").addClass("on");
}
</script>