<div class="container login">
  <div class="header">
    <div class="content">
      <div class="logo"> <%= image_tag "logo_big.png" %> </div>
    </div>
  </div>
  <div class="mainbody">
    <div class="content">
      <%= form_for @user, url: join_group_member_invitations_path, method: :put,
        html: {class: 'activeform'} do |f|%>
        <%= hidden_field_tag :token, params[:token] %>
        <h2>激活账号</h2>
        <h3><%= @user.email %></h3>
        <%= f.text_field :name, :class => 'input', :addclass=>'lg_rname', :validate => 'required',
          placeholder: "姓名(必填)", autofocus: true %>
        <%= f.password_field :password, class: 'input', validate: 'required pwd', placeholder: '密码(必填)' %>
        <%= f.password_field :password_confirmation, class: 'input', validate: 'required pwd', 
          placeholder: '确认密码(必填)' %>
          
          <%= show_simple_captcha :label => '验证码' %>
        <div class="space"></div>
        <%= f.submit "激活账号", class: 'btn btn1 btnlogin' %>
        <%= render "shared/error_msg", resource: @user %>
    <% end %>
      
    </div>
  </div>
  <div class="footer">
    <div class="content">
      <p>
        <a href="#">网校首页</a> |
        <a href="#">关于我们</a> |
        <a href="#">投诉与建议</a> |
        <a href="#">联系我们</a>
      </p>
      <p>
        版权所有 &copy; 51KeHou.com 未经许可 严禁复制    建议使用1024X768分辨率浏览本站 <br />
        沪ICP备1020370538号 
      </p>
    </div>
  </div>
  <div class="space"></div>
</div>