<% attempts = assignment.attempts_by_user_id params[:user_id] %>
<% not_finished_attempts = attempts.select{|x| x.status == AssignmentAttempt::InProgress or x.status == AssignmentAttempt::NotBegin } %>
<tr>
	<td><%= assignment.name %></td>
	<td><%= assignment.creator.name %></td>
  <td><%= I18n.l assignment.begin_time if assignment.begin_time %></td>
  <td><%= I18n.l assignment.due_time if assignment.due_time %></td>
  <td><%= assignment.assigned_group.name if assignment.assigned_group_id %></td>
  <td><%= Assignment::StatusDisplayNames[assignment.status] %></td>
  <td><%= attempts.map(&:score).max %>
  <td>
    <% if attempts.empty? %>
      <%= link_to '做作业', new_assignment_attempt_path(assignment_id: assignment.id, user_id: current_user.id) %>
    <% elsif not_finished_attempts.any? %>
      <%= link_to '继续做作业', not_finished_attempts.first %>
    <% else %>
      <%= link_to '再做一次', new_assignment_attempt_path(assignment_id: assignment.id, user_id: current_user.id)%>
    <% end %>
    <br>
    <% if attempts.any? %>
      <a href='###' class='view_history_link'>查看历史</a>
    <% end %>
  </td>
</tr>
<tr style='<%= "display:none;" unless not_finished_attempts.any? %>'>
  <td colspan="7">
  <% if attempts.any? %>
    <table cellpadding="0" cellspacing="0" class="dataTable dataTable2" style='width:97%;float:right;border:1px solid #ddd;'>
      <thead>
        <tr>
          <th>状态</th>
          <th width="120">进度</th>
          <th>正确率</th>
          <th>得分</th>
          <th>完成时间</th>
          <th width="80"/>
        </tr>
      </thead>
      <tbody>
        <% (not_finished_attempts + (attempts - not_finished_attempts).sort_by(&:id).reverse).each do |attempt| %>
        <tr>
          <td><%= attempt.status_display %></td>
          <td>
            <div class="progressbar" data-progress="<%= attempt.progress %>" data-total="<%= attempt.total_count%>"></div>
          </td>
          <td><%= attempt.right_count %></span> <span>/<span> <span><%= attempt.total_count %></td>
          <td><%= attempt.score %></td>
          <td><%= (l attempt.finished_time) if attempt.status == AssignmentAttempt::Finished and attempt.finished_time != nil %></td>
          <td>
            <%= link_to '继续', attempt if attempt.status == AssignmentAttempt::InProgress %>
            <%= link_to '回顾作业', attempt if attempt.status == AssignmentAttempt::Finished %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </td>
</tr>
