<tr>
	<td notice='备注：<%= assignment.comment %> '><%= assignment.name %></td>
  <td><%= I18n.l assignment.begin_time if assignment.begin_time %></td>
  <td><%= I18n.l assignment.due_time if assignment.due_time %></td>
  <td><%= assignment.assigned_group.name if assignment.assigned_group_id %></td>
  <td><%= Assignment::StatusDisplayNames[assignment.status] %></td>
  <td>
    <div class="assignment_state">
      <p><span style="width:80px">完成人数：</span><%= link_to assignment.finished_students_ids.count, assignment_assignment_finished_path(assignment), remote: true, class: :finished %></p>
      <p><span style="width:80px">未完成人数：</span><%= link_to assignment.unfinished_students_ids.count, assignment_assignment_unfinished_path(assignment), remote: true, class: :not_finished %></p>
    </div>
  </td>
</tr>