<% attempts = assignment.attempts_by_user_id User.find(params[:user_id]).child(assignment.assigned_group_id) %>
<tr>
	<td><%= assignment.name %></td>
	<td><%= assignment.creator.name %></td>
  <td><%= I18n.l assignment.begin_time if assignment.begin_time %></td>
  <td><%= I18n.l assignment.due_time if assignment.due_time %></td>
  <td><%= if assignment.assigned_group_id; assignment.assigned_group.name; else '自己孩子'; end %></td>
  <td><%= Assignment::StatusDisplayNames[assignment.status] %></td>
  <td><%= attempts.map(&:score).max %>
  <td>
    <% if attempts.any? %>
      <a href='###' class='view_history_link'>查看历史</a>
    <% end %>
  </td>
</tr>

<tr style='display:none;'>
  <td colspan="6">
  <% if attempts.any? %>
    <table cellpadding="0" cellspacing="0" class="dataTable dataTable2" style='width:97%;float:right;border:1px solid #ddd;'>
      <thead>
        <tr>
          <th>状态</th>
          <th width="120">进度</th>
          <th>正确率</th>
          <th>得分</th>
          <th>完成时间</th>
          <th width="80"/>
        </tr>
      </thead>
      <tbody>
        <% attempts.each do |attempt| %>
        <tr>
          <td><%= attempt.status_display %></td>
          <td>
            <div class="progressbar" data-progress="<%= attempt.progress %>" data-total="<%= attempt.total_count%>"></div>
          </td>
          <td><%= attempt.right_count %></span> <span>/<span> <span><%= attempt.total_count %></td>
          <td><%= attempt.score %></td>
          <td><%= (l attempt.finished_time) if attempt.status == AssignmentAttempt::Finished and attempt.finished_time != nil %></td>
          <td>
            <%= link_to '查看作业', attempt %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </td>
</tr>