<style type="text/css">
._group select { min-width: 73%; }
</style>

<%= simple_form_for(@assignment, remote: true) do |f| %>
  <%= render 'shared/error_msg'%>

  <div><%= f.label :begin_time %>
  <%= l @assignment.begin_time %></div>

  <% if current_user.usertype == :teacher %>
  <div class='_group'><%= f.association :assigned_group, collection: current_user.groups, label_method: :name, value_method: :id, include_blank: false, prompt: '选择将作业布置到哪个群组' %></div>
  <% else %>
  <div class='_group'><%= f.association :assigned_user, collection: current_user.groups.map {|g| current_user.child(g.id)}.select {|child| child != nil}.uniq, label_method: :name, value_method: :id, include_blank: false, prompt: '选择将作业布置给谁' %></div>
  <% end %>
  <div><%= f.input :due_time %></div>
  <div><%= f.input :comment, as: :string %></div>

  <%= f.hidden_field :creator_id %>
  <%= f.hidden_field :begin_time %>
  <%= f.hidden_field :practice_id %>
  <%= f.hidden_field :status %>

  <div><%= f.submit '布置', :class=>'btn btn1' %><div>

<% end %>
