<div id="student_list_div">
  <table cellpadding="0" cellspacing="0" class="dataTable dataTable2">
    <thead>
      <th width="100">学生</th>
      <th width="80" />
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr>
      <td><%= student.name %></td>
      <td><%= link_to "查看作业", assignments_path(user_id: student.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% if @students.empty? %>
  <p>所有学生都做完作业了</p>
  <% end %>
</div>
