<% title "选择要布置的习题组" %>

<div class="topline topline_with_border">
  <h1>从书架中选择练习册中的某一组习题</h1>
  <div class="space"></div>
</div>

<div class="colcenter colcenter_without_left">
  <% @favorites.each do |favorite| %>
  <% book = favorite.book %>
  	<div class="groupblocks">
  		<div class="block">
  			<div class="wrapleft">
  				<p><%= image_tag 'http://www.51kehou.com/'+favorite.book[:pic] %></p>
  			</div>
  			<div class="wrapright">
  				<div class="topline">
  					<a href="###" class="bigtext"><%= book[:name] %></a>
  					<div><%= book[:desc] %></div>
  				</div>
  			</div>
  			<div class="space"></div>
  		</div>
  	</div>

  	<div class="space"></div>
    <div class="publics">
    	<div class="blocks bookblock">
    		<% book[:exams].each do |exam| %>
          <%= link_to exam[:name], new_assignment_path + "?practice_id=#{exam[:id]}", class: :subject, remote: true %>
    		<% end %>
    	</div>
    </div>
  	<div class="space"></div>
  <% end %>
</div>


