<div class="topline topline_with_border">
	<h1><%= @head_caption || "作业列表" %></h1>
	<!--input type="button" class="topline_right" value="" onclick="window.location='book_detail.html';" /-->
	<!--<%= link_to 'New Assignment', new_assignment_path %>-->
	<div class="space"></div>
	</div>
	<div class="blocks" style="display:none1;">

<table cellpadding="0" cellspacing="0" class="dataTable dataTable2">
  <thead>
    <tr>
    	<th width=160>作业名称</th>
      <th width=80>创建者</th>
      <th width=80>开始时间</th>
      <th width=80>截止时间</th>
      <th width=80>目标群组</th>
      <th width=40>状态</th>
      <th width=40>得分</th>
      <th width=80>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <%= render partial: 'assignment_student', locals: {assignment: assignment} %>
    <% end %>
  </tbody>
</table>
</div>
<div class="space"></div>
<%= render 'shared/error_msg'%>
<div class="space"></div>

<script type="text/javascript">
  $(function() {
    $( ".progressbar" ).each(function() {
        $(this).progressbar({
            value: $(this).data("progress") * 1,
            max: $(this).data("total") * 1
        });
    });
  });

  $(".view_history_link").on('click',function(){
    var obj = $(this);
    if(obj.parent().parent().next().css("display") == 'none')
    {
      $(obj).parent().parent().next().show(200);
    }
    else
    {
      $(obj).parent().parent().next().hide(200);
    }
  });
</script>