<div class="topline topline_with_border">
	<h1>作业列表</h1>
	<!--input type="button" class="topline_right" value="" onclick="window.location='book_detail.html';" /-->
	<!--<%= link_to 'New Assignment', new_assignment_path %>-->
	<div class="space"></div>
	</div>
	<div class="blocks" style="display:none1;">

<table cellpadding="0" cellspacing="0" class="dataTable dataTable2">
  <thead>
    <tr>
    	<th width=160>作业名称</th>
      <th width=80>开始时间</th>
      <th width=80>截止时间</th>
      <th width=80>目标群组</th>
      <th width=40>状态</th>
      <th width=120>完成情况</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <%= render assignment %>
    <% end %>
  </tbody>
</table>
</div>

<%= button_to '布置新作业', new_assignment_path, method: :get, :class=>'btn btn1 btnBig' %>
<div class="space"></div>
<%= render 'shared/error_msg'%>
<div class="space"></div>

<script type="text/javascript">
  $(function() {
    $( ".progressbar" ).each(function() {
        $(this).progressbar({
            value: $(this).data("progress") * 1,
            max: $(this).data("total") * 1
        });
    });
  });
</script>