$('#new_assignment_div').remove();
$("<%= j render 'new' %>").appendTo($('div:first')).dialog({ width: 450, height:320 });

var dv = {'一月':1,'二月':2,'三月':3,'四月':4,'五月':5,'六月':6,'七月':7,'八月':8,'九月':9,'十月':10,'十一月':11,'十二月':12};
$(function(){
  var oplist = $("#assignment_due_time_2i option");
  for(a in oplist)
  {
    $(oplist[a]).html(chg_val($(oplist[a]).html()));
  }
});

function chg_val(str)
{
  return dv[str];
}
