<% url = url_for(:controller => 'clearsky', :action => 'show_book', :id => book[:id]) %>
<div class="block">
	<a href="<%= url %>" class="pic">
		<%= image_tag book[:pic] %></a>
	<a href="<%= url %>" class="name"><%= book[:name] %></a>
  <% if current_user %>
  <%= button_to "我要收藏", new_favorite_url(current_user.id)+"?book_id="+book[:id], method: :get, book_id:book[:id], remote: true, class: "btn btn1", style: "vertical-align:middle;" %>
  <% else %>
  <%= button_to "我要收藏", new_user_session_path, method: :get, book_id:book[:id], class: "btn btn1", style: "vertical-align:middle;" %>
  <!-- <button class="btn btn1 btnBig float_left" style="vertical-align:middle;">我要收藏</button> -->
  <% end %>
</div>
