<script src="/js/jquery.jplayer.js" type="text/javascript"></script>
<script src="/js/string-format.js" type="text/javascript"></script>
<script src="/js/player.js" type="text/javascript"></script>
<script src="/js/PracticeEngine.js" type="text/javascript"></script>
<!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->
<script type="text/javascript">
var CoreObjects = {
    $BgPlayer: null // Background player which you cannot see it.
};

$(function(){
    initPlayer("jquery_jplayer_1","jp_container_1");
    initPlayer("jquery_jplayer_2","jp_container_2");
    initPlayer("jquery_jplayer_3","jp_container_3");
    initPlayer("jplayer_explain_question", "jp_container_explain_question");
    initPlayer("jplayer_listening_review", "jp_container_listening_review");

    CoreObjects.$BgPlayer = $("#jquery_jplayer_3");
    CoreObjects.$ExpPlayer = $("#jplayer_explain_question");
    CoreObjects.$ListenPlayer = $("#jplayer_listening_player");
});
</script>
<style>
.jp-gui {
	position:relative;
	padding:2px;
	width:98%;
	left: 0px;
	bottom: 0px;
}

.jp-gui a:hover {
	background-color:transparent;
}

.jp-gui.jp-no-volume {
	width:432px;
}
.jp-gui ul {
	margin:0;
	padding:0;
}
.jp-gui ul li {
	position:relative;
	float:left;
	list-style:none;
	margin:2px;
	padding:1px 0;
	cursor:pointer;
}
.jp-gui ul li a {
	margin:0 4px;
}
.jp-gui li.jp-repeat,
.jp-gui li.jp-repeat-off {
	margin-left:344px;
}

.jp-gui li.jp-mute,
.jp-gui li.jp-unmute {

}
.jp-gui li.jp-volume-max {
	margin-left:0px;
}

.jp-play,.jp-pause {
	margin-left:6px;
}

li.jp-pause,
li.jp-repeat-off,
li.jp-unmute,
.jp-no-solution {
	display:none;
}
.jp-progress-slider {
	position:relative;
	top:3px;
	left:0px;
	margin:0px 4px;
}
.jp-progress-slider .ui-slider-handle {
	cursor:pointer;
}
.jp-volume-slider {
	position:relative;
	top:5px;
	left:0px;
	width:100px;
	height:.4em;
	margin: 0px 4px;
}
.jp-volume-slider .ui-slider-handle {
	height:.8em;
	width:.8em;
	cursor:pointer;
}
.jp-gui.jp-no-volume .jp-volume-slider {
	display:none;
}
.jp-current-time,
.jp-duration {
	position:relative;
	top:0px;
	font-size:0.8em;
	cursor:default;
}
.jp-current-time {
	margin-left: 6px;
}
.jp-duration {
	margin-right: 6px;
}
.jp-gui.jp-no-volume .jp-duration {
	right:70px;
}
.jp-clearboth {
	clear:both;
}
</style>
</head>

<body>
<script type="text/javascript">
// set global variables.
var $g_readingController;
var $g_sections;
var $g_data;


function loadData() {
    $.ajax({
        url : "<%= @tongbu_url %>",
        dataType : "xml",
        success : function(data) {
            $g_data = $(data);
            var title = $g_data.children('tongbu').children('name').first().text();
            $("#tongbu_title").text(title);
            $('.topguide strong').html(title);
            g_zdxj.init($g_data);
            g_dcjx.init($g_data);
            g_ldkw.init($g_data);
            g_tblx.init($g_data);
        }
    });
}


function Page($page) {
    this.graph = $page.children("graph").first().text();
    this.loadedImage = null;
    this.audio = $page.children("mp3").first().text();
    this.lines = new Array();
    var lines = this.lines;

    var lineUrl = $page.children("line").first().text();

    // Load lines information.
    $.ajax({
        url : lineUrl,
        dataType : "xml",
        success : function(data) {
            var elements = data.documentElement.getElementsByTagName("l");
            $(elements).each(function() {
                lines.push({
                    t : this.getAttribute("t"),
                    x : this.getAttribute("x"),
                    y : this.getAttribute("y"),
                    points : $(this).text().split(",")
                });
            });
        }
    });

    // Load page's graph.
    var page = this;
    var img = document.createElement("img");
    img.onload = function() {
        page.loadedImage = this;
    }
    img.src = this.graph;
}


function Grammar($grammar) {
    this.name = $grammar.find("name").first().text();
    this.desc = $grammar.find("desc").first().text();
    this.page = new Page($grammar.children("page"));

    var name = this.name;
    var desc = this.desc;
    var page = this.page;

    // declare initialize UI function.
    // $container must refer to a div containing <div class=board> and <div class=dialog> tags, where <div class=dialog> contains
    // <audio>, <canvas>.
    this.initUI = function ($container) {
        var $board = $container.children("div.board");
        var $dialog = $container.children("div.dialog");
        var canvas = $dialog.children("div").children("canvas")[0];
        var $player = $dialog.find(".jp-jplayer");

        $dialog.hide();

        $("<h2/>").text(name).appendTo($board);
        $("<h3/>").text(desc).appendTo($board)
        .addClass("clickable")
        .click(function(event) {
            $board.hide();

            //canvas.width = 500;
            //canvas.height = 300;

            $dialog.dialog({
                dialogClass: "ui-dialog-grammar",
                modal : true,
                position : {
                    my : "center",
                    at : "center",
                    of : $container,
                    within : $container
                },
                resizable : false,
                draggable : false,
                width : $container.width(),
                height : $container.height(),
                close : function(event, ui) {
					$player.jPlayer("pause");
                    $board.show();
                },
                open : function(event, ui) {
                    var count = 0;
					start();


					function start() {
						if(	count < 3 &&
						    (typeof $player.data("paused") == "undefined" || $player.data("paused"))) {
							$player.jPlayer("setMedia", {
								mp3: page.audio
							});
							$player.jPlayer("play");
							setTimeout(start, 500);
							count ++;
						}
					}
				}
            });

            // listen to player's event.
            $player.bind($.jPlayer.event.timeupdate, function(event) {

                canvas.width = 700;
                canvas.height = 300;
                var ctx = canvas.getContext('2d');

                var lines = page.lines;
                var current = event.jPlayer.status.currentTime * 10;

                var img = page.loadedImage;
                canvas.width = img.width;
                canvas.height = img.height;
                if(img != undefined) {
                    ctx.fillStyle = ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                } else {
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                }

                ctx.beginPath();
                ctx.strokeStyle = "rgb(200, 20, 20)";
                ctx.lineWidth = 1;
                for(var i = 0; i < lines.length; i++) {
                    var line = lines[i];
                    if(current >= line.t) {
                        ctx.moveTo(line.x, line.y);
                        var v =  Math.min(line.points.length, Math.round( current - line.t)) - 1;
                        ctx.lineTo(line.points[v], line.y);
                    } else {
                        break;
                    }
                }

                ctx.stroke();
            });
        });
    }
}


function Word($word) {
    this.text = $word.children("char").text(),
    this.page = new Page($word.children("page"));
}


function Sentence($sen) {
    this.text = $sen.children("char").text(),
    this.page = new Page($sen.children("page"));
}


// $container must refer to a div containing <div class=board> and <div class=dialog> tags, where <div class=dialog> contains
// <audio>, <canvas>.
function Text($text, $container, wordlist, senlist) {
    // initialize properties.
    var name = $text.children("name").text();
    var audio = $text.children("mp3").text();
    var lrcUrl = $text.children("lrc").text();
    var txtUrl = $text.children("txt").text();

    this.name = name;
    this.audio = audio;

    // initialize html elements.
    var $textDiv = $("<div class='text'/>");
    this.$textDiv = $textDiv;

    var $board = $container.children("div.board");
    var $dialog = $container.children("div.dialog");
    var canvas = $dialog.children("canvas")[0];
    var $player = $dialog.find(".jp-jplayer");

    $dialog.hide();

    $textDiv.appendTo($board);


    // Load text content and generate HTML element into text div.
    $.ajax({
        url : txtUrl,
        dataType : "text",
        success : function(data, context) {
            $(data.split("\n")).each(function() {
                var str = this;
                $(wordlist).each(function() {
                    str = str.replace(this.text, "<span class='word'>" + this.text + "</span>");
                });
                $(senlist).each(function() {
                    str = str.replace(this.text, "<span class='sentence'>" + this.text + "</span>");
                });
                $textDiv.append($("<p/>").html(str));
            });

            $("span", $textDiv).each(function() {
                var text = $(this).text();
                for(var i = 0; i < wordlist.length; i++) {
                    if(wordlist[i].text == text) {
                        var page = wordlist[i].page;
                        $(this).data("page", page);
                        break;
                    }
                };

                for(var i = 0; i < senlist.length; i++) {
                    if(senlist[i].text == text) {
                        var page = senlist[i].page;
                        $(this).data("page", page);
                        break;
                    }
                };

                // attach "click" event handler to <span> of word or sentence.
                $(this).click(function(event) {
                    var page = $(this).data("page");

                    $dialog.dialog({
                        dialogClass: "ui-dialog-text",
                        modal : true,
                        position : {
                            my : "center",
                            at : "center",
                            of : $container,
                            within : $container
                        },
                        resizable : false,
                        draggable : false,
                        width : 460,
                        height : 400,
                        close : function(event, ui) {
                            $player.jPlayer("pause");
                        },
                        open : function(event, ui) {
                            var count = 0;
                            start();

                            function start() {
                                if( count < 3 &&
                                    (typeof $player.data("paused") == "undefined" || $player.data("paused"))) {
                                    $player.jPlayer("setMedia", {
                                        mp3: page.audio
                                    });
                                    $player.jPlayer("play");
                                    setTimeout(start, 500);

                                    // listen to player's events.
                                    $player.unbind($.jPlayer.event.timeupdate);
                                    $player.bind($.jPlayer.event.timeupdate, function(event) {
                                        canvas.width = 400;
                                        canvas.height = 300;
                                        var ctx = canvas.getContext("2d");
                                        var lines = page.lines;
                                        if(lines == undefined) {
                                            return;
                                        }

                                        var current = event.jPlayer.status.currentTime * 10;

                                        var img = page.loadedImage;
                                        if(img != undefined) {
                                            ctx.fillStyle = ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                                        } else {
                                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                                        }

                                        ctx.beginPath();
                                        ctx.strokeStyle = "rgb(200, 20, 20)";
                                        ctx.lineWidth = 1;
                                        for(var i = 0; i < lines.length; i++) {
                                            var line = lines[i];
                                            if(current >= line.t) {
                                                ctx.moveTo(line.x, line.y);
                                                var v = Math.min(line.points.length, Math.round( current - line.t)) - 1;
                                                ctx.lineTo(line.points[v], line.y);
                                            } else {
                                                break;
                                            }
                                        }

                                        ctx.stroke();
                                    });

                                    count ++;
                                }
                            }
                        }
                    });
                });
            });
        }
    });
}


// $container must refer to a div containing <div class=board> and <audio>.
function ReadingText($text, $controller, $sections, $container, $player) {
    // initialize properties.
    var name = $text.children("name").text();
    var audio = $text.children("mp3").text();
    var lrcUrl = $text.children("lrc").text();
    var txtUrl = $text.children("txt").text();

    this.name = name;
    this.audio = audio;

    // initialize html elements.
    var $div = $("<div />").appendTo($container);

    // Append section.
    $sections.append(
        $("<li/>").text(name).click(function() {
            $(g_ldkw.readinglist).each(function(index) {
                if(this.name == name) {
                    g_ldkw.switchToSection(index);
                }
            });
        })
    );

    // Load lrc.
    loadLrc(lrcUrl, $div, $controller);

    function loadLrc(url, $container, $controller) {
        var $textDiv = $("<div class='text'/>");
        $container.getTextLines = function() {
            return $textDiv.children("p");
        };

        $.ajax({
            url: url,
            success: function(data) {
                $(data.split("\n")).each(function () {
                    var line = this.substr(10);
                    if(line.length <= 0)
                        return;

                    var time = this.substring(1, 8);
                    var second = time.substr(3);
                    var minute = time.substr(0, 2);
                    var timeInSecond = minute * 60 + second - 0.3;

                    $("<p class='line'/>")
                        .html("<span>" + line + "</span>")
                        .data("time", timeInSecond)
                        .append($("<span class='clickableLink' style='width: 80px; height: 20px; display: inline-block'></span>")
                            .width(80)
                            .hover(
                                function () {
                                    $(this).text("[~重放~]");
                                },
                                function () {
                                    $(this).text("");
                                }
                            )
                            .click(function (){
                                $("span", $container).removeClass("reading");
                                var p = $(this).parent();
                                var time = p.data("time");
                                var span = p.children("span").first();
                                span.addClass("reading");

                                if($player.data("jPlayer").status.media.mp3 != audio) {
                                    $player.jPlayer("setMedia", {
                                        mp3: audio
                                    });
                                }

                                $player.jPlayer("play", time);
                                $controller.text("停止朗读");
                            })
                        )
                        .appendTo($textDiv);
                });

                $textDiv.appendTo($container);
            }
        });
    }

    this.show = function () {
        $div.show();
        $div.find("span").removeClass("reading");
        $controller.text("朗读全文");
    }

    this.hide = function () {
        $player.jPlayer("pause");
        $div.hide();
    }

    this.read = function () {
        if($player.data("jPlayer").status.media.mp3 != audio) {
            $player.jPlayer("setMedia", {
                mp3: audio
            });
        }
        $player.jPlayer("play");
        $div.find("span").removeClass("reading");
    }

    this.stop = function () {
        $player.jPlayer("pause");
        $div.find("span").removeClass("reading");
    }

    this.hightlightByTime = function(currentTime) {
        var $lines = $div.getTextLines();
        var $currentLine = undefined;

        for (var i=0; i < $lines.length; i++) {
          var $line = $($lines[i]);
          var t = $line.data("time");
          if(currentTime + 0.1 >= t) { // 0.1 is adjusting factor according to experience.
              $currentLine = $line;
          }
        }

        if($currentLine != undefined) {
            $("span", $container).removeClass("reading");
            $currentLine.children("span").first().addClass("reading");
        }
    }
}


// $container must refer to a div.
function Practice($prac, $container) {
    var name = $prac.children("name").text();
    var desc = $prac.children("desc").text();
    var addr = $prac.children("addr").text();
    var matches = addr.match(/id=(\d+)/);
    var id = null;
    if(matches != null) {
        id = matches[1];
    }

    this.name = name;
    this.desc = desc;
    this.id = id;

    var $dialog = $container.find("#practiceDialog");

    // Initialize UI.
    $("<p/>").text(name).appendTo($container);
    $("<a/>").text(desc).appendTo($container).click(function(event) {
        var pe; // Practice engine.
        $dialog.dialog({
            modal : true,
            position : {
                my : "center",
                at : "center",
                of : $container,
                within : $container
            },
            resizable : false,
            draggable : false,
            width : $container.width(),
            height : $container.height(),
            close : function(event, ui) {
                // TODO: handle close event.
                pe.close();
            },
            open : function(event, ui) {
                pe = new PracticeEngine(this, id);
            }
        });
    });
}


var g_zdxj = {
   grammars : new Array(),
   init : function ($data) {
       var grammars = this.grammars;

       var $container = $("#zdxj");
       $data.find("grammar").each(function() {
            var grammar = new Grammar($(this));
            grammar.initUI($container);
            grammars.push(grammar);
        });
   }
}; // 重点详解


var g_dcjx = {
    wordlist : new Array(),
    senlist : new Array(),
    textlist : new Array(),
    init : function($data) {
        var wordlist = this.wordlist;
        $data.find("wordlist").children("word").each(function() {
            wordlist.push(new Word($(this)));
        });

        var senlist = this.senlist;
        $data.find("senlist").children("sen").each(function() {
            senlist.push(new Sentence($(this)));
        });

        var $container = $("#dcjx");
        var textlist = this.textlist;
        $data.find("textlist").children("text").each(function() {
            textlist.push(new Text($(this), $container, wordlist, senlist));
        });
    }
}; // 单词句型


var g_ldkw = {
    readinglist : new Array(),
    currentText : null,
    init : function($data) {
        var readinglist = this.readinglist;
        var $player = CoreObjects.$BgPlayer;

        $data.find("textlist").children("text").each(function() {
            var $container = $(".mainbox #ldkw");
            readinglist.push(new ReadingText($(this), $g_readingController, $g_sections, $container, $player));
        });

        var ldkw = g_ldkw;
        // initialize controller.
        $g_readingController.click(function() {
            if(ldkw.currentText != null) {
                var $this = $(this);
                if($this.text() == "朗读全文") {
                    ldkw.currentText.read();
                    $this.text("停止朗读");
                }
                else {
                    ldkw.currentText.stop();
                    $this.text("朗读全文");
                }
            }
        })

        $player.bind($.jPlayer.event.timeupdate, function (event) {
            if(event.jPlayer.status.paused == true) {
                return;
            }

            ldkw.currentText.hightlightByTime(event.jPlayer.status.currentTime)
        });

        $player.bind($.jPlayer.event.ended, function() {
            $(".mainbox #ldkw span").removeClass("reading");
            $g_readingController.text("朗读全文");
        });

        window.setTimeout(function() { ldkw.switchToSection(0) }, 500);

    },
    switchToSection : function(index) {
        $g_sections.children("li").removeClass("on");
        $g_sections.children("li").eq(index).addClass("on");
        var ldkw = this;
        $(this.readinglist).each(function(idx) {
            if(idx == index) {
                ldkw.currentText = this;
                this.show();
            }
            else {
                this.hide();
            }
        });
    }
}; // 朗读课文


var g_tblx = {
    pralist : new Array(),
    init : function($data) {
        var pralist = this.pralist;
        var $container = $(".mainbox #tblx");
        $data.find("praclist").children("prac").each(function() {
            pralist.push(new Practice($(this), $container));
        });
    }
}

function initPage() {
    $(".floatdiv").css("margin-top", ($(".maincontent").height()-$(".floatdiv:visible").height())/2);
    $(".floatdiv").css("margin-left", ($(".maincontent").width()-$(".floatdiv:visible").width())/2);
    $(".floatdiv .close, .floatdiv .btn, .maskdiv").bind("click", function(){  $(".floatdiv").hide(); $(".maskdiv").hide(); })

    // Switch to Zhong Dian Xiang Jie page by default.
    showDiv($("div.nav li.nav1")[0],'zdxj');
}


function showFloatDiv(wid)
{
    $("."+wid).show();
    $("."+wid).css("margin-top", ($(".maincontent").height()-$("."+wid).height())/2);
    $("."+wid).css("margin-left", ($(".maincontent").width()-$("."+wid).width())/2);
    $(".maskdiv").show();
}


function showDiv(obj,id)
{
    $(".nav li").removeClass("on");
    $(obj).addClass("on");
    $(".blocks").hide();
    $("#"+id).show();
    if(id != "ldkw") {
        $g_readingController.hide();
        $g_sections.hide();
    }
    else {
        $g_readingController.show();
        $g_sections.show();
    }
}

$(function() {
   $g_readingController = $("#readingController");
   $g_sections = $(".mainbox #sections");

   loadData();

   initPage();
});
</script>

        <div class="colcenter colcenter_without_left">
            <div class="bookmode3">
                <div class="floatdiv menudiv" style="display:none;">
                    <div class="close"></div>
                    <div class="space"></div>
                    <div class="floatcontent">
                        <div class="cword">conclusion   <strong>n.[kn'klu:n]</strong> </div>
                        <p>
                            <b>词汇拓展</b><br>
                            1. 终结，结尾，最后部分<br>
                            2. 结论<br>
                            3. 结果，结局<br>
                        </p>
                        <p>
                            <b>举例</b><br>
                            In conclusion, Indians can make wonderful, inexpensive employees
                        </p>
                    </div>
                </div>

                <div class="floatdiv popdiv" style="display:none;">
                    <div class="space"></div>
                    <div class="floatcontent">
                        <p>该习题集需要付费购买 <span class="price">10.99</span> 元</p>
                        <p>
                            <input type="button" class="btn btn1" value="确认订单" />
                            <input type="button" class="btn btn2" value="取消" />
                        </p>
                    </div>
                </div>

                <div class="floatdiv playerdiv" style="display:none;">
                    <div class="close"></div>
                    <div class="space"></div>
                    <div class="floatcontent">
                        <div class="canvasDiv greenCanvas">
                            <canvas></canvas>
                        </div>
                        <div class="soundPlayer">
                            <video width="100%" height="50"></video>
                        </div>
                    </div>
                </div>

                <div class="maskdiv"></div>

                <div class="nav">
                    <div class="h2"></div>
                    <div class="h3"></div>
                    <ul>
                        <li class="nav1 on" onclick="showDiv(this,'zdxj');">重点详解</li>
                        <li class="nav2" onclick="showDiv(this,'dcjx');">单词句型</li>
                        <li class="nav3" onclick="showDiv(this,'tblx');">同步练习</li>
                        <li class="nav4" onclick="showDiv(this,'ldkw');">朗读课文</li>
                    </ul>

                    <!--ul>
                        <li onclick="showFloatDiv('menudiv');">弹出框1</li>
                        <li onclick="showFloatDiv('popdiv');">弹出框2</li>
                        <li onclick="showFloatDiv('submitdiv');">弹出框3</li>
                    </ul-->
                </div>
                <div class="mainbox">
                    <h2><span class="floatLeft" id="tongbu_title"></span></h2>
                    <h3>
                        <ul id="sections" class="tabs">
                            <!--<li class="on">Unit 1</li>
                            <li>Unit 2</li> -->
                        </ul>
                        <a id="readingController" class="floatRight readAll">朗读全文</a>
                    </h3>

                    <div class="blocks" id="zdxj" style="display:none;">
                        <div class="board"></div>
                        <div class="dialog">
                          <div style="width: 702px; height:300px; overflow:scroll;">
                            <canvas id="canvas"></canvas>
                          </div>
							<div id="jquery_jplayer_1" class="jp-jplayer"></div>
							<div id="jp_container_1" style="bottom:2px;position:absolute;width:100%;">
								<div class="jp-gui ui-widget ui-widget-content ui-corner-all">
									<ul>
										<li class="jp-play ui-state-default ui-corner-all">
											<a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
										</li>
										<li class="jp-pause ui-state-default ui-corner-all">
											<a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
										<li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
										<li><div class="jp-current-time"></div></li>
										<li><div class="jp-progress-slider" style="width:372px"></div></li>
										<li><div class="jp-duration"></div></li>

										<!--
										<li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
										<li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
										-->
										<li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
										<li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
										<li><div class="jp-volume-slider"></div></li>
										<li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li>
									</ul>
									<div class="jp-clearboth"></div>
								</div>
								<div class="jp-no-solution">
									<span>Update Required</span>
									To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
								</div>
							</div>
                        </div>
                    </div>
                    <div class="blocks" id="dcjx" style="display:none;">
                        <div class="board"></div>
                        <div class="dialog">
                            <canvas id="canvas"></canvas>
                            <div id="jquery_jplayer_2" class="jp-jplayer"></div>
                            <div id="jp_container_2" style="bottom:2px;position:absolute;width:100%;">
                                <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                                    <ul>
                                        <li class="jp-play ui-state-default ui-corner-all">
                                            <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                                        </li>
                                        <li class="jp-pause ui-state-default ui-corner-all">
                                            <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                                        <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                                        <li><div class="jp-current-time"></div></li>
                                        <li><div class="jp-progress-slider" style="width:120px"></div></li>
                                        <li><div class="jp-duration"></div></li>

                                        <!--
                                        <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                                        <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                                        -->
                                        <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                                        <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                                        <li><div class="jp-volume-slider"></div></li>
                                        <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li>
                                    </ul>
                                    <div class="jp-clearboth"></div>
                                </div>
                                <div class="jp-no-solution">
                                    <span>Update Required</span>
                                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blocks" id="tblx" style="display:none;">
                        <div id="practiceDialog" style="display: none;">

                            <!-- player for explanation of question and standard answer. -->
                            <div id="explanationDiv">
                                <div>语音讲解......</div>
                                <div id="jplayer_explain_question" class="jp-jplayer"></div>
                                <div id="jp_container_explain_question" style="bottom:2px;position:absolute;width:100%;">
                                    <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                                        <ul>
                                            <li class="jp-play ui-state-default ui-corner-all">
                                                <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                                            </li>
                                            <li class="jp-pause ui-state-default ui-corner-all">
                                                <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                                            <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                                            <li><div class="jp-current-time"></div></li>
                                            <li><div class="jp-progress-slider" style="width:120px"></div></li>
                                            <li><div class="jp-duration"></div></li>

                                            <!--
                                            <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                                            <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                                            -->
                                            <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                                            <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                                            <li><div class="jp-volume-slider"></div></li>
                                            <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li>
                                        </ul>
                                        <div class="jp-clearboth"></div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                    </div>
                                </div>
                            </div>
                            <!-- END OF player for explanation of question and standard answer. -->

                            <div id="examHeader">
                                <h2>51KeHou.com</h2>
                                <div id="div1">
                                    <div id="name"></div>
                                    <div id="timer">0:0:0</div>
                                </div>
                                <div id="div2">当前成绩为：<span id="score"></span></div>
                                <div id="continuePause">暂停答题/继续答题</div>
                                <div id="progress">
                                    <span>进度：</span>
                                    <div class="bar"></div>
                                    <span class="text">0%</span>
                                </div>
                            </div>
                            <div id="reviseHeader" style="display: none;">
                                <div id="name"></div>
                                <div>总成绩：<span id="totalScore"></span>分（百分制）</div>
                                <div>日期：<span id="date"></span></div>
                                <div id="listeningReviewDiv">
                                    <!-- player for explanation of question and standard answer. -->
                                    <div id="jplayer_listening_review" class="jp-jplayer"></div>
                                    <div id="jp_container_listening_review" style="position: absolute; top: 0px; right: 0px; width: 450px;">
                                        <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                                            <ul>
                                                <li class="jp-play ui-state-default ui-corner-all">
                                                    <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                                                </li>
                                                <li class="jp-pause ui-state-default ui-corner-all">
                                                    <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                                                <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                                                <li><div class="jp-current-time"></div></li>
                                                <li><div class="jp-progress-slider" style="width:120px"></div></li>
                                                <li><div class="jp-duration"></div></li>

                                                <!--
                                                <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                                                <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                                                -->
                                                <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                                                <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                                                <li><div class="jp-volume-slider"></div></li>
                                                <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li>
                                            </ul>
                                            <div class="jp-clearboth"></div>
                                        </div>
                                        <div class="jp-no-solution">
                                            <span>Update Required</span>
                                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                    <!-- END OF player for explanation of question and standard answer. -->
                                </div>
                            </div>
                            <div id="question"></div>
                            <ul id="questionNav"></ul>
                            <div id="answerSelector"></div>
                            <div id="answerTextbox"></div>
                            <textarea id="writingTextbox"></textarea>
                            <div id="answerForRevise"></div>
                            <div id="buttons">
                                <button id="nextButton"></button>
                                <button id="previousButton"></button>
                            </div>
                            <div id="navByTags">
                                <ul id="practice_part_types"></ul>
                                <ul id="practice_sections"></ul>
                            </div>

                            <div class="mask" style="display: none;"></div>
                            <div id="statPanel" style="display:none;" >
                                <div class="close"></div>
                                <div class="space"></div>
                                <div class="floatcontent">
                                    <div class="title"></div>
                                    <div class="testScore">
                                        <table cellpadding="0" cellspacing="0" border="0" class="testTable">
                                            <tr class="summary1">
                                                <th>总计</th>
                                                <td></td>
                                            </tr>
                                            <tr class="summary2">
                                                <th>总分</th>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="testShare">
                                        题目有点难, 让你的好友也来试试吧 <a class="icons iconShare">分享给好友</a>
                                    </div>
                                    <div class="testBtn">
                                        <input type="button" class="btn btn3" value="详细解答和错误分析" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blocks" id="ldkw" style="display:none;">
                        <div id="jquery_jplayer_3" class="jp-jplayer"></div>
                        <div id="jp_container_3" style="display:none">
                            <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                                <ul>
                                    <li class="jp-play ui-state-default ui-corner-all">
                                        <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                                    </li>
                                    <li class="jp-pause ui-state-default ui-corner-all">
                                        <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                                    <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                                    <li><div class="jp-current-time"></div></li>
                                    <li><div class="jp-progress-slider" style="width:120px"></div></li>
                                    <li><div class="jp-duration"></div></li>

                                    <!--
                                    <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                                    <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                                    -->
                                    <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                                    <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                                    <li><div class="jp-volume-slider"></div></li>
                                    <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li>
                                </ul>
                                <div class="jp-clearboth"></div>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='space'></div>
