
<script type="text/javascript">
	function assign(obj,examId) {
		$button = $(obj);
	    $.ajax({
	        url: '/clearsky/assign/' + examId + '.json',
	        type: "GET",
	        dataType: "json",
	        success: function (data) {
	            $button.hide();
	        },
	        error: function (data) {
	        	alert(eval(data.responseText));
	        }
	    });
	}
</script>

<% @books.each do |book| %>
<a href="<%= %>">
<h1><%= book[:name] %> </h1>
<%= image_tag book[:pic] %>
</a>
<p><%= book[:desc] %></p>
<span><%= book[:price] %></span>
<p><strong>试题</strong></p>
<ul>
<% book[:exams].each do |exam| %>
	<li>
		<span><%= exam[:name] %></span>
		<%= button_to_function '布置给自己作业（for testing）', "assign(this,'#{exam[:id]}')" %></li>
<% end %>
</ul>
<% end %>

<% @tongbus.each do |tongbu| %>
<h1><%= tongbu[:grade][0] %></h1>
<ul>
	<% tongbu[:units].each do |unit| %>
		<a href="<%= url_for :action => 'do_tongbu', :grade => tongbu[:grade][1], :unit => unit[:no] %>">
			<strong><%= unit[:no] %></storng>
			<span><%= unit[:name] %></span>
			<%= image_tag unit[:pic] %>
		</a>
		<p>Price: <%= unit[:price] %></p>
		<p>Desc: <%= unit[:pricedesc] %></p>
	<% end %>
</ul>
<% end %> 
