      <div class='colcenter' style="float:none; margin:0 auto; padding:20px;">
        <table width="100%" border="0" cellpadding="5" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
            <td><%= link_to (image_tag 'gradeThree.jpg'), :action=>'show_book_by_grade', :grade =>'30' %></td>
            <td><%= link_to (image_tag 'gradeFour.jpg'), :action=>'show_book_by_grade', :grade =>'40' %></td>
            <td><%= link_to (image_tag 'gradeFive.jpg'), :action=>'show_book_by_grade', :grade =>'50' %></td>
            <td><%= link_to (image_tag 'gradeSix.jpg'), :action=>'show_book_by_grade', :grade =>'60' %></td>
            <td></td>
          </tr>
         <tr>
            <td>&nbsp;</td>
            <td><%= link_to (image_tag 'gradeThree0.jpg'), :action=>'show_book_by_grade', :grade =>'35' %></td>
            <td><%= link_to (image_tag 'gradeFour0.jpg'), :action=>'show_book_by_grade', :grade =>'45' %></td>
            <td><%= link_to (image_tag 'gradeFive0.jpg'), :action=>'show_book_by_grade', :grade =>'55' %></td>
            <td><%= link_to (image_tag 'gradeSix0.jpg'), :action=>'show_book_by_grade', :grade =>'65' %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= link_to (image_tag 'juniorOne.jpg'), :action=>'show_book_by_grade', :grade =>'70' %></td>
            <td><%= link_to (image_tag 'juniorTwo.jpg'), :action=>'show_book_by_grade', :grade =>'80' %></td>
            <td><%= link_to (image_tag 'juniorThree.jpg'), :action=>'show_book_by_grade', :grade =>'90' %></td>
            <td><%= link_to (image_tag 'seniorOne.jpg'), :action=>'show_book_by_grade', :grade =>'100' %></td>
            <td><%= link_to (image_tag 'seniorTwo.jpg'), :action=>'show_book_by_grade', :grade =>'110' %></td>
            <td><%= link_to (image_tag 'seniorThree.jpg'), :action=>'show_book_by_grade', :grade =>'120' %></td>
          </tr>
		      <tr>
            <td><%= link_to (image_tag 'juniorOne0.jpg'), :action=>'show_book_by_grade', :grade =>'75' %></td>
            <td><%= link_to (image_tag 'juniorTwo0.jpg'), :action=>'show_book_by_grade', :grade =>'85' %></td>
            <td><%= link_to (image_tag 'juniorThree0.jpg'), :action=>'show_book_by_grade', :grade =>'95' %></td>
            <td><%= link_to (image_tag 'seniorOne0.jpg'), :action=>'show_book_by_grade', :grade =>'105' %></td>
            <td><%= link_to (image_tag 'seniorTwo0.jpg'), :action=>'show_book_by_grade', :grade =>'115' %></td>
            <td><%= link_to (image_tag 'seniorThree0.jpg'), :action=>'show_book_by_grade', :grade =>'125' %></td>
          </tr>
        </table>
      </div>