<div class="colcenter colcenter_without_left">
	<h2 class='header_form'>
		搜索：
		<%= form_tag(url_for(:controller => 'clearsky', :action => 'search'), :method => :get, :class => 'search_form') do %>
	      <%= text_field_tag 'keyword', @search_key %> &nbsp; 
	      <%= submit_tag '搜索', :class => 'btn btn1' %>
	  <% end %>
	</h2>

	<div class="bookblock">
		<% @books.each do |book| %>
		<% url = url_for(:controller => 'clearsky', :action => 'show_book', :id=>book[:id]) %>
		<div class="block">
			<a href="<%= url %>"><%= image_tag "http://www.51kehou.com/"+book[:pic], :class=>'pic' %></a>
			<a href="<%= url %>" class='bigtext'><%= book[:name] %></a>
		</div>
		<% end %>
		<div class="space"></div>
	</div>
</div>

<div class="space"></div>
