<div class="colright">
	<h2>相关同步辅导</h2>
	<ul class='block_xg'>
		<% @tongbus.each do |tongbu| %>
		<% tongbu['unit'].each do |unit| %>
		
		<% url = url_for(:controller => 'clearsky', :action => 'do_tongbu', :grade => (tongbu['grade'].to_f * 10).to_i, :unit => unit['num']) %>
		<li>
			<a href="<%= url %>">
				<%= image_tag "http://www.51kehou.com/"+unit['pic'], :class=>'pic' %>
				<%= unit['name'] %>
			</a>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>


<div class="colcenter colcenter_without_left">
	<h2><%= @grade_name %></h2>
	<div class="bookblock">
		<% @books.each do |book| %>
		<% url = url_for :action => 'show_book', :id=>book[:id] %>
		<div class="block">
			<a href="<%= url %>"><%= image_tag 'http://www.51kehou.com/'+book[:pic] %></a>
			<a href="<%= url %>" class='bigtext'><%= book[:name] %></a>
		</div>
		<% end %>
		<div class="space"></div>
	</div>
</div>

<div class="space"></div>
