<script src="/js/jquery.jplayer.js" type="text/javascript"></script>
<script src="/js/string-format.js" type="text/javascript"></script>
<script src="/js/player.js" type="text/javascript"></script>
<script src="/js/PracticeEngine.js" type="text/javascript"></script>
<!--[if IE]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->
<script type="text/javascript">
var CoreObjects = {
    $BgPlayer: null // Background player which you cannot see it.
};

$(function(){
    $("#help_explanation").find(".ocloseIcon").on("click", function(){
      $("#help_explanation").hide();
    });

    initPlayer("jquery_jplayer_3","jp_container_3");
    initPlayer("jplayer_explain_question", "jp_container_explain_question");
    initPlayer("jplayer_listening_player", "jp_container_listening_player");

    CoreObjects.$BgPlayer = $("#jquery_jplayer_3");
    CoreObjects.$ExpPlayer = $("#jplayer_explain_question");
    CoreObjects.$ListenPlayer = $("#jplayer_listening_player");
});
</script>

<script type="text/javascript">
$(function() {
  var $board = $("#examBoard");
  pe = new PracticeEngine($board, "<%=@practice_id %>", null, {});
});
</script>


<div class="colright">
	<h2>相关课程辅导</h2>
	<ul class='block_xg'>
		<% @books_r.each do |book| %>
		<li>
			<a href='/clearsky/book/<%= book[:id] %>'>
				<%= image_tag 'http://www.51kehou.com/'+book[:pic], :class=>'pic' %>
				<%= book[:name] %>
			</a>
		</li>
		<% end %>
	</ul>
</div>


<div class="colcenter colcenter_without_left">
				<div class="bookmode2" id="examBoard">
          <div class="msgbox help_explanation" id="help_explanation" style="display:none;">
            <div class="top"></div>
            <div class="close oicons ocloseIcon"></div>
            <div class="boxcontent">
              <br />
              <h2>我们的老师已经给你录制了详细的语音讲解，赶紧按【开始】键听一听吧。</h2>
              <br />
            </div>
          </div>
    			<!-- statPannel -->
    			<div class="maskdiv" style="display: none;"></div>
          <div id="statPanel" class="floatdiv submitdiv" style="display:none;" >
              <div class="close hicons closeIcon"></div>
              <div class="space"></div>
              <div class="floatcontent">
                  <div class="title"></div>
                  <div class="testScore">
                      <table cellpadding="0" cellspacing="0" border="0" class="testTable">
                          <tr class="summary1">
                            <th>总计</th>
                            <td></td>
                          </tr>
                          <tr class="summary2">
                            <th>总分</th>
                            <td></td>
                          </tr>
                      </table>
                  </div>
                  <div class="testShare">
                      题目有点难, 让你的好友也来试试吧 <a class="hicons iconShare">分享给好友</a>
                  </div>
                  <div class="testBtn">
                      <input type="button" class="btn btnBig btn1 statPanelClose" value="详细解答和错误分析" />
                  </div>
              </div>
          </div>
          <!-- statPannel -->

					<h2 id="examHeader">
          		<span id="div1">
              		<span id="name"></span>
              		<span id="timer">0:0:0</span>
       			</span>
          		<span id="div2">当前成绩为：<span id="score"></span></span>
          		<span id="progress" class="float_right" style='width:195px;'>
              		<span class="float_left">进度:</span>
              		<div class="bar float_left" style="width:90px; height:15px; margin:0 5px;"></div>
              		<span class="text float_left">0%</span>
          		</span>
      		</h2>

          <h2 id="reviseHeader" style="display: none;">
              <span id="name"></span>
              <span>总成绩：<span id="totalScore"></span>分（百分制）</span>
              <span>日期：<span id="date"></span></span>

              <!-- player for explanation of question and standard answer. -->
              <div id="explanationDiv" class="player" style="margin-right:30px">
                  <div id="jplayer_explain_question" class="jp-jplayer"></div>
                  <div id="jp_container_explain_question" class="player">
                      <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                          <ul>
                              <li class="jp-play ui-state-default ui-corner-all">
                                  <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                              </li>
                              <li class="jp-pause ui-state-default ui-corner-all">
                                  <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                              <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                              <li><div class="jp-current-time"></div></li>
                              <li><div class="jp-progress-slider"></div></li>
                              <li><div class="jp-duration"></div></li>
                              <!--
                                  <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                                  <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                                  <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                              -->
                              <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                              <li><div class="jp-volume-slider"></div></li>
                              <!-- <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li> -->
                          </ul>
                          <div class="jp-clearboth"></div>
                      </div>
                      <div class="jp-no-solution">
                          <span>Update Required</span>
                          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                      </div>
                  </div>
              </div>
              <!-- END OF player for explanation of question and standard answer. -->

              <div>
                  <div id="jquery_jplayer_3" class="jp-jplayer"></div>
                  <div id="jp_container_3" style="display:none">
                      <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                          <ul>
                              <li class="jp-play ui-state-default ui-corner-all">
                                  <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                              </li>
                              <li class="jp-pause ui-state-default ui-corner-all">
                                  <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                              <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                              <li><div class="jp-current-time"></div></li>
                              <li><div class="jp-progress-slider"></div></li>
                              <li><div class="jp-duration"></div></li>
                              <!--
                                  <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                                  <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                                  <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                              -->
                              <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                              <li><div class="jp-volume-slider"></div></li>
                              <!-- <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li> -->
                          </ul>
                          <div class="jp-clearboth"></div>
                      </div>
                      <div class="jp-no-solution">
                          <span>Update Required</span>
                          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                      </div>
                  </div>
              </div>
          </h2>

          <div id="listeningDiv" class="player">
              <!-- player for explanation of question and standard answer. -->
              <div id="jplayer_listening_player" class="jp-jplayer"></div>
              <div id="jp_container_listening_player" class="player">
                  <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
                      <ul>
                          <li class="jp-play ui-state-default ui-corner-all">
                              <a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a>
                          </li>
                          <li class="jp-pause ui-state-default ui-corner-all">
                              <a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
                          <li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
                          <li><div class="jp-current-time"></div></li>
                          <li><div class="jp-progress-slider"></div></li>
                          <li><div class="jp-duration"></div></li>
                          <!--
                              <li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
                              <li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
                              <li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
                          -->
                          <li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
                          <li><div class="jp-volume-slider"></div></li>
                          <!-- <li class="jp-volume-max ui-state-default ui-corner-all"><a href="javascript:;" class="jp-volume-max ui-icon ui-icon-volume-on" tabindex="1" title="max volume">max volume</a></li> -->
                      </ul>
                      <div class="jp-clearboth"></div>
                  </div>
                  <div class="jp-no-solution">
                      <span>Update Required</span>
                      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                  </div>
              </div>
              <!-- END OF player for explanation of question and standard answer. -->
          </div>

					<div class="space"></div>
					<div class="num_nav">
						<ul id="questionNav"></ul>
						<div class="space"></div>
					</div>
					<div class="space"></div>
					<div id="navByTags">
						<div id="practice_part_types" class="tabs"></div>
                		<ul id="practice_sections"  class="tabs tabs_s"></ul>
            		</div>
					<div class="mode_content">
						<div class="blocks modeblocks">
							<div id="question">
                            </div>
                            <canvas id="expCanvas" style="position:absolute;"></canvas>
							<div id="answerForRevise"></div>
						</div>
						<div class="control_bar">
							<div class="selects" id="answerSelector"></div>
							<div class="selects" id="answerTextbox"></div>
							<textarea class="selects" id="writingTextbox"></textarea>
							<div class="pages" id="buttons">
								<input type="button" class="btn btn1 btnBig" id="previousButton" value="上一题" />
								<input type="button" class="btn btn1 btnBig" id="nextButton" value="下一题" />
							</div>
					   <div class="space"></div>
					</div>
					<div class="space"></div>
				</div>
			</div>
			<div class="space"></div>
		</div>
    <div class="space"></div>
	</div>


