<div class="colright">
	<h2>相关同步练习</h2>
	<ul class='block_xg'>
		<% @books.each do |book| %>
		<li>
			<a href="<%= url_for :action => 'show_book', :id=>book[:id] %>">
				<%= image_tag "http://www.51kehou.com/"+book[:pic], :class=>'pic' %>
				<%= book[:name] %>
			</a>
		</li>
		<% end %>
	</ul>
</div>

<div class="colcenter colcenter_without_left">
	<h2><%= @grade_name %></h2>
	<div class="bookblock">
		<% @tongbus.each do |tongbu| %>
		<% tongbu['unit'].each do |unit| %>
		<% url = url_for(:controller => 'clearsky', :action => 'do_tongbu', :grade => (tongbu['grade'].to_f * 10).to_i, :unit => unit['num']) %>
		<div class="block">
			<a href="<%= url %>"><%= image_tag 'http://www.51kehou.com/'+unit['pic'] %></a>
			<a href="<%= url %>" class='bigtext'><%= unit['name'] %></a>
		</div>
		<% end %>
		<% end %>
		<div class="space"></div>
	</div>
</div>

<div class="space"></div>
