<div class="colright">
	<h2>相关课程辅导</h2>
	<ul class='block_xg'>
		<% @books_r.each do |book| %>
		<li>
			<a href='/clearsky/book/<%= book[:id] %>'>
				<%= image_tag 'http://www.51kehou.com/'+book[:pic], :class=>'pic' %>
				<%= book[:name] %>
			</a>
		</li>
		<% end %>
	</ul>
</div>

<div class="colcenter colcenter_without_left">
	<div class="groupblocks">
		<div class="block">
			<div class="wrapleft">
				<p><%= image_tag 'http://www.51kehou.com/'+@book[:pic] %></p>
			</div>
			<div class="wrapright">
				<div class="topline">
					<a href="###" class="bigtext"><%= @book[:name] %></a>
					<div><%= @book[:desc] %></div>
				</div>
			</div>
			<div class="space"></div>
		</div>
	</div>

	<div class="space"></div>

	<div class="blocks">
    <% if current_user %>
    <%= button_to "我要收藏", new_favorite_url(current_user.id)+"?book_id="+@book[:id], method: :get, book_id:@book[:id], remote: true, class: "btn btn1 btnBig float_left", style: "vertical-align:middle;" %>
    <% else %>
    <%= button_to "我要收藏", new_user_session_path, method: :get, book_id:@book[:id], class: "btn btn1 btnBig float_left", style: "vertical-align:middle;" %>
    <!-- <button class="btn btn1 btnBig float_left" style="vertical-align:middle;">我要收藏</button> -->
    <% end %>

		<!-- Baidu Button BEGIN -->
		<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
		<a class="bds_qzone"></a>
		<a class="bds_tsina"></a>
		<a class="bds_tqq"></a>
		<a class="bds_renren"></a>
		<a class="bds_t163"></a>
		<span class="bds_more">更多</span>
		<a class="shareCount"></a>
		</div>
		<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
		<script type="text/javascript" id="bdshell_js"></script>
		<script type="text/javascript">
		document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
		</script>
		<!-- Baidu Button END -->
	</div>

	<div class="space"></div>

	<div class="blocks bookblock">
		<% @book[:exams].each do |exam| %>
			<a href='<%= url_for(action: :show_practice, id: exam[:id]) %>' target='_blank' class='subject'><%= exam[:name] %></a>
		<% end %>
	</div>
</div>

<div class='space'></div>