<% book = @favorite.book %>
<div id="favorite_form">
<%= simple_form_for(@favorite, remote: true) do |f| %>
  <%= render 'shared/error_msg'%>

	<div class="groupblocks">
		<div class="block">
			<div class="topline">
				<h2><%= book[:name] %></h2>
        <%= image_tag 'http://www.51kehou.com/'+book[:pic], style: "float:left" %>
				<div style="margin-left: 112px"><%= book[:desc] %></div>
			</div>
		</div>
	</div>

  <p class="space"></p>

  <%= f.input :comment, placeholder: '可以写点备注' %>

  <%= f.input :user_id, as: :hidden %>
  <%= f.input :book_id, as: :hidden %>

  <p class="space"></p>
  <div class="actions">
    <%= f.button :submit, '收藏到我的书架', :class=>'btn btn1' %>
  </div>
<% end %>
</div>