	<div class="topline topline_with_border">
		<h1>我收藏的练习册</h1>
		<div class="space"></div>
	</div>
	<p></p>
	<div class="bookblock">
		<% @favorites.map{|x| [x, x.book] }.select{|x| x[0] != nil }.each do |favorite, book| %>
		<% url = url_for(:controller => 'clearsky', :action => 'show_book', :id => book[:id]) %>
		<div class="block" id="<%= dom_id favorite %>" notice="<%= favorite[:comment] %>">
			<a href="<%= url %>"><%= image_tag 'http://www.51kehou.com/'+book[:pic] %></a>
			<a href="<%= url %>" class='name'><%= book[:name] %></a>
			<div class="controlls">
				<!-- <span class="icons editIcon"></span> -->
				<a href="<%= url %>" class='icons viewIcon'></a>
				<%= link_to '', url_for({ action: :show, id: favorite.id }), method: :delete, remote: true, :class=>'icons removeIcon' %>
			</div>
		</div>
		<% end %>
		<div class="space"></div>
	</div>

	<% if @favorites.empty?%>
	  <div class="block">
	    <p>书架空空荡荡的，添加点东西吧。在首页中找到你感兴趣的练习册，打开练习册后你会看到“我要收藏”按钮，点击这个按钮就能把它添加到你的书架上啦。</p>
	    <p><a href='/home'><span class='highlight'>回到首页</span></a> 或 <a href='/clearsky/landing'><span class='highlight'>通过年级查找</span></a></p>
	  </div>
	<% end %>

