<div class='simple_captcha <%= "field_with_errors" if flash[:error].to_s[0..2] == "验证码" %>'>
  <input id="captcha" type="text" name="captcha" class="input input2 finput lg_vcode with_default_bg" addclass="lg_vcode" validate="required vercode" autocomplete="off">
  
  <div class="vercode">
  	<%= simple_captcha_options[:image] %>
	<a href="javascript:void(0)" id="recognize_captcha">看不清，<br>换一个</a>
	</div>
</div>

<script type="text/javascript">
	add_captcha_funcs();
</script>