
				<div class="topline">
					<h1>账户设置</h1>
			  	</div>
				<div class="noticebox msgnotice" style="display:none;">
					<span class="icons msgIcon"></span>信息已保存.
				</div>
				<div class="noticebox alarmnotice" style="display:none;">
					<span class="icons alarmIcon"></span>输入错误.
				</div>
				<div class="blocks">
					<table cellpadding="0" cellspacing="0" border="0" class="normalTable">
						<tr>
							<th width="80">用户邮箱:</th>
							<td>email@51kehou.com</td>
						</tr>
						<tr>
							<th width="80">用户名:</th>
							<td><input type="text" class="" value="chenjiawei"/></td>
						</tr>
						<tr>
							<th width="80">新密码:</th>
							<td><input type="password" class="" /></td>
						</tr>
						<tr>
							<th width="80">确认密码:</th>
							<td><input type="password" class="" /></td>
						</tr>
					</table>
					<input type="button" class="btn btn1" value="保存" />
				</div>