<script language="javascript">
</script>

<div class="container login">
	<div class="header">
		<div class="content">
			<div class="logo"><%= image_tag "logo_big.png" %></div>
		</div>
	</div>
	<div class="mainbody">
		<div class="content">
			<div class="tabs">
				<div class="tab<%= ' on' if type == 'login'-%>">用<br>户<br>登<br>录</div>
				<div class="tab<%= ' on' if type == 'register'-%>">快<br>速<br>注<br>册</div>
				<!--<div class="tab<%= ' on' if type == 'forgot_password'-%>">忘<br>记<br>密<br>码</div>-->
			</div>			
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), 
					:html => { :id => 'loginform', :class => 'loginform', :style => ('display:none' if type != 'login') }) do |f| %>
				<%= f.email_field :email, :autofocus => true,:id =>"email_input", :class => 'input finput lg_email', :addclass=>'lg_email' %>
				<%= f.password_field :password, :id=>"pwd_input", :class => 'input finput lg_lpwd', :addclass=>'lg_lpwd' %>
				<%= show_simple_captcha :label => '验证码' %>
				<div class="space"></div>
				<%= f.submit "用户登录", :class => 'btn btn1 btnlogin' %>
				<!--
				<p class="loginas"> 你也可以 <br /><a href="#"><%= image_tag "qq_login.gif" %></a></p>
				-->
				<%= render "shared/error_msg" %>
			<% end %>
			

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
					:html => { :class => "registerform", method: :post, :id => "registerform", :style => ('display:none' if type != 'register') }) do |f| %>
				<div class="roles" style="display:none;">
					<div class="role teacher"><input type="button" cdata='teacher' value="我是老师" /></div>
					<div class="role student"><input type="button" cdata='student' value="我是学生" /></div>
					<div class="role parent"><input type="button" cdata='parent' value="我是家长" /></div>
					<div class="space"></div>
				</div>
				<%= f.select :usertype, User.get_usertype_values, :selected => resource.usertype, style: 'display: none' %>
				<%= f.text_field :name, :id =>"rname_input", :class => 'input finput lg_rname', :addclass=>'lg_rname', :validate => 'required' %>
				<%= f.email_field :email, :id =>"email_input", :class => 'input finput lg_email', :addclass=>'lg_email', :validate => 'required' %>
				<%= f.password_field :password, :id =>"pwd_input", :class => 'input finput lg_pwd', :addclass=>'lg_pwd', :validate => 'required' %>
				<%= f.password_field :password_confirmation, :id =>"cpwd_input", :class => 'input finput lg_cpwd', :addclass=>'lg_cpwd', :validate => 'required'%>
				
				<%= show_simple_captcha :label => '验证码' %>
				<div class="space"></div>
  
 				<div><%= f.submit "免费注册", :class => 'btn btn1 btnlogin' %></div>
 				<%= render "shared/error_msg" %>
		<% end %>
			
			<%= form_for(resource, :as => resource_name, :url => new_password_path(resource_name),
				:html => { :class => "forgotform", :id => "forgotform", :style => ('display:none' if type != 'forgot_password')}) do |f| %>
				<p>方式一:</p>
				<input type="text" class="input finput lg_email2" addclass="lg_email2" /> 
				
				<p>方式二: </p>
				<input type="text" class="input finput lg_phone" addclass="lg_phone" />
				
				<div class="space line"></div>
				
				<%= show_simple_captcha :label => '验证码' %>
				<div class="space"></div>
				<input type="button" value="获取密码" class="btn btn1 btnlogin"  onclick="window.location='my_home_student.html'" />
				<%= render "shared/error_msg" %>
			<% end %>
		</div>
	</div>
	<div class="footer">
		<div class="content">
			<p></p>
			<p>
			</p>
			<p>
				版权所有 &copy; 51KeHou.com 未经许可 严禁复制    建议使用1024X768分辨率浏览本站 <br />
				沪ICP备1020370538号 
				<script language="javascript" src="http://count9.51yes.com/click.aspx?id=94528190&amp;logo=9" charset="gb2312"></script> 
				<script type="text/javascript"> 
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F150ae92ac15227655564f79707f8fc65' type='text/javascript'%3E%3C/script%3E"));
				</script>
			</p>
		</div>
	</div>
	<div class="space"></div>
</div>
<script language="javascript">
// tabs
$(".tabs .tab").bind("click", function(){
	var in_ = $(".tabs .tab").index(this);
	$(".tabs .tab").removeClass("on");
	$(this).addClass("on");
	$("form").hide();
	$("form:eq("+in_+")").show();
});
$(".roles input").bind("click", function(){
	$(".roles .role").removeClass("on");
	$(this).parent().addClass("on");
	var ind = $(".roles .role").index($(this).parent());
	$("#user_usertype option:eq("+ind+")").attr("selected", "selected");
});

$(document).ready(function() {
	var selected_usertype = $("#user_usertype").hide().val();
	$(".roles input[cdata='" + selected_usertype + "']").click();
	$(".finput").focus().blur();
});
// login input on focus/blur
$(".finput").on("focus", function(){
				$(this).removeClass($(this).attr("addclass"));
			})
			.on("change keyup mouseups blur", function(ev){
				if (ev.type != "blur")
				{
					$(this).parent().removeClass("field_with_errors");
				}
				var input_list = $(".finput");
				for(var a=0; a<input_list.length; a++)
				{
					if($(input_list[a]).val() == "") {
						$(input_list[a]).addClass($(input_list[a]).attr("addclass"));
					}
					else
					{
						$(input_list[a]).removeClass($(input_list[a]).attr("addclass"));
					}
				}
			});
</script>