<%= form_for(@assignment_attempt) do |f| %>
  <% if @assignment_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment_attempt.errors.count, "error") %> prohibited this assignment_attempt from being saved:</h2>

      <ul>
      <% @assignment_attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment %><br />
    <%= f.text_field :assignment %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
