<h1>Listing assignment_attempts</h1>

<table>
  <tr>
    <th>Assignment</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignment_attempts.each do |assignment_attempt| %>
  <tr>
    <td><%= assignment_attempt.assignment %></td>
    <td><%= assignment_attempt.score %></td>
    <td><%= link_to 'Show', assignment_attempt %></td>
    <td><%= link_to 'Edit', edit_assignment_attempt_path(assignment_attempt) %></td>
    <td><%= link_to 'Destroy', assignment_attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment attempt', new_assignment_attempt_path %>
