<h2><%= @subtitle %></h2>

<div class="blocks">
	<p>51课后(www.51kehou.com)网是国内最先应用多媒体互动技术教学的中小学在线学习平台之一，2010年起创立于上海。</p>

	<p>汇聚众多优秀教师，精心设计丰富有趣的多媒体互动课程，通过实时在线的互动教学、图文并茂的随堂讲义、科学全面的学业测评，为孩子带来富有成就感的在线学习体验。</p>

	<p>我们只做中小学生的英语辅导，我们更懂如何开心地提高英语成绩。 </p>
</div>

