<h2><%= @subtitle %></h2>

<div class="blocks">
	<p>如果您有意见或投诉可以通过以下方式告诉我们：</p>

	<p>1、电话方式<br>
		您可以拨打服务热线:15901801052提出宝贵意见。</p>

	<p>2、24小时值班老师<br>
		如果有课程学习方面的意见或建议，请您联系网页右上角的24小时值班老师。</p>
	
</div>

