<% if !request.user_agent.match(/msie [45678]/i) %>
  <%= javascript_include_tag "compatibility" %>
  <%= javascript_include_tag "l10n" %>
  <%= javascript_include_tag "pdf" %>
  <%= javascript_include_tag "pdfviewer" %>
  <%= stylesheet_link_tag    "viewer", :media => "all" %>
<% end %>

<script type='text/javascript'>
	var dialog_init = false;

	function downloadMaterial(id) {
		if(dialog_init == false) {
			$("#dialog").append($("<iframe />")
				.attr("id", "download_iframe")
				.attr("src", "/materials/" + id +"/?t="+Math.random())
				.attr("style", "border:none;overflow:hidden;width:380px;height:320px;")
				.attr("frameborder", "no"))
				.dialog({
					modal: true,
					resizable: false,
					width: 400,
					height: 360,
					close: function(event, ui){
						$(this).find("iframe").attr("src", "");
					}
				});
			dialog_init = true;
		}
		else {
			$("#dialog").find("iframe").attr("src", "");
			$("#dialog").find("iframe").attr("src", "/materials/" + id +"/?t="+Math.random());
			$("#dialog").dialog("open");
		}
	}


</script>

<%
	require 'coursewares_helper'
%>

<div id='dialog'></div>

<h2 class="inner_title">
	<%= trans_grade(@courseware.grade) if @courseware.grade != 0 %> <%= @courseware.topic_with_publish %>
</h2>

<div class="course_info"><b>创建者:</b> <%= @courseware.author %>  &nbsp; &nbsp; <b>最后更新时间:</b> <%= cut_string('UTF-8',@courseware.updated_at.to_s,0, 20) %></div>

<div class="blocks block_summary">
	<table><tr><td>
		<p style='word-break: break-all;'><%= simple_format @courseware.descript %></p>
	</td></tr></table>
</div>

<%  previewable = @courseware.courseware_materials.select {|x| x.is_previewable}.first %>
<%  if previewable %>
<div class="blocks" style="height: 400px">
	<b>内容预览：</b>
    <% if previewable.preview_type == :pdf and (!request.user_agent.match(/msie [45678]/i)) %>
    <%=  pdf_viewer previewable.preview_url %>
    <% elsif previewable.preview_type == :swf %>
    <%=  swf_tag previewable.preview_url %>
    <% end %>
</div>
<%  else %>
<%    abstract = @courseware.courseware_materials.select {|x| x.abstract and x.abstract.size > 0}.map {|x| x.abstract}.first %>
<%    if abstract	%>
<div class="blocks">
	<b>内容摘要：</b>
<%= simple_format abstract %>
</div>
<%    end%>
<%  end %>


<div class="blocks">
	<b>下载列表：</b>
	<ul class="relat_files">
		<% @courseware.courseware_materials.each do |x| %>
			<li><%= link_to_function x.upload_file_name, "downloadMaterial(#{x.id});" %>
				<%= button_to_function "快速下载", "downloadMaterial(#{x.id});", :class => "btn btn2 float_right" %>
			</li>
		<% end %>
	</ul>
</div>

<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<a class="bds_qzone"></a>
<a class="bds_tsina"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
<span class="bds_more">更多</span>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->

<!--
<div class="blocks">
	<button class="btn btn2 btnBig float_left" style="vertical-align:middle;">我要收藏</button>
-->
	<!-- Baidu Button BEGIN -->
<!-- 	<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
	<a class="bds_qzone"></a>
	<a class="bds_tsina"></a>
	<a class="bds_tqq"></a>
	<a class="bds_renren"></a>
	<a class="bds_t163"></a>
	<span class="bds_more">更多</span>
	<a class="shareCount"></a>
	</div>
	<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
	<script type="text/javascript" id="bdshell_js"></script>
	<script type="text/javascript">
	document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
	</script>
 -->	<!-- Baidu Button END -->
<!-- </div>

<div class="blocks relate_recomm">
	<div class="block">
		<h2>相关学习资料</h2>
		<ul>
			<li><a href="###">[牛津译林版] 高中二年级上 Unit1 This is me教案 -- 7A Unit 1 This is me.</a></li>
			<li><a href="###">[牛津译林版] 高中二年级上 Unit1 This is me教案 -- Integratde skills.</a></li>
			<li><a href="###">[牛津译林版] 高中二年级上 Unit1 This is me教案 -- Integrated skills 2.</a></li>
			<li><a href="###">[牛津译林版] 高中二年级上 Unit1 This is me教案 -- Main task.</a></li>
			<li><a href="###">[牛津译林版] 高中二年级上 Unit1 This is me教案 -- Reading (1).</a></li>
			<li><a href="###">[牛津译林版] 高中二年级上 Unit1 This is me教案 -- Welcome to the unit.</a></li>
		</ul>
	</div>
	<div class="block">
		<h2>相关学习资料</h2>
		<ul>
			<li><a href="###">二年级学习网站</a></li>
			<li><a href="###">初中一年级英语趣味辅助学习</a></li>
			<li><a href="###">初中一年级英语阅读文章推荐</a></li>
			<li><a href="###">适合二年级学习的英语课程</a></li>
			<li><a href="###">适合二年级阅读的书籍</a></li>
			<li><a href="###">适合二年级使用的电子产品</a></li>
		</ul>
	</div>
</div> -->
