<script type="text/javascript">
$(function() {
    show_content(<%= @publish_index %>);
})
</script>

<h2>
    <%= @subtitle  %>
    <div class="float_right">
    	<span>上一学期: 
    	<% if @grade_pre %>
    		<%= link_to @grade_pre_title, url_for(:action => :grade, :grade => @grade_pre)  %>
    	<% else %>
    		(无)
    	<% end %>
    	</span>
    	<span>下一学期: 
    	<% if @grade_nex %>
    		<%= link_to @grade_nex_title, url_for(:action => :grade, :grade => @grade_nex)  %>
    	<% else %>
    		(无)
    	<% end %>
    	</span>
    </div>
</h2>
<!--
<div class="blocks block_guide">
    <div class="title">
        网站导航
        <span class="icons closeIcon"></span>
    </div>
    <div class="block_left">
        <ul>
            <% @number_categories.each do |number, categ| %>
                <li><%= link_to "[#{number}] #{categ[0]}", url_for(:action => :grade_category, :grade => @grade, :category => categ[1]) %></li>
            <% end %>            
        </ul>
    </div>
    <div class="block_right">
        <p>导语： 高二阶段是高中英语学习的一个重要过渡阶段。经过了高一一开始的不适应，高二是稳定下来好好吸收知识，为高三做准备的一年。</p>
        <p>这一版块为大家提供了适合高二水平英语学习者学习的教材，词汇，语法，写作，阅读等方面的内容。希望能够帮助大家一同走好这关键的一步！</p>
    </div>
    <div class="space"></div>
</div>
-->
<div class="tabs">
    <% (0...Courseware::Publishes.size).zip(Courseware::Publishes).each do |n, x| %>
    <%= link_to_function x, "show_content(#{n})" %>
    <% end %>
    <div class="space"></div>
</div>

<div class="blocks course_list">
    <% @coursewares_by_pub.each do |pub, coursewares| %>
    <div class="blocks content_list">
        <% coursewares.each do |courseware| %>
        <div class='block'>
        		<h2>[<%= courseware.publish %>] <%= link_to courseware.topic, url_for(:action => :courseware, :id => courseware.id), :notice=>courseware.topic %></h2>
            <p><b>创建者:</b> <%= courseware.author %>  &nbsp; &nbsp; <b>最后更新时间:</b> <%= cut_string('UTF-8',courseware.updated_at.to_s,0, 20) %></p>
		        <p>
		        	<b>简介:</b> <%= courseware.descript %> ...
		        	<%= link_to "查看详细", url_for(:action => :courseware, :id => courseware.id), :class=>'seemore' %>
		        </p>
        </div>
        <% end %>
    </div>

    <% end %>
</div>

<script>
var $block_list = $(".course_list .blocks");
var block_list = [];
for(var a=0; a<$block_list.length; a++)
{
	block_list.push(new Pages($($block_list[a]), $("body")));
}

function show_content(ind)
{
	for(b in block_list)
	{
		block_list[b].hide();
	}
	block_list[ind].show();
	$(".course_list .blocks").hide();
	$(".course_list .blocks:eq("+ind+")").show();
	$(".tabs a").removeClass("on");
	$(".tabs a:eq("+parseInt(ind)+")").addClass("on");
}

</script>
