<script type="text/javascript">
$(function() {
    show_content(<%= @publish_index %>);
})
</script>

<h2>
<%= @subtitle %> <span class="icons arrowdown"></span>
</h2>

<div class="msgbox content_cate" id="topmenu" style="display:block;">
<div class="top"></div>
<div class="boxcontent" style="display:none;">
    <ul>
        <% @number_categories.each do |number, categ| %>
            <li><%= link_to "[#{number}] #{categ[0]}", url_for(:action => :grade_category, :grade => @grade, :category => categ[1]) %></li>
        <% end %>            
    </ul>
</div>
</div>

<div class="tabs">
    <% (0...Courseware::Publishes.size).zip(Courseware::Publishes).each do |n, x| %>
    <%= link_to_function x, "show_content(#{n})" %>
    <% end %>
    <div class="space"></div>
</div>

<div class="blocks1 course_list">
    <% @coursewares_by_pub.each do |pub, coursewares| %>
    <div class="blocks">
        <h2><%= @subtitle%> - <%= pub %></h2>
        <ul>
            <% coursewares.each do |courseware| %>
            <li><%= link_to courseware.topic, url_for(:action => :courseware, :id => courseware.id) %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>
