
			<div class="colcenter" style='margin-top:5px; margin-left:0px;'>
				<div class="pic_show" style="width:100%; height:300px; overflow:hidden;">
                    <div class="block">
                        <a href="#1"><%= image_tag 'top_dis_01.jpg' %></a>
                    </div>
                    <div class="block">
                        <a href="#2"><%= image_tag 'top_dis_02.jpg' %></a>
                    </div>
                    <div class="block">
                        <a href="#3"><%= image_tag 'top_dis_03.jpg' %></a>
                    </div>
                    <div class="block">
                        <a href="#4"><%= image_tag 'top_dis_04.jpg' %></a>
                    </div>
                </div>

				<script type="text/javascript">
				var picshow = new PicShow($(".pic_show"));
				</script>
				<div class="space"></div>

				<div class="resource_recm">
					<div class="tabs">
						<b>课件资料下载导航</b> &nbsp; &nbsp;
						<a href="###" class="" onclick="show_content(0);">小学课件</a>
						<a href="###" class="" onclick="show_content(1);">初中课件</a>
						<a href="###" class="" onclick="show_content(2);">高中课件</a>
						<a href="###" class="" onclick="show_content(3);">留学课件</a>
						<div class="space"></div>
					</div>

					<% @material_navigate.each do |category| %>
					<div class='blocks' style='display:none;'>
		                <table cellpadding="0" cellspacing="0" border="0" class="listTable">
		                    <tr>
		                        <th rowspan="<%= category[1].size + 1 %>" width="20"><%= category[0] %></th>
		                    </tr>
		                    <% category[1].each do |grade| %>
		                    <tr>
		                        <td>
		                            <span><%= grade[0] %></span>
		                            <% grade[1].each do |publish| %>
		                                <%= link_to publish[0], publish[1] %>
		                            <% end %>
		                        </td>
		                    </tr>
		                    <% end %>
		                </table>
	            	</div>
	                <% end %>

					<script>
					$(".resource_recm .tabs a:first").click();
					function show_content(id)
					{
						$(".resource_recm .blocks").hide();
						$(".resource_recm .blocks:eq("+id+")").show();
						$(".resource_recm .tabs a").removeClass("on");
						$(".resource_recm .tabs a:eq("+parseInt(id)+")").addClass("on");
					}
					</script>
				</div>

				<div class="space"></div>

                <div class="ad01">
                    <% if current_user %>
                        <%= link_to (image_tag "top_dis_11.png"), groups_path(user_id: current_user.id), :class => "mmnks #{'on' if controller_name == "groups"}" %>
                    <% else %>
                        <%= link_to (image_tag "top_dis_11.png"), url_for("/login") %>
                    <% end %>
                </div>

				<div class="space"></div>

				<!-- <h2>
					同步课程辅导
					<span class="p_navs">
						<span class="p_dot"></span>
						<span class="p_dot on"></span>
						<span class="p_dot"></span>
						<span class="p_dot"></span>
					</span>
					<a href="###" class="more">更多</a>
				</h2>
				<div class="blocks bookblock">
					<div class="p_control">
						<div class="p_left"></div>
						<div class="p_right"></div>
					</div>
					<div class="p_list">
						<div class="block">
							<a href="book_detail.html" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
							<a href="book_detail.html" class="name">三年级英语 Unit5 课程相关介绍文字课程相关</a>
						</div>
						<div class="block">
							<a href="book_detail.html" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
							<a href="book_detail.html" class="name">三年级英语 Unit5 课程相关介绍文字课程相关</a>
						</div>
						<div class="block">
							<a href="book_detail.html" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
							<a href="book_detail.html" class="name">三年级英语 Unit5 课程相关介绍文字课程相关</a>
						</div>
						<div class="block">
							<a href="book_detail.html" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
							<a href="book_detail.html" class="name">三年级英语 Unit5 课程相关介绍文字课程相关</a>
						</div>
						<div class="block">
							<a href="book_detail.html" class="pic"><%= image_tag 'course/yuwen.gif' %></a>
							<a href="book_detail.html" class="name">三年级英语 Unit5 课程相关介绍文字课程相关</a>
						</div>
					</div>
				</div>
				<div class="space"></div> -->

				<h2>
					同步练习推荐
					<a href="/clearsky/landing" class="more">更多</a></h2>
				<div class="blocks bookblock">
					<div class="p_control">
						<div class="p_left"></div>
						<div class="p_right"></div>
					</div>
					<div class="p_list">
						<% @recomm_school[:books].each do |book| %>
                        <%= render partial: "clearsky/book", locals: {book: book } %>
                        <% end %>
						<div class='space'></div>
					</div>
				</div>

				<div class="space"></div>

				<h2 class="noborder nomargin"><%= image_tag 'h2_top_xx.png' %></h2>
				<div class="blocks bookblock bookblock_with_border">
					<div class="p_control">
						<div class="p_left"></div>
						<div class="p_right"></div>
					</div>
					<div class="p_list">
						<% @elementary_school[:books].each do |book| %>
            <%= render partial: "clearsky/book", locals: {book: book } %>
						<% end %>
						<div class='space'></div>
					</div>
				</div>

				<div class="space"></div>

				<h2 class="noborder nomargin"><%= image_tag 'h2_top_cz.png' %></h2>
				<div class="blocks bookblock bookblock_with_border">
					<div class="p_control">
						<div class="p_left"></div>
						<div class="p_right"></div>
					</div>
					<div class="p_list">
						<% @middle_school[:books].each do |book| %>
            <%= render partial: "clearsky/book", locals: {book: book } %>
						<% end %>
						<div class='space'></div>
					</div>
				</div>

				<div class="space"></div>

				<h2 class="noborder nomargin"><%= image_tag 'h2_top_gz.png' %></h2>
				<div class="blocks bookblock bookblock_with_border">
					<div class="p_control">
						<div class="p_left"></div>
						<div class="p_right"></div>
					</div>
					<div class="p_list">
						<% @high_school[:books].each do |book| %>
            <%= render partial: "clearsky/book", locals: {book: book } %>
						<% end %>
						<div class='space'></div>
					</div>
				</div>

				<script type="text/javascript">
				var book_blocks = [];
				$(function () {
					var $objs = $(".bookblock");
					for(var a=0; a<$objs.length; a++)
					{
						book_blocks.push(new Books($($objs[a])));
					}
				});
				</script>

				<div class="space"></div>
				<p></p>
			</div>
			