<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
	<div style="display:none;">
		<% if current_user %>
			<%= link_to('', destroy_user_session_path, :method => :delete, :id => "logoutlink") %>
		<% elsif current_admin %>
			<%= link_to('', destroy_admin_session_path, :method => :delete, :id => "logoutlink") %>
		<% else %>
			<%= link_to('', root_path, :method => :get, :id => "logoutlink") %>
		<% end %>
	</div>
	<script type="text/javascript">
		$(function() {
			do_logout();
		})
	</script>
</body>