<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @page_title %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body style='padding:0 10px;'>
	<%= form_tag(url_for(:action => :material_download, :id => @material.id), :method => 'post') do %>
		<p>下载:<p>
		<p><%= @material.upload_file_name %></p>
		<%= show_simple_captcha %>
		<br/>
		<%= submit_tag '下载', :class=>"btn btn1 btnBig" %>
		<% if flash[:error] != nil %>
			<p class="alert"><%= flash[:error] %></p>
		<% end %>
	<% end %>

<script>
resetInnerPageHight("download_iframe");
</script>
</body>
</html>