<h2><%= @subtitle %></h2>

<div class="blocks content_list" id="searchlist">
    <% @coursewares.each do |courseware| %>
    <div class="block">
    	<h2>[<%= courseware.publish %>] <%= link_to courseware.topic, url_for(:action => :courseware, :id => courseware.id), :notice=>courseware.topic %></h2>
        <p><b>创建者:</b> <%= courseware.author %>  &nbsp; &nbsp; <b>最后更新时间:</b> <%= cut_string('UTF-8',courseware.updated_at.to_s,0, 20) %></p>
        <p>
        	<b>简介:</b> <%= courseware.descript %> ...
        	<%= link_to "查看详细", url_for(:action => :courseware, :id => courseware.id), :class=>'seemore' %>
        </p>
    </div>
    <% end %>
</div>

<script>

var pg = new Pages($("#searchlist"), $("body"))
pg.goto_page(1);
</script>
