<%= simple_form_for(@group) do |f| %>
  <input type="button" class="topline_right" value="返回" onclick="window.location='<%= groups_path(user_id: current_user.id) %>';" />
  <div class="space"></div>
  </div>

  <div class="blocks facesetting">
  <div class="block blocksmall">
    <%= image_tag @group.avatar.url(:thumb), class: 'smallface' %>
    <%= image_tag @group.avatar.url, class: 'bigface' %></div>
  <div class="block">
    <div>请选择新的照片文件，文件需小于2MB</div>
    <p>
      <%= f.input :avatar, as: :file, label: false %></p>
    <!-- <p>
      如果你使用的浏览器上传不了头像，请
      <a href="#">点击这里上传</a>
    </p> -->
  </div>
  <p class="space"></p>
  </div>

  <div class="blocks personalsetting">
  <table cellpadding="0" cellspacing="0" border="0" class="normalTable">
    <tr>
      <th width="80">群名称:</th>
      <td>
        <%= f.input :name, label: false, autofocus: true %></td>
    </tr>
    <tr>
      <th>群介绍:</th>
      <td>
        <%= f.input :desc, as: :text, label: false %></td>
    </tr>
  </table>
  <%= f.submit "保存", class: "btn1 btnBig", id:'submit_btn' %>
  <div class='noticebox' id='submit_msg' style='display:none;'>正在保存，如果页面<b>60</b>秒内没有跳转，请<a href='###' onclick='window.location.reload();'>刷新页面</a>。</div>
  <div class="space"></div>
<% end %>


<script type="text/javascript">
$("#submit_btn").on("click", function(){
  $(this).hide();
  $("#submit_msg").show();
})
</script>