<div class="msgbox" id="addchar" style="width:350px; display:none;">
  <div class="boxcontent">
    <h2>
      添加组员
      <span class="icons closeIcon float_right"></span>
    </h2>
    <%= form_for(GroupMemberVirtualInvitation.new, html: {id: 'invite_member_form'},
      url: group_members_path(user_id: current_user.id), format: :json, remote: true) do |f| %>
      <%= f.hidden_field :group_id, value: @group.id %>
      <table cellpadding="0" cellspacing="0" border="0" class="normalTable">
        <tr>
          <th width="80">学生名字:</th>
          <td>
            <%= f.text_field :child_name%>
          </td>
        </tr>
        <tr>
          <th width="80">学生邮箱:</th>
          <td>
            <%= f.text_field :child_email %>
          </td>
        </tr>
        <tr>
          <th>家长邮箱:</th>
          <td>
            <%= f.text_field :parent_email %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.submit "确认提交", class: 'btn btn1' %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
