<div class="guide_mask"></div>
<div class="guide_steps teacher_grooup_step1">
  <div class="guide_skip_btn"></div>
  <div class="guide_btn">
    <input type="button" class="btn btn1 btnBig" value="创建小组" onclick="window.location='<%= new_group_path %>';" />
  </div>
  <div class="guide_arrow"></div>
  <div class="guide_text">你还没有自己的小组群, 赶紧创建一个吧</div>

  <div class="guide_txt guide_txt1"><h3>1. 创建一个小组</h3></div>
  <div class="guide_txt guide_txt1"><h3>2. 添加小组成员</h3></div>
  <div class="guide_txt guide_txt1"><h3>3. 和小组成员交流</h3><p>在这里, 你可以给他们共享教学资源, 布置作业, 群发消息等等.</p></div>
</div>

<% title "我的小组" %>

<div class="topline topline_with_border">
  <h1>我的小组</h1>
  <% if current_user.usertype == :teacher %>
  <%= button_to "创建小组", new_group_path, class: 'btn btn1 btnBig topline_right',
    method: :get %>
  <% end %>
  <div class="space"></div>
</div>
<div class="blocks groupblocks">
  <% @groups.each do |group| %>
    <div class="block">
      <div class="wrapleft">
        <p>
          <%= link_to group do %>
            <%= image_tag group.avatar.url %>
          <% end %>
        </p>
      </div>
      <div class="wrapright">
        <div class="topline">
          <%= link_to truncate_u(group.name, 30), group, class: 'bigtext' %>
          ( 群成员
          <%= link_to group.members.count, group %>
          )
          <span class="icons viewIcon" onclick="window.location='<%= edit_group_path(group) %>';"></span>
          <div>最近更新 <%= l group.updated_at %></div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="dataTable" style='display:none;'>
          <tr>
            <td width="35">
              <a href="#">
                <%= image_tag "face_2.jpg" %>
              </a>
            </td>
            <td width="120">
              <a href="#">chenjiawei</a>
            </td>
            <td width="70">共享文件</td>
            <td>
              <a href="#">教学平台功能文档.doc</a>
            </td>
          </tr>
          <tr>
            <td width="35">
              <a href="#">
                <img src="../images/face_2.jpg" />
              </a>
            </td>
            <td width="120">
              <a href="#">chenjiawei</a>
            </td>
            <td width="70">发表留言</td>
            <td>
              <a href="#">有人参加明天的活动没?</a>
            </td>
          </tr>
          <tr>
            <td width="35">
              <a href="#">
                <img src="../images/face_2.jpg" />
              </a>
            </td>
            <td width="120">
              <a href="#">chenjiawei</a>
            </td>
            <td width="70">完成作业</td>
            <td>
              <a href="#">初中 阅读理解练习 C1-21, 得分 75.</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="space"></div>
    </div>
  <% end %>
  <div class="space"></div>
</div>


<script>
var list = new Array();
$(document).ready(function(){
  if($(".groupblocks .block").length <= 0)
  {
    set_help_steps();
  }
});
function stepHelp($obj)
{
  this.$obj = $obj;
  this.$mask = $obj.find(".guide_mask");
  this.$step = $obj.find(".guide_steps");
  this.$close = $obj.find(".guide_skip_btn");

  this.init = function(){
    this.$mask.width(this.$obj.width() + parseInt(this.$obj.css("padding-left")) + parseInt(this.$obj.css("padding-right")));
    this.$mask.height(this.$obj.height() + parseInt(this.$obj.css("padding-top")) + parseInt(this.$obj.css("padding-bottom")));
    this.$mask.css({"margin-left": -parseInt(this.$obj.css("padding-left")),
            "margin-top": -parseInt(this.$obj.css("padding-top")), });
    this.$step.width(this.$obj.width());
    this.$step.height(this.$obj.height());
    this.bind_funcs();
  };

  this.show_help = function(){
    this.$mask.show();
    this.$step.show();
  };

  this.hide_help = function(){
    this.$mask.hide();
    this.$step.hide();
  };

  this.bind_funcs = function(){
    var self = this;
    this.$close.bind("click", function(){
      self.hide_help();
    });
  };

  this.init();
  this.show_help();
}
function set_help_steps()
{
  var steps = $(".maincontent");
  for(var a=0; a<steps.length; a++)
  {
    //alert(new stepHelp(steps[a]);
    list.push(new stepHelp($(steps[a])));
  }
}
</script>
