<% title "修改小组信息" %>

<div class="topline topline_with_border">
  <h1>我的小组</h1>
  <%= button_to "返回小组", groups_path({user_id: current_user.id}), class: 'topline_right', method: 'get' %>
  <div class="space"></div>
  </div>
<div class="blocks groupblocks" id="title">
  <div class="block" style="padding-bottom:0px;">
    <div class="wrapleft">
      <p><%= image_tag @group.avatar.url %></p>
    </div>
    <div class="wrapright">
      <div class="topline">
        <%= link_to @group.name, @group, class: 'bigtext' %>
        ( 群成员 <%= link_to @group.members.count, group_path({user_id: current_user.id, id: @group.id}) %> )
        <%= link_to @group, method: :delete, confirm: '确认删除该小组吗？' do %>
          <span class="icons removeIcon"></span>
        <% end %>
        <div>最近更新 <%= l @group.updated_at %></div>
        <div class='group-desc' data-fulldesc="<%= @group.desc %>"><%= truncate_u @group.desc, 240 %>
          <% if realength(@group.desc) > 240 %>
            <a class="group-desc-more-trigger">更多</a></div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="tabs">
  <a href="###" class="on" onclick="show_content(0);">小组成员</a>
  <a href="###" class="" onclick="show_content(1);">小组消息</a>
  <a href="###" class="" onclick="show_content(2);">共享文件</a>
  <div class="space"></div>
</div>

<div class="groups_list">
  <div class="blocks groupbc">
  <% @group.members.students.each do |member| %>
    <div class="block">
      <p>
        <span class="icons charStudentIcon" notice="学生"></span>
        <a href="#" class="face <%= 'actived' if member.joined_at %>">
          <%= image_tag member.joined_at ? "face_2.jpg" : "face.jpg" %>
        </a>
        <span class="name">
          <a href="#"><%= member.name %></a>
          <a href="#"><%= member.user.email %></a>
        </span>
      </p>
      <% parent = member.parent %>
      <% if parent %>
        <p>
          <span class="icons charParentIcon" notice="家长"></span>
          <a href="#" class="face <%= 'actived' if parent.joined_at %>">
            <%= image_tag parent.joined_at ? "face_2.jpg" : "face.jpg" %>
          </a>
          <span class="name">
            <a href="#"><%= parent.name %></a>
            <a href="#"><%= parent.user.email %></a>
          </span>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if current_user.usertype == :teacher %>
  <div class="addBtn">
    <button class="btn1 btnBig addcharbtn">+ 添加组员</button>
  </div>
  <% end %>
</div>

<%= render "new_member_form" %>

<div id="message_div" class="blocks groupblocks" style="display:none;">
  <div class="headerform">
    <%= button_to "发布消息", new_group_message_path(@group), :remote => true, :class => 'btn1 btnBig', method: 'get' %>
  </div>
  <table cellpadding="0" cellspacing="0" border="0" class="dataTable dataTable2">
    <thead>
      <tr>
        <th width="40">头像</th>
        <th width="120"><a href="###">用户名<span class="sicons arrowright"></span></a></th>
        <th width="350"><a href="#">标题<span class="sicons arrowright"></span></a></th>
        <th width="120"><a href="#">发表时间<span class="sicons arrowright"></span></a></th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
      <%= render partial: "/messages/message", locals: { message: message } %>
      <% end %>
    </tbody>
  </table>

  <p class="space"></p>
</div>

<div id="shared_file_div" class="blocks groupblocks" style="display:none;">
  <div class="headerform">
    <%= button_to "上传文件", "/groups/#{@group.id}/shared_files/new", :remote => true, :class => 'btn1 btnBig', method: 'get' %>
  </div>
  <table cellpadding="0" cellspacing="0" border="0" class="dataTable dataTable2">
    <thead>
      <tr>
        <th width="40">头像</th>
        <th width="120"><a href="###">用户名<span class="sicons arrowright"></span></a></th>
        <th width="350"><a href="#">文件名<span class="sicons arrowright"></span></a></th>
        <th width="120"><a href="#">上传时间<span class="sicons arrowright"></span></a></th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @shared_files.each do |shared| %>
      <%= render partial: "/shared_files/shared_file", locals: { shared_file: shared } %>
      <% end %>
    </tbody>
  </table>
  <p class="space"></p>
</div>
</div>
