/* CSS Document */
*:link, *:visited, *:hover, *:active, *:focus {
-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
}

body { margin:0; padding:0; font-family:Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; font-size:12px; color: #000; }
img { border:none; display:inline; }
input[type*="radio"] { margin-right:5px; }
a.btn1, button, input[type*="button"], input[type*="submit"], input[type*="reset"] {
	padding:3px 5px; border:1px solid #999; color:#333; text-decoration:none; cursor:pointer; display:inline-block; text-align:center; line-height:1;
	background-color:#f7f7f7; *overflow:visible;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
	background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-text-shadow:0px 1px 1px #fff; -webkit-text-shadow:0px 1px 1px #fff; text-shadow:0px 1px 1px #fff; -o-text-shadow: 0px 1px 1px #fff;
	-moz-box-shadow:1px 1px 2px #999; -webkit-box-shadow:1px 1px 2px #999; box-shadow:1px 1px 2px #999; -o-box-shadow: #999 3px 3px 4px;
}
button:hover, input[type*="button"]:hover, input[type*="submit"]:hover, input[type*="reset"]:hover { 
	background:#efefef; *overflow:visible;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
	background-image: -moz-linear-gradient(center top , #dddddd, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
}
button:active, input[type*="button"]:active, input[type*="submit"]:active, input[type*="reset"]:active { 
	position:relative; top:1px; left:1px; *overflow:visible;
	-moz-box-shadow:0px 0px 1px #bbb;  -webkit-box-shadow:0px 0px 1px #bbb; box-shadow:0px 0px 1px #bbb;
}

input[type*="radio"] { position:relative; top:-3px; }
label { margin-right:15px; cursor:pointer; }
input[type*="text"], input[type*="password"], textarea { font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:3px 5px; border:1px solid #cdcdcd; color:#444; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
select { font-family:Arial, Helvetica, sans-serif; font-size:12px; border:1px solid #cdcdcd; color:#444; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:1px; padding-left:3px;  }

a.btn, input.btn, button.btn { min-width:80px; } 
*+html a.btn, *+html input.btn, *+html button.btn  { min-width:auto; } /* IE7 */


input.btn {  }
a.btn1, a.btn1:hover, input.btn1, input.btn1:hover, button.btn1, button.btn1:hover  { 
	background-color:#37b0c4; color:#fff; border-color:#2A94A6; padding:0px 10px; height:30px; font-size:12px; font-weight:bold; 
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#45b9cb), to(#22a2b8));
	background-image: -moz-linear-gradient(center top , #45b9cb, #22a2b8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b9cb', endColorstr='#22a2b8'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b9cb', endColorstr='#22a2b8')" ; /* IE8 */
	-moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none; -o-text-shadow:none;
}
a.btn2, input.btn2, input.btn2:hover, button.btn2, button.btn2:hover { 
	background-color:#9cb4ba; color:#fff; border-color:#688b8e; padding:0px 10px; height:30px; font-size:12px; font-weight:bold;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aac0c7), to(#88a1a7));
	background-image: -moz-linear-gradient(center top , #aac0c7, #88a1a7);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac0c7', endColorstr='#88a1a7'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac0c7', endColorstr='#88a1a7')" ; /* IE8 */
	-moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none; -o-text-shadow:none;
}
input.btn3, input.btn3:hover, button.btn3, button.btn3:hover { 
	background-color:#464646; color:#fff; border-color:#333; padding:0px 10px; height:30px; font-size:12px; font-weight:bold;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#333333));
	background-image: -moz-linear-gradient(center top , #555555, #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333')" ; /* IE8 */
	-moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none; -o-text-shadow:none;
}
input.btnBig, input.btnBig { font-size:14px; min-width:110px; }

button.disabled { filter:alpha(opacity=20);  -moz-opacity:0.20;  opacity:0.20; background-image:none; color:#000; }
button.disabled:hover { color:#000; }

input.isDisabled, button.isDisabled, .isDisabled { color:#aaa; background:#ddd; filter:none; text-shadow:none; box-shadow:none; }
input.isDisabled:hover, button.isDisabled:hover, .isDisabled:hover { color:#aaa; background:#ddd; filter:none; }

button, input , textarea, select { font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; vertical-align:middle;}
select { height:21px; }
input.errorInput, textarea.errorInput { border:1px solid red; padding:3px 5px; }
select.errorInput { padding:1px 1px; }
.hide { display:none; }

h1,h2,h3,h4,h5,h6 { margin:0px; padding:0px; line-height:1; margin-bottom:15px; }
h1 { height:45px; font-size:30px; font-weight:bold; margin-bottom:10px; padding-bottom:10px; padding-left:55px; margin-right:20px; position:relative; background:url(images/h1_bg.jpg) 4px 2px no-repeat; line-height:45px; color:#0F4D58; font-family:Arial, Helvetica, sans-serif; }
h1 span {
	position:absolute; width:100%; height:30px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
	-moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
	/* for ie background-color:#fff; filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=20,finishx=0,finishy=90); */
}
h2 { font-size:24px; font-weight:normal; margin-bottom:15px; padding-bottom:10px; }

a { text-decoration:none; color:#0083B7; cursor:pointer; font-weight:bold; }
a:hover {  background-color:#0083B7; color:#fff; }

.imgLink:hover { background:none; }

.space { clear:both; }

.disabled { color:#ddd; cursor:default; text-decoration:none; }
.disabled:hover { color:#ddd; background:none; }
.clear { clear:both; }
.highlight { background:yellow; color:#000; padding:inherit 3px; }
.special { font-size:14px; font-weight:bold; color:green; }  /* for big number highlight from texts */

.dataTable {  margin-bottom:15px; width:100%; border-top:1px solid #e2e2e2; border:none; font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; background:#EBF7FB; }
.dataTable th, .dataTable td { padding:3px; border-bottom:1px solid #DBE5E9; border-left:1px solid #DBE5E9; line-height:2; vertical-align:top;  }
.dataTable th { text-align:left; background:url(images/grid_table_th_bg.gif) top repeat-x; color:#fff; line-height:1.2; min-height:20px; padding-top:5px; padding-bottom:5px; }
.dataTable th:last-child, .dataTable td:last-child { border-right:1px solid #DBE5E9; }
.dataTable td { color:#323232;  background:#EBF7FB; }
.dataTable td a { font-size:12px; font-weight:bold; color:#25A9E0; }
.dataTable a:hover { background-color:#25A9E0; color:#fff; }
.dataTable a.icons:hover { background-color:#fff; border:1px solid #fff; padding:0px; }
.dataTable .amountStyle { text-align:right; }
.dataTable tr.error td { color:#FF0000; background:#FFFFE8;  }


.gridTable { margin-bottom:15px; background:#fff; font-size:12px; }
.gridTable td { vertical-align:top; background:#fff; font-size:12px; }
.gridTable img { max-width:100px; max-height:100px; _width:100px; _height:100px; border:none; margin:0 auto; }
.gridTable a:hover { background-color:#25A9E0; color:#fff; }

.red { color:red; }
.green { color:green; }
.grey { color:#999; }
.redbg { color:#fff; background:red; }
.greenbg { color:#fff; background:green; }

.gridTable .clickedable { cursor:pointer; }


.normalTableOut { margin:0 20px 15px 0; }
.normalTable { width:100%; margin-bottom:15px; }
.normalTable td, .normalTable th { vertical-align:top; text-align:left; line-height:1.6; padding:6px 0 10px 2px; color:#323232; }
.normalTable th span { font-weight:bold; color:red; font-size:120%; line-height:1; }
.normalTable th span.icons {font-size:100%;}
.normalTable input[type*="text"], .normalTable input[type*="password"] { min-width:250px; } /**/
.normalTable select { width:262px; } /**/
.normalTable input.smallInput { min-width:160px; }
.normalTable textarea { width:90%; height:120px; }
.normalTable .textareatext { width:90%; max-height:220px; overflow:auto; padding:3px 5px; border:1px solid #cdcdcd; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.normalTable .select1 { width:124px; margin-right:10px; }
.normalTable .select2 { width:180px; margin-right:10px; }
.normalTable input.input1 { min-width:70px; width:70px; } /* client income report fromdate and todate */
.normalTable input.input_s { min-width:40px; width:40px; }
.normalTable .categoryImg { width:275px; height:275px; vertical-align:top; display:block; margin:3px 10px 10px 0px; }
.normalTable label { margin-right:15px; }
.normalTable td div { margin-bottom:10px; }
.normalTable td span { color:#666; }
.normalTable .row .tips{ color:red;}

input.disabled, input.disabled:hover  { border:none; background:none; color:#000; }



/* dashboard */
.warpLine { clear:both; overflow:auto; }
.warpInner .block { min-height:200px; }
.warp21_b { width:64%; float:left; }
.warp21_s { width:34%; float:right; }
.warp21_ml { width:49%; float:left; }
.warp21_mr { width:49%; float:right; }
.smallImgOut { width:95px; height:95px; padding:8px; border:1px solid #ddd; text-align:center; }
.smallImgOut img { max-width:95px; max-height:95px; _width:95px; _height:95px; }
.innerNormalTable { margin-bottom:0px; }
.normalTable .innerNormalTable td, .normalTable .innerNormalTable th { padding:0px 0px 4px 2px; }

.kioskSmallBlock { width:120px; height:185px; float:left; margin-right:10px; }



/* machine inventory */
.proInventory { position:absolute; z-index:90; border:1px solid #eeeeee; padding:2px; overflow:hidden; }
.proInventory:hover { z-index:95; border:2px solid #71c1ff; padding:1px; 
-moz-box-shadow:0px 0px 4px #71c1ff;  -webkit-box-shadow:0px 0px 4px #71c1ff; box-shadow:0px 0px 4px #71c1ff;  }
.proInventory .icons { float:right; position:relative; z-index:103; margin-top:-24px; }
.proInventory img { position:absolute; z-index:100; }
.proInventory .numberlinebg { position:relative; z-index:101; width:100%; height:24px; background:#000; filter:alpha(opacity=70); -moz-opacity:0.7;  opacity: 0.7; cursor:default; }
.proInventory .numberline { position:relative; margin-top:-24px; z-index:102; height:20px; padding:2px; color:#fff;  }
.proInventory .numberline .num { float:right; font-weight:bold; }
.state_unknown {  border:2px solid red; padding:1px; cursor:pointer; }
.state_unknown:hover { border-color:red; -moz-box-shadow:0px 0px 4px red;  -webkit-box-shadow:0px 0px 4px red; box-shadow:0px 0px 4px red; }
.state_empty {  border:2px solid #ddd; padding:1px; cursor:pointer; background:#ddd; cursor:default; }
.state_empty:hover { border-color:#ddd; -moz-box-shadow:0px 0px 0px grey;  -webkit-box-shadow:0px 0px 0px grey; box-shadow:0px 0px 0px grey; }
.state_selected { border-color:; }
.state_selected .numberlinebg { background:#0083B7; }



/* report page */
.reportList div { margin-bottom:10px; }
.reportList div span { min-width:130px; display:inline-block; }
.reportList span { margin-right:15px; }

.yAxis { min-height:30px;  }
.yAxis .lists { float:left; margin-right:15px; margin-bottom:5px; min-height:24px; font-weight:bold; border:1px solid #CCE1E9; padding:2px 10px 0px 10px; }
.yAxis .lists:hover { color:#0083b7; }
.yAxis .lists .icons { cursor:pointer; margin-right:0px; margin-left:10px; }

.addList { }
.allYAxisLists { border:1px solid #549eb5; background:#fff; padding:5px; -moz-box-shadow:1px 1px 2px #CCE1E9;  -webkit-box-shadow:1px 1px 2px #CCE1E9; box-shadow:1px 1px 2px #CCE1E9; z-index:10000; width:300px; float:left; }
.allYAxisLists .title { margin-bottom:10px; cursor:move; font-weight:bold; }
.allYAxisLists .title .addIcon { margin-left:0px; }
.allYAxisLists .title .closeIcon { float:right; margin-top:3px; }
.allYAxisLists input.filter { position:relative; left:-23px; margin-right:-16px; width:16px; height:16px; background:url(../../../images/icons.gif) -390px -102px no-repeat; border:none; -moz-box-shadow:none;  -webkit-box-shadow:none; box-shadow:none; }

.allYAxisLists .showList { clear:both; margin:5px 0 0 -6px; padding:0px; font-weight:normal; position:absolute; width:310px; background:#fff; border:1px solid #549eb5; z-index:10000;  }
.allYAxisLists .showList li { max-width:450px; margin-bottom:-1px; line-height:1.2; padding:5px 5px; min-height:16px; list-style:none; border:1px solid #ddd; border-left:none; border-right:none; }
.allYAxisLists .showList li:first-child { border-top:none; }
.allYAxisLists .showList li:last-child { border-bottom:none; }
.allYAxisLists .showList .moveOn { background:#1463ad; color:#fff; }
.allYAxisLists .showList li.loadding { background:none; }
.allYAxisLists .showList li.error { background:#FFFFE8; color:red; font-weight:bold;  }



/* client unrecognizable items page */
.itemsBlock { width:120px; float:left; text-align:center; margin:0 10px 15px 5px; }
.itemsBlock p { margin:5px 0 5px 0; }
.itemsBlock p.name { font-weight:bold; width:100%; height:36px; overflow:hidden; }
.itemsBlock p.img { width:100px; height:100px; padding:10px; border:1px solid #ddd; text-align:center; }
.itemsBlock img { max-width:100px; max-height:100px; _width:100px; _height:100px; border:none; cursor:url(../../../images/zoomin_icon.gif), auto; cursor:url(../../../images/zoomin_icon.ico); }
.allYAxisLists { position:absolute; }
.allYAxisLists input { width:95%; }
#unrecognizeSlot { color:red; }
.block .blockTitle .special { color:red; padding:0 3px; font-size:16px; }
.recognizableBlock { margin-bottom:15px; clear:both; }
.recognizableBlock .title { font-size:14px; font-weight:normal; margin-bottom:5px; cursor:pointer; }
.recognizableBlock .title .category1 { color:#1a75bb; font-weight:bold; }
.recognizableBlock .title .category2 { color:#be1d2c; font-weight:bold; }
.recognizableBlock .title .name { color:#333; margin-left:5px; }
.saved { color:#c02729; font-size:12px; font-weight:bold; margin-left:15px; }



/* client Package Pics Verification page */

.itemsBlock2 { min-height:120px; border:1px solid #ddd; text-align:center; margin:0 0px 15px 0px; padding-right:0px; }
.itemsBlock2:hover { background:#fafafa; }
.itemsBlock2 .img { text-align:left; width:100px; height:100px; padding:10px; }
.itemsBlock2 .img img { max-width:100px; max-height:100px; _width:100px; _height:100px; border:none; cursor:url(../../../images/zoomin_icon.gif), auto; cursor:url(../../../images/zoomin_icon.ico); }
.itemsBlock2 .img .searchIcon { clear:both; }
.itemsBlock2 .contexts { margin:8px 0 5px 0; text-align:left; }
.itemsBlock2 .contexts p { margin-top:0px; line-height:1.2; margin-bottom:8px; }
.itemsBlock2 .contexts p.category { font-size:14px; }
.itemsBlock2 .contexts p.category span { font-weight:normal; }
.itemsBlock2 .contexts p.name { font-weight:bold; width:100%; max-height:36px; overflow:hidden; margin-bottom:8px; color:#1a75bb; }
.itemsBlock2 .contexts p.slot { color:#be1d2c; font-weight:bold;  }

#toBeVerifyList { }
#toBeVerifyList table, #mismatchedList table { width:100%; }
#toBeVerifyList .is { font-weight:bold; padding-bottom:10px; }
#toBeVerifyList p.name, #mismatchedList p.name { font-size:14px; max-height:80px; padding-left:5px; padding-right:5px; }
#toBeVerifyList p.category, #toBeVerifyList p.slot, #mismatchedList p.category { display:none; }
#mismatchedList p.slot { padding:0 5px;  }

.selectAll { float:right; margin:0 5px 0 10px; font-size:14px; color:#0083b7; vertical-align:top; } /* right select all check box text */
#confirmDiv .content { text-align:center; font-size:14px; font-weight:bold; }


.normal .showList { clear:both; margin:1px 0 0 0px; padding:0px; font-weight:normal; position:absolute; width:400px; background:#fff; border:1px solid #549eb5; border:none; z-index:10000;  }
.normal .showList li { max-width:450px; margin-bottom:-1px; line-height:1.2; padding:5px 5px; min-height:16px; list-style:none; border:1px solid #549eb5; }
.normal .showList .moveOn { background:#1463ad; color:#fff; }
.normal .showList li.loadding { background:none; }
.normal .showList li.error { background:#FFFFE8; color:red; font-weight:bold;  }

/* add edit kpi page */
.alertConditons { width:500px; height:140px; padding:0px 15px; border:1px solid #549eb5; font-weight:bold; text-align:center; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.alertConditons .amountNum { font-size:14px; word-spacing:10px; margin-bottom:5px;  }
.alertConditons .bewrite span:first-child { float:left; margin-left:10px; }
.alertConditons .bewrite span:last-child { float:right; margin-right:10px; }
.alertConditons .alertWhen { text-align:left; margin:10px 0; }
.alertConditons .alertWhen label { margin:0 20px 0 10px; }

.alertConditons .headerForm { text-align:left; margin-left:10px; margin-top:15px; }
.alertConditons .headerForm input { min-width:40px; width:40px; }
.alertConditons .headerForm select { width:40px; }


.wrap1 { width:64%; float:left; } /* KPIs page */
.wrap2 { width:34%; float:right; }

.autoGenerate {  } /* client product replenishment plans */
.autoGenerate a { margin-left:25px; }
.autoGenerate input[type*="text"] { width:40px; margin:0 10px; }

.replenishmentPlanSetting {} /* client product replenishment plan manage */
.indexBlock { margin-left:25px; margin-bottom:15px; } 
.clickable { cursor:pointer; }

.googleMap {  border:1px solid #C9DDF3;  padding:3px; }




/*
.addList .allYAxisLists .title { padding-left:10px; background:url(images/report_list_title.gif) left; color:#fff; }
.addList .allYAxisLists .innerLists { float:left; margin-right:1px;  max-width:350px; }
.addList .allYAxisLists .innerLists .ul { margin:0px; padding:0px; overflow:auto; max-height:350px;  }
.addList .allYAxisLists .li { list-style:none; cursor:pointer; padding:3px 10px 3px 30px; background:url(../../../images/icons.gif) no-repeat; background-position:5px -127px;  } 
.addList .allYAxisLists .added { background-position:5px -187px; }
.addList .allYAxisLists .li:hover { background-color:#FFFFE8; color:#0083b7; }
*/

.floatLeft { float:left; }
.floatRight { float:right; margin-right:20px; }


.halfBlock {margin-right:2%; float:left; width:47.5%; }
.block, .blockWithTitle, .blockWithoutTitle { 
	padding:0 15px 15px 15px; margin:0px 0 20px 0; border:1px solid #C9DDF3; background:url(images/block_bg.gif) top repeat-x; 
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
	/* -moz-box-shadow:2px 2px 4px #aaa;  -webkit-box-shadow:2px 2px 4px #aaa; box-shadow:2px 2px 4px #aaa;  */
}
.block .blockTop { }
.block .blockTitle { height:40px; margin-bottom:15px; padding:0px; font-size:16px; font-weight:bold; color:#0083B7; line-height:38px; }
.block .blockTitle span { font-size:12px; color:#888; }
	.block form { margin:0px; }
	.block .proImgs { position:relative; }
	.block .proImgs .proImgBlock { float:left; border:1px solid #ddd; padding:5px; margin:0 10px 10px 0; _width:1px; }
	.block #preview_kiosk .proImgBlock img { cursor:pointer;  }
	.block .proImgs .mainImg { border:5px solid #71c1ff; padding:1px; }
	.block .proImgs img { height:200px; min-width:100px; }
	.block .proImgs .controls { width:100%; height:20px; background-color:#fff; margin-top:4px; }
	.maincontent .block .proImgs .control { margin:0px 1px 0px 4px; }
	.maincontent .block .proImgs .control:hover { background-color:#fff; border:1px solid #fff; padding:0px; }


.blockWithTitle { background-color:#EBF7FB; background-image:url(images/block_withtitle_bg.gif); background-position:top; background-repeat:repeat-x; }
.blockWithTitle .blockTop { display:none; }
.blockWithTitle .blockTitle { font-size:14px; font-weight:bold; color:#fff; height:35px; line-height:30px; margin-bottom:15px; }
.blockWithTitle .blockTitle a:hover { background-color:none; }
.blockWithTitle iframe { width:99.8%; min-height:180px; margin:0px auto; }

.blockWithoutTitle { background:none; padding-top:10px; padding-bottom:20px; }
.blockWithoutTitle .blockTitle { padding:0px 5px; background:#fff; margin-bottom:0px; display:inline-block; height:30px; line-height:30px; position:absolute; margin-top:-27px; margin-left:-5px; font-size:16px; }

.block .blockTitle .min-block { display:inline-block; min-width:200px; font-size:16px; color:#0083B7;  } /* client product replenishment plans */

/**/

/* product edit page edit feature block style */
.featureDiv { margin-bottom:15px; }
	.featureDiv .featureLine { 
		clear:both; display:block; border:2px solid #eee; background-color:#f9f9f9; min-height:25px; padding:5px 10px 0 0; margin:0 15px 8px 0; cursor:n-resize;
		-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
		-moz-box-shadow:0px 0px 2px #ddd;  -webkit-box-shadow:0px 0px 2px #ddd; box-shadow:0px 0px 2px #ddd; 
	 }
	.featureDiv .featureLine:hover {  
		border:2px solid #71c1ff;
		-moz-box-shadow:0px 0px 4px #71c1ff;  -webkit-box-shadow:0px 0px 4px #71c1ff; box-shadow:0px 0px 4px #71c1ff; 
	}
		.featureDiv .featureLine .icons { float:right; }
		.featureDiv .featureLine input { width:80%; margin-left:-3px; margin-top:-2px; }
		.featureDiv .featureLine .fLeft { float:left; width:150px; font-weight:bold; padding-left:10px; }
		.featureDiv .featureLine .fRight { float:left;width:380px; }
		.featureDiv .featureLine .fEdit, .featureDiv .featureLine .fDelete { float:left1; margin-right:10px; vertical-align:middle; }
		.featureDiv .featureLine .fConfirm, .featureDiv .featureLine .fCancel { float:left1; margin-right:10px; vertical-align:middle; display:none; }


.tips {  }		
.helpTip { max-width:500px; position:absolute; z-index:10000; background:url(images/help_tip_bg.gif) left top no-repeat; font-size:12px; font-weight:normal; color:#000; }
	.helpTip .tipContent { 
		padding:8px; margin-left:18px; border:1px solid #bbb; background:#fff; border-left:none; font-family:Arial, Verdana, Helvetica, sans-serif; 
		-moz-box-shadow:2px 2px 3px #aaa;  -webkit-box-shadow:2px 2px 3px #aaa; box-shadow:2px 2px 3px #aaa;
		/* filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=145, Strength=3);  IE6,IE7 */
		/* -ms-filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=145, Strength=3) ;  IE8 */
	}
.helpTipRight { background:url(images/help_tip2_bg.gif) right top no-repeat; }
	.helpTipRight .tipContent { 
		margin-right:18px; border-left:1px solid #bbb; border-right:none; 
		-moz-box-shadow:-2px 2px 3px #aaa; -webkit-box-shadow:-2px 2px 3px #aaa; box-shadow:-2px 2px 3px #aaa;
		/* filter:progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=45, Strength=3);  IE6,IE7 */
		/* -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=45, Strength=3)" ;  IE8 */
	}
/*
*/


.container { margin:0 30px; background:url(images/mainbody_bg.gif) 50px 80px no-repeat;/**/ }


.rightGoogleMap { float:right; width:300px; height:250px; position:relative; margin-bottom:-250px; margin-right:8px; text-align:center; }
.rightGoogleMap iframe { width:296px; height:216px; border:1px solid #C9DDF3; margin:0px; padding:3px; margin-bottom:5px; overflow:hidden; }
.rightGoogleMap input[type*="button"], .rightGoogleMap .gmpeditBtn { width:100%; margin-top:0px; }
.summaryTable { margin-right:320px; }

.bigGoogleMap { width:90%; height:550px; text-align:center; border:1px solid #ddd; overflow:hidden; padding:2px; }
.bigGoogleMap iframe { margin:0px; padding:2px; margin-bottom:5px; }

.pageNav { width:340px; height:40px; overflow:hidden; float:right; margin-right:20px; border:none; position:relative; top:-53px; margin-bottom:-50px; } /* eg: machine summary top iframe btns */


.error_msg, .success_msg, .notice, .normalMsg { 
	font-size:12px; font-weight:bold; margin:0 20px 15px 0; padding:8px 15px; color:#000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:#ebf3ff; border:1px solid #C9DDF3; color:#242424;
	/*
	-moz-box-shadow:2px 2px 2px #aaa; -webkit-box-shadow:2px 2px 2px #aaa; box-shadow:2px 2px 2px #aaa; 
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#dddddd', Direction=145, Strength=3); 
	-ms-filter:progid:DXImageTransform.Microsoft.Shadow(color='#dddddd', Direction=145, Strength=3) ;  */
}
.error_msg { color:#FF0000; background:#FFFFE8; border-color:#FFC91D;  }
.notice {  }
.normalMsg { color:#333; background:#FFFFE8; border-color:#FFC91D; }
.noData { font-size:12px; font-weight:bold; margin:0 20px 15px 0; padding:8px 15px;  color:#333; background:#FFFFE8; border:1px solid #FFC91D;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display:none;}
.normalMsg li { margin-left:15px; line-height:20px; }

/* special text in msg box eg: xmlapi */ 
.success_msg span { color:#0083B7; font-size:110%; }

.headerForm { font-weight:bold; margin-bottom:5px; padding-right:20px; display:block; line-height:30px; min-height:35px; }
.headerForm input, .headerForm select { margin-left:3px; margin-right:8px; }
.headerForm select { width:100px; }
.headerForm .note { font-weight:normal; margin-top:5px; color:red; }
.headerForm input[type*="botton"], .headerForm input[type*="submit"] {
	background-color:#464646; color:#fff; border-color:#333; padding:2px 10px; font-size:12px; font-weight:bold; height:22px; min-width:50px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#333333));
	background-image: -moz-linear-gradient(center top , #555555, #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333')" ; /* IE8 */
	-moz-text-shadow:none; -webkit-text-shadow:none; text-shadow:none; -o-text-shadow:none;
}
.headerForm input[type*="botton"], .headerForm input[type*="submit"]  { min-width:50px; } 
*+html .headerForm input[type*="botton"], *+html .headerForm input[type*="submit"] { min-width:auto; } /* IE7 */

.headerForm font { color:red; margin-right:10px; } /* client_members Total Count: 4 use  */
.headerForm .min-block { display:inline-block; min-width:150px; } /* client product replenishment plans */


.headerSteps { font-size:14px; font-weight:bold; color:#666; margin:5px 20px 20px 0; display:inline-block; padding:0px; border:1px solid #ddd; border-right:none; *border-right:1px solid #ddd; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.headerSteps .steps { border-right:1px solid #ddd; float:left; text-align:center; padding:3px 20px; min-width:80px; cursor:default; }
.headerStepsClickable .steps { cursor:pointer; }
.headerSteps .steps a { color:#fff; text-decoration:none; }
.headerSteps .on { font-weight:bold; color:#fff; position:relative; top:-4px; left:-1px; padding:6px 20px; margin-bottom:-7px; border:1px solid #0f3268; text-align:center;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
 	background-color:#457abc;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#2f69b2), to(#76a4d8));
	background-image: -moz-linear-gradient(center top , #2f69b2, #76a4d8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f69b2', endColorstr='#76a4d8'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f69b2', endColorstr='#76a4d8')" ; /* IE8 */
 }
.headerStepsClickable .steps:hover { text-shadow:none; color:#366fb6; }
.headerStepsClickable .on:hover { text-shadow:none; color:#fff; }

.bannerLine { font-weight:bold; margin-bottom:15px; margin-right:5px; min-height:30px; }

.rightAddLink { float:right; margin:0 20px -24px 0; text-decoration:none; cursor:pointer; }
.rightAddLink:hover { text-decoration:none; }


/******  valiadator.css ****/
.onShow { background:url(images/onValidator.gif) no-repeat;  padding-left:25px;  line-height:20px;  vertical-align:middle; }
.onFocus { background:#E9F0FF url(images/onValidator.gif) no-repeat; background-position:1px -98px; padding-left:25px; line-height:20px; vertical-align:middle; }
.onError { background:#FFF2E9 url(images/onValidator.gif) no-repeat; background-position:1px -298px; padding-left:25px; line-height:20px;  vertical-align:middle; display:none; }
.onCorrect { background:#E9FFEB url(images/onValidator.gif) no-repeat; background-position:1px -198px; padding-left:25px; line-height:20px;  vertical-align:middle; }
.onLoad{  background:#E9FFEB url(images/onLoad.gif) no-repeat 3px 3px;  padding-left:25px; line-height:20px;  vertical-align:middle;} 
/******  valiadator.css ****/

.floatMaskDiv, .floatMaskDiv2 { position:absolute; z-index:9999; top:0px; left:0px; background:#000; width:100%; height:100%; filter:alpha(opacity=30); -moz-opacity:0.3;  opacity: 0.3; cursor:default; display:none; }
.floatDiv { position:absolute; border:5px solid #0083b7; left:0px; top:0px; margin:2px; z-index:10000; max-width:600px; background:#fff; display:none; -moz-box-shadow:3px 3px 5px #666;  -webkit-box-shadow:3px 3px 5px #666; box-shadow:3px 3px 5px #666; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.floatImg { position:absolute; border:5px solid #0F4D58; left:0px; top:0px; margin:0px; padding:10px; background-image:url(../../../images/loading.gif); backgroun-position:center center; backgound-repeat:no-repeat; z-index:10000; background:#fff; display:none;-moz-box-shadow:3px 3px 5px #666;  -webkit-box-shadow:3px 3px 5px #666; box-shadow:3px 3px 5px #666; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;  }
/*.floatImg { position:absolute; border:5px solid #0F4D58; left:0px; top:0px; margin:0px; padding:10px; z-index:10000; background:#fff; display:none;-moz-box-shadow:3px 3px 5px #666;  -webkit-box-shadow:3px 3px 5px #666; box-shadow:3px 3px 5px #666; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; } */
.floatImg .floatImgClose { position:relative; float:right; background-color:#fff; width:20px; height:20px; margin:0px 0px -20px -20px; background-position:3px -99px; }
.floatImg .name { margin-top:5px; font-weight:bold; font-size:14px; color:#333; }
.floatDiv .closeFloatDiv { width:15px; height:15px; float:right; margin-right:5px; background:url(images/ui-icons_ffffff_256x240.png) no-repeat; background-position:-100px -130px; position:relative; margin-bottom:-15px; cursor:pointer; top:5px; }
.floatDiv .title { font-size:12px; font-weight:bold; font-size:14px; line-height:1.8; padding-left:5px; height:30px; cursor:move; display:block; background:#0083b7; margin-bottom:5px; overflow:hidden; color:#fff; }
.floatDiv iframe, .floatDiv .floatDivContent { border:none; width:97%; overflow:hidden; margin:10px; max-height:450px; }
.floatDiv .floatDivContent { overflow:auto; }
.floatImg .img {  background:url(../../../images/loading.gif) center center no-repeat; min-width:150px; min-height:150px; }


.floatDivWithoutBorder { border:none; margin:0px; display:none;-moz-box-shadow:none;  -webkit-box-shadow:none; box-shadow:none; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;  }
.floatDivWithoutBorder .title { display:none;}

.floatDiv .content { margin:10px; }


.ajaxGlobalMsgDiv { position:fixed; background:#fff1a8; z-index:100000; top:0; max-width:100%; max-height:100%; display:inline; font-weight:bold; max-width:750px; border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
.warningMsgDiv { background:#f00000; color:#fff; }
.ajaxGlobalMsgDiv p { margin:0px; padding:3px 20px; min-width:100px;}

.header { overflow:hidden; height:90px; }
	.header .logo { float:left; margin:10px; }
	.header .headerTitle { float:left; }
		.header .headerTitle h3 { font-size:26px; margin-top:15px; margin-bottom:10px; font-weight:normal; }
		.header .headerTitle h4 { font-size:16px; color:#999; }
	.header .headerMenu { float:right; margin:10px 40px; text-align:right; }
		.header .headerMenu .language { height:25px; visibility:hidden1; }
		.header .headerMenu .memberInfo { height:25px; color:#999; }
		.header .headerMenu .memberInfo b { color:#333; }
		.header .headerMenu .headerNav { height:30px; color:#999;}
			.header .headerMenu .headerNav a { padding:2px 12px 10px 12px; line-height:24px; text-decoration:none; display:inline-block; }
			.header .headerMenu .headerNav a:hover { background:#0f4d58; color:#fff; text-shadow:1px 1px 1px #000; -webkit-border-top-left-radius:6px; -moz-border-radius-topleft:6px; border-radius-topleft:6px; -webkit-border-top-right-radius:6px; -moz-border-radius-topright:6px; border-radius-topright:6px; }
			.header .headerMenu .headerNav a.on { background:#666; color:#fff; -webkit-border-top-left-radius:6px; -moz-border-radius-topleft:6px; border-radius-topleft:6px; -webkit-border-top-right-radius:6px; -moz-border-radius-topright:6px; border-radius-topright:6px;  text-shadow:2px 2px 2px #000; }
			.header .headerMenu .headerNav .disabled:hover { color:#ddd; text-shadow:none; }

.footer { clear:both; padding:15px 20px 30px 20px; color:#999; margin-left:180px; text-align:right;  }

.nav { position:absolute; width:200px; left:30px; z-index:0; padding:14px 10px 20px 0; overflow-x:hidden; }
.nav a { display:block; padding:3px 3px 5px 15px; margin:0px; color:#EBF7FB; cursor:pointer; text-decoration:none; background-color:#0f4d58; border-bottom:1px solid #14605e; font-weight:normal; }
	.nav a:first-child { height:2px; border:none; overflow:hidden; background-color:#0f4d58; -webkit-border-top-left-radius:10px; -moz-border-radius-topleft:10px; border-radius-topleft:10px;  }/**/
	.nav a:hover {  text-shadow:1px 1px 1px #000; background:url(images/nav_hover_bg.jpg) -3px top no-repeat; background-color:#0f4d58; }
	
	.nav a.level0 {  }
	
	.nav a.level1 { }
	.nav a.level1.on { color:#fff; text-shadow:2px 2px 2px #000; background:url(images/nav_on_bg.jpg) -3px top no-repeat; background-color:#0f4d58; }
	.nav a.level99 { -webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomleft:10px; border-radius-bottomleft:10px; margin-top:-1px; }
	
	/* .nav a.level1 { -webkit-border-bottom-left-radius:10px; -moz-border-radius-bottomleft:10px; border-radius-bottomleft:10px; margin-bottom:20px;  }*/
	
	.nav .level2 { padding-left:30px; }
	.nav a.level2.on { color:#fff; text-shadow:2px 2px 2px #000; background:url(images/nav_on_bg.jpg) -3px top no-repeat; background-color:#0f4d58; }
	.nav a.level22 { padding-left:45px; background:url(images/nav_22.bg.gif) -3px top no-repeat; background-color:#0f4d58;  }
	.nav a.level22.on { color:#fff; text-shadow:2px 2px 2px #000; background:url(images/nav_22_on_bg.jpg) -3px top no-repeat; background-color:#0f4d58; }
	.nav a.level22:hover { background:url(images/nav_22_hover_bg.jpg) -3px top no-repeat; background-color:#0f4d58; }
	
	.nav a.level100, .nav a.level100:hover { line-height:1.2; margin-top:18px; padding:10px 20px 10px 15px; background:url(images/nav_100_bg.gif) no-repeat; border:none; font-size:14px; font-weight:bold; color:#D60500; }
	.nav a.level198, .nav a.level198:hover { background:url(images/nav_198_bg.gif) no-repeat; border:none; height:5px; overflow:hidden; margin-bottom:0px; padding-bottom:0px; }
	.nav a.level101 { background:url(images/nav_101_bg.gif) no-repeat; border:none; padding-left:35px; color:#666; }
	.nav a.level101:hover { background:url(images/nav_101_bg.gif) no-repeat; border:none; padding-left:35px; color:#666; text-shadow:2px 2px 2px #999; }
	.nav a.level199, .nav a.level199:hover { background:url(images/nav_199_bg.gif) no-repeat; border:none; height:10px; }

	.nav a.level200, .nav a.level200:hover { line-height:1.2; margin-top:18px; padding:10px 20px 10px 15px;  background:url(images/nav_200_bg.gif) no-repeat; border:none; font-size:14px; font-weight:bold; color:#D60500; }
	.nav a.level298, .nav a.level298:hover { background:url(images/nav_298_bg.gif) no-repeat; border:none; height:5px; overflow:hidden; margin-bottom:0px; padding-bottom:0px; }
	.nav a.level201 { background:url(images/nav_201_bg.gif) no-repeat; border:none; padding-left:35px; color:#666; }
	.nav a.level201:hover { background:url(images/nav_201_bg.gif) no-repeat; border:none; padding-left:35px; color:#666; text-shadow:2px 2px 2px #999; }
	.nav a.level299, .nav a.level299:hover { background:url(images/nav_299_bg.gif) no-repeat; border:none; height:10px; }
	

.nav .disabled { color:#2e7881; cursor:default; }
.nav .disabled:hover { text-shadow:none; background-image:none; }
.header .headerMenu .headerNav .disabled { color:#98dce4; cursor:default; }
.header .headerMenu .headerNav .disabled:hover { color:#98dce4; background:none; }
/**/

.maincontent { 
	padding:15px 5px 20px 20px; margin:0px 5px 0 200px; min-height:550px; border:1px solid #0F4D58; background:#fff; z-index:1; position:11;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; 
	-moz-box-shadow:0px 0px 5px #13a0ae; -webkit-box-shadow:0px 0px 5px #13a0ae; box-shadow:0px 0px 5px #13a0ae; 
}
/* for config page grey border color */
.maincontent2 { border-color:#666; -moz-box-shadow:0px 0px 5px #aaa; -webkit-box-shadow:0px 0px 5px #aaa; box-shadow:0px 0px 5px #aaa;  }
	.maincontent2 h1 { color:#666; }



	.maincontent .headerForm { clear:both; margin-bottom:10px; }
	.maincontent .kioskBlock { padding-top:5px; border:1px solid #C9DDF3; margin-bottom:-1px;	}
	.maincontent .kioskBlock:hover { background:#f5fafc; }
	/* client quick reports */
	.maincontent .smallBlock { padding:5px 0 0 30px; background:url(../../../images/icons.gif) 7px 7px; no-repeat; margin-bottom:15px; border-bottom:1px dashed #C9DDF3; margin-right:10px; }
	.maincontent .smallBlock .descriptions { margin-top:5px; color:#666; }
/*
	.maincontent input[type*="button"], .maincontent input[type*="submit"], .maincontent input[type*="reset"], .maincontent button { 
		margin-right:15px; margin-left:0px; }
*/
	input[type*="button"], input[type*="submit"], input[type*="reset"], button { 
		margin-right:15px; margin-left:0px; }
	.prenextIframe input[type*="button"], .prenextIframe input[type*="submit"], .prenextIframe input[type*="reset"], .prenextIframe button { 
		margin-right:0px; margin-left:0px; }



.icons  { width:16px; height:16px; border:none; background-image:url(../../../images/icons.gif); background-repeat: no-repeat;  background-position:-2px -102px; margin:0px 0px 2px 5px; cursor:pointer; display:inline-block; vertical-align:middle; font-size:0px; cursor:pointer; padding:1px ; }
.iconsWithBg { background-color:#fff; }

.ui-jqgrid tr.ui-row-ltr td .icons { color:#fff; }
.ui-jqgrid tr.ui-row-ltr td .icons:hover { background-color:#EBF7FB; border:1px solid #f3f3f3; padding:0px; }

.resumeIcon  {  background-position:-930px -102px; }
.suspendIcon {  background-position:-900px -102px; }
.restoreIcon {  background-position:-600px -102px; }
.topupIcon {  background-position:-570px -102px; }
.loginasIcon {  background-position:-540px -102px; }
.viewIcon {  background-position:-150px -102px; }
.editIcon { background-position:-180px -102px; }
.deleteIcon {  background-position:-330px -102px; }
.changeIcon { background-position:-180px -102px; }
.OKIcon  { background-position:-630px -102px; }
.CancelIcon  { background-position:0px -102px; }
.helpIcon {  background-position:-750px -102px; }
.searchIcon {  background-position:-390px -102px; }
.settingsIcon {  background-position:-960px -102px; }
.traceIcon {  background-position:-990px -102px; }
.addIcon {  background-position:-1020px -102px; }
.startIcon {  background-position:-660px -102px; }
.unstartIcon {  background-position:-1140px -102px; }
.checkedIcon {  background-position:-630px -102px; }
.printIcon {  background-position:-1050px -102px; }
.downloadIcon {  background-position:-1080px -102px; }
.notifyIcon { background-position:-660px -102px; }
.folderIcon {  background-position:0px -132px; }
.unfolderIcon {  background-position:-30px -132px; }
.recognizeIcon {  background-position:-30px -102px; }
.bulbIcon { background-position:-1110px -102px; }
.targetingStockIcon { background-position:-1200px -102px; }
.reorderPointIcon { background-position:-1230px -102px; }
.reduceIcon { background-position:-1260px -102px; }
.stopIcon { background-position:-1288px -102px;}
.runIcon { background-position:-1315px -102px;}
.formatIcon { background-position:-1342px -102px;}
.alarmIcon {background-position:-210px -102px;}
.reportView{ background-position:0px -375px}
.assignmentView{ background-position:0px 20px;}
.viewIcon { background-position:-60px -132px; }
.emailIcon { background-position:-90px -132px; }
.grayEditIcon{ background-position:-56px -340px;}
.grayCancelIcon{ background-position:-112px -340px;}
.getpswIcon{ background-position: -142px -340px}
.getPsw{ background-position:-141px -341px;}
.assignKioskIcon {  background-position:-120px -102px; }
.usersEditIcon { background-position:-120px -132px; }
.fileGreenIcon { background-position:-270px -132px; }
.misvendIcon { background-position:-300px -132px; }
.undoMisvendIcon { background-position:-0px -102px; }
.refreshIcon { background-position:-387px -132px}
.grayPlayIcon { background-position:-418px -134px;}
.resumesuspendIcon { background-position:-541px -134px;}

.refundIcon { background-position:-180px -132px; display:none; }
.enRefundIcon  { background-position:-210px -132px; display:none; }
.refundDoneIcon  { background-position:-150px -132px; display:none; }
.refundFailedIcon  { background-position:-780px -102px; display:none; }

.checkingIcon { background:url(../../../images/checking.gif) no-repeat; }

.mediaStopIcon{ background-position:-175px -340px; width:30px; height:20px;}
.mediaPlayIcon{ background-position:-205px -340px; width:30px; height:20px;}
.mediaGrayPlayIcon { background-position:-237px -340px; width:30px; height:20px;}

.screenshot{ background-position:0px -395px; height:55px; width:65px; margin-top:10px;}
.maintenance_mode{ background-position:-80px -395px; height:55px; width:65px; margin-top:10px;}
.refill_test{ background-position:-162px -395px; height:55px; width:65px; margin-top:10px;}
.remote_verify{ background-position:-255px -395px; height:55px; width:65px; margin-top:10px;}
.test_cycle{ background-position:-340px -395px; height:55px; width:65px; margin-top:10px;}

.gray_refill_test{background-position:-448px -134px;}
.small_remote_verify{background-position:-510px -135px;}
.gray_remote_verify{background-position:-482px -135px}

/* for machine summary prev next btn with icon */
button .icons { width:12px; height:12px; background:url(images/ui-icons_222222_256x240.png) no-repeat; margin:0px; }
button .backToListIcon { background-position:-2px -18px }
button .nextIcon { background-position:-32px -18px }
button .prevIcon { background-position:-98px -18px }

button.disabled { filter:alpha(opacity=20);  -moz-opacity:0.20;  opacity:0.20; background-image:none; color:#000; }
button.disabled:hover { color:#000; }
/* for machine summary prev next btn */



/* page control navegation */
.pageControlNav { height:25px; line-height:20px; margin:10px 0px; padding:0 5px; float:left; width:832px; }
	.pageControlNav .totalPage { float:left; margin-right:20px; font-weight:bold; line-height:23px; }
	.pageControlNav span, .pageControlNav a { 
		display:block; float:left; padding:0px 2px; border:1px solid #ddd; margin:0 5px 5px 0; text-align:center; min-width:16px;
		-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	}
	.pageControlNav span { color:#ddd; cursor:default; }
	.pageControlNav .currentPage { color:#333; }
	.pageControlNav a { color:#25A9E0; border-color:#25A9E0; cursor:pointer; }
	.pageControlNav a:hover { backgrond-color:#25A9E0; color:#fff; }

/* machine list view change */
.listViewChange { float:right; line-height:20px; margin:10px 0px; padding:0px 5px;}
    .listViewIcon_off { background:url(../../../images/icons.gif) 0px -316px; width:25px; height:22px; display:inline-block; cursor:pointer }
	.listViewIcon_on { background:url(../../../images/icons.gif) -30px -316px; width:25px; height:22px; display:inline-block; cursor:pointer }
	.iconViewIcon_off {background:url(../../../images/icons.gif) 0px -284px; width:25px; height:22px; display:inline-block; cursor:pointer}
	.iconViewIcon_on { background:url(../../../images/icons.gif) -30px -284px; width:25px; height:22px; display:inline-block; cursor:pointer }
	
/* sidesbar float static in page */
.sideFloat { position:fixed; right:-5px; z-index:1000000; bottom:10%; background:#dcf7ff; border:3px solid #006b8a; border-right:none; padding:15px; filter:alpha(opacity=30);  -moz-opacity:0.30;  opacity:0.30; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.sideFloat:hover { filter:alpha(opacity=100);  -moz-opacity:1.00;  opacity:1.00; }

/* client machine inventory right tag */
.invent_unknown { display:inline-block; font-weight:bold; float:right; margin-right:25px; color:red; } 
.invent_unknown .unknowIcon { display:inline-block; width:10px; height:10px; border:2px solid red; vertical-align:middle; margin-right:8px; }

/* client_products_edit_product */
.block .blockTitle .chlan { font-size:14px; border:1px solid #ddd; padding:2px 8px; line-height:22px; border:1px solid #888; cursor:pointer; color:#333; width:60px; display:inline-block; text-align:center; vertical-align:middle; margin-right:-5px;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
	background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */ }
.block .blockTitle .chlanOn { cursor:default; color:#fff;
	background-image: -moz-linear-gradient(center top , #737373, #9e9e9e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#9e9e9e'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#9e9e9e')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
 }
 /* IE7 The 'optgroup' style in <select>*/
.opFather { color:#bbb; font-style:normal;padding-left:3px;}
.div_btn{ background:url(images/ui-icons_ffffff_256x240.png) no-repeat 200px 22px;}


/* client_product_load_plans */]
.machine_list .kioskSmallBlock { margin-top:5px; border:1px solid #ddd; }
.machine_list .on { background:#ddd;}
.load_plan_kiosk { margin-bottom:-1px; margin-left:3px; border:1px solid #c9ddf3; overflow:hidden1; background:#ebf7fb; }
.load_plan_kiosk:hover, .load_plan_kiosk_on { background:#ffffe8; }
.td1, .td2, .td3, .td4 { display:block; padding:0 5px; line-height:26px; float:left; min-width:65px; min-height:26px; border-left:1px solid #c9ddf3; }
.td1 { border-left:none; }
.td2 { width:180px; height:100%; overflow:hidden; }
.td3 b { display:inline-block; width:50px; padding-right:20px; }
.td3 span { padding-right:20px; }
.td4 { float:right; width:120px; border-left:1px solid #c9ddf3; }
.load_plan_kiosk .helpIcon { margin-top:4px; }
.tdtitle, .tdtitle:hover { font-weight:bold; text-align:left; background:url(images/grid_table_th_bg.gif) top repeat-x; color:#fff; line-height:26px; min-height:20px; padding-top:0px; padding-bottom:0px; }



/* client_customer_center */
.searchCdt { border:1px solid #ddd; padding:3px 10px; paddint-right:0px; margin-right:10px; display:none; }
.searchCdt .filterBy { font-weight:normal; }
.searchCdt .filterVal { color:#0083B7; margin:0 5px; }

.search_add_select { position:absolute; border:5px solid #0083b7; left:0px; top:0px; padding:5px 10px 10px; margin:2px; z-index:10000; width:200px; background:#fff; display:none; -moz-box-shadow:3px 3px 5px #666;  -webkit-box-shadow:3px 3px 5px #666; box-shadow:3px 3px 5px #666; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.headerForm .searchBtn { margin-left:10px; }
.search_add_select .titleText { cursor:move; }
.search_add_select select { width:193px; }
.s_input { display:none; width:180px; }

.sclose { margin-top:10px; }
.blockShadow { -moz-box-shadow:3px 3px 5px #666;  -webkit-box-shadow:3px 3px 5px #666; box-shadow:3px 3px 5px #666; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }



.kioskGroups label, .productLabels label { margin:4px 10px 0px 10px; padding:1px 5px; display:inline-block; }
.kioskGroups label:hover, .productLabels label:hover { background:#efefef; }

.slot_shot { }
.slot_shot .shot_img { width:100%; padding-top:20px; min-height:100px; border:1px solid #ddd; display:block; margin-bottom:5px; }

.zoomInCursor {cursor:url(../../../images/zoomin_icon.gif), auto; cursor:url(../../../images/zoomin_icon.ico);}