@charset "utf-8";
/* CSS Document */
*:link, *:visited, *:hover, *:active, *:focus {
-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
}

body { margin:0; padding:0; font-family:"微软雅黑", Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; font-size:12px; color: #000;  }
p { margin:0 auto 15px auto; }
img { border:none; display:inline; }
input[type*="radio"] { margin-right:5px; }
a.btn, button, input[type*="button"], input[type*="submit"], input[type*="reset"] {
	padding:3px 6px; border:1px solid #999; color:#333; text-decoration:none; cursor:pointer; display:inline-block; text-align:center; font-size:12px; font-weight:normal; font-family:"微软雅黑", Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; margin-right:15px;
	background-color:#f7f7f7; *overflow:visible;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
	background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999; box-shadow:0px 0px 3px #999; -o-box-shadow: #999 3px 3px 4px;
}
button:hover, input[type*="button"]:hover, input[type*="submit"]:hover, input[type*="reset"]:hover { 
	background:#efefef; *overflow:visible;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
	background-image: -moz-linear-gradient(center top , #dddddd, #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
}
button:active, input[type*="button"]:active, input[type*="submit"]:active, input[type*="reset"]:active { 
	position:relative; top:1px; left:1px; *overflow:visible;
	-moz-box-shadow:0px 0px 1px #bbb;  -webkit-box-shadow:0px 0px 1px #bbb; box-shadow:0px 0px 1px #bbb;
}

input[type*="radio"] { position:relative; top:-3px; }
label { margin-right:15px; cursor:pointer; }
input[type*="text"], input[type*="password"], textarea { font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px; padding:3px 5px; border:1px solid #cdcdcd; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
select { font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px; border:1px solid #cdcdcd; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:1px; padding-left:3px; }
textarea { min-height:80px; }


a.btn, input.btn, button.btn { min-width:50px; } 
*+html a.btn, *+html input.btn, *+html button.btn  { min-width:auto; } /* IE7 */


input.btn {  }
a.btn1, a.btn1:hover, input.btn1, input.btn1:hover, button.btn1, button.btn1:hover  {  /* blue */
	background-color:#1c77b8; color:#fff; border-color:#1d567d;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#23a8fa), to(#185e95));
	background-image: -moz-linear-gradient(center top , #23a8fa, #185e95);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95')" ; /* IE8 */
}
a.btn2, input.btn2, input.btn2:hover, button.btn2, button.btn2:hover {   /* green */
	background-color:#007438; color:#fff; border-color:#333;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00bb6d), to(#005622));
	background-image: -moz-linear-gradient(center top , #00bb6d, #005622);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622')" ; /* IE8 */
}
a.btn3, input.btn3, input.btn3:hover, button.btn3, button.btn3:hover {   /* grey blue */
	background-color:#9cb4ba; color:#fff; border-color:#688b8e;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aac0c7), to(#88a1a7));
	background-image: -moz-linear-gradient(center top , #aac0c7, #88a1a7);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac0c7', endColorstr='#88a1a7'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac0c7', endColorstr='#88a1a7')" ; /* IE8 */
}
a.btn4, input.btn4, input.btn4:hover, button.btn4, button.btn4:hover {   /* grey */
	background-color:#464646; color:#fff; border-color:#333;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#333333));
	background-image: -moz-linear-gradient(center top , #555555, #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333')" ; /* IE8 */
}
a.btn5, input.btn5, input.btn5:hover, button.btn5, button.btn5:hover {   /* orange */
	background-color:#ffc95d; color:#9a6732; border-color:#c79639;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
	background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */
}
a.btn6, input.btn6, input.btn6:hover, button.btn6, button.btn6:hover {   /* lite green */
	background-color:#9fc868; color:#fff; border-color:#69a332;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aedb71), to(#84b443));
	background-image: -moz-linear-gradient(center top , #aedb71, #84b443);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443')" ; /* IE8 */
}
a.btnBig, input.btnBig, button.btnBig { width:100px; height:30px; font-size:14px; font-weight:normal; margin-right:15px; padding-top:0px; }
a.btnBig85, input.btnBig85, button.btnBig85 { width:85px; height:30px; font-size:14px; font-weight:normal; margin-right:0px; padding-top:0px; }
input.input_s { width:80px; }

button.disabled { filter:alpha(opacity=20);  -moz-opacity:0.20;  opacity:0.20; background-image:none; color:#000; }
button.disabled:hover { color:#000; }

input.isDisabled, button.isDisabled, .isDisabled { color:#aaa; background:#ddd; filter:none; }
input.isDisabled:hover, button.isDisabled:hover, .isDisabled:hover { color:#aaa; background:#ddd; filter:none; }
button, input , textarea, select { font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; vertical-align:middle;}
select { height:21px; }
input.errorInput, textarea.errorInput { border:1px solid red; padding:3px 5px; }
select.errorInput { padding:1px 1px; }
.hide { display:none; }

h1,h2,h3,h4,h5,h6 { margin:0px; padding:0px; line-height:1; margin-bottom:15px; }
h1 { height:45px; font-size:30px; font-weight:bold; margin-bottom:10px; padding-bottom:10px; padding-left:55px; margin-right:20px; position:relative; background:url(/images/h1_bg.jpg) 4px 2px no-repeat; line-height:45px; color:#0F4D58; }
h1 span {
	position:absolute; width:100%; height:30px;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
	/* for ie background-color:#fff; filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=20,finishx=0,finishy=90); */
}
h2 { font-size:24px; font-weight:normal; margin-bottom:15px; padding-bottom:10px; }

a { text-decoration:none; color:#0083B7; cursor:pointer; font-weight:bold; }
a:hover {  background-color:#0083B7; color:#fff; }

.imgLink:hover { background:none; }

.space { clear:both; }

.disabled { color:#ddd; cursor:default; text-decoration:none; }
.disabled:hover { color:#ddd; background:none; }
.clear { clear:both; }
.highlight { background:yellow; color:#000; padding:inherit 3px; }
.special { font-size:14px; font-weight:bold; color:green; }  /* for big number highlight from texts */
.note { color:#666; }

.float_left { float:left; }
.float_right { float:right; }
.wrapb { width:60%; }
.wraps { width:37.5%; }

.icons, .bicons, .sicons { width:16px; height:16px; border:none; background-image:url(../images/icons.png); background-repeat: no-repeat;  background-position:-2px -102px; margin:0px 0px 2px 5px; cursor:pointer; display:inline-block; vertical-align:middle; font-size:0px; cursor:pointer; padding:1px ; }
.iconsWithBg { background-color:#fff; }
.icons span { display:inline-block; background-color:#f60; color:#fff; font-size:10px; font-weight:normal; line-height:10px; padding:2px 4px; position:relative; margin-left:10px; margin-top:-8px;
-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }

.bicons { width:30px; height:30px; background-image:url(../images/icons_big.png); }
.sicons { width:10px; height:10px; margin-right:0px; }

.ui-jqgrid tr.ui-row-ltr td .icons { color:#fff; }
.ui-jqgrid tr.ui-row-ltr td .icons:hover { background-color:#EBF7FB; border:1px solid #f3f3f3; padding:0px; }

.resumeIcon  {  background-position:-930px -102px; }
.suspendIcon {  background-position:-900px -102px; }
.restoreIcon {  background-position:-600px -102px; }
.topupIcon {  background-position:-570px -102px; }
.loginasIcon {  background-position:-540px -102px; }
.folderIcon {  background-position:0px -132px; }
.unfolderIcon {  background-position:-30px -132px; }
.okIcon { background-position:-630px -102px; }
.doingIcon { background-position:-660px -102px; }
.lockIcon { background-position:-630px -132px; }
.editIcon { background-position:-150px -102px; }
.removeIcon { background-position:0px -102px; }
.emptyIcon { background-position:-60px -60px; }
.addIcon { background-position:-1020px -102px; }
.msgIcon { background-position:-660px -132px; }
.kejianIcon { background-position:-690px -130px; }
.attachIcon { background-position:-720px -130px; } 
.publicIcon { background-position:-270px -132px; }
.viewIcon { background-position:-390px -102px; }
.printIcon { background-position:-1050px -102px; }
.alarmIcon { background-position:-780px -102px; }

.noticeWhiteIcon {  background-position:-60px -220px; }
.mailWhiteIcon {  background-position:-90px -220px; }
.noticeGeryIcon {  background-position:0px -220px; }
.mailGeryIcon {  background-position:-30px -220px; }
.unfolderWhiteIcon {  background-position:-120px -220px; }
.searchIcon { background-position:-150px -220px; }
.unfolderTitleIcon { background-position:-180px -220px; }
.folderTitleIcon { background-position:-210px -220px; }
.readIcon { background-position:-240px -220px; }
.staroff { background-position:-780px -132px; }
.staron { background-position:-750px -132px; }
.kehouIcon { background-position:-1380px -132px; }
.wordIcon { background-position:-1110px -132px; }
.pdfIcon { background-position:-1020px -132px; }

.brightIcon { background-position:0px -100px; }
.berrorIcon { background-position:-50px -100px; }

.arrowleft  { background-position:-33px -184px; }
.arrowright  { background-position:-63px -184px; }
.arrowdown  { background-position:-93px -184px; }
.arrowup  { background-position:-123px -184px; }


.label, .badge { display: inline-block; padding-top: 2px 4px; color: #fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); white-space: nowrap; vertical-align: baseline; background-color: #999999;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.dataTable { margin-bottom:15px; width:100%; border-top:1px solid #e2e2e2; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; }
.dataTable th { text-align:left; background:#70a402; color:#fff; font-size:14px; }
.dataTable th, .dataTable td { padding:3px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; height:30px; line-height:24px; vertical-align:top; }
.dataTable tr:hover { background:#efefef; }
.dataTable td a { font-size:12px; font-weight:bold; color:#70a402; }
.dataTable a:hover { background-color:#369; color:#fff; }
.dataTable a.icons:hover { background-color:#fff; border:1px solid #fff; padding:0px; }
.dataTable .amountStyle { text-align:left; }
.dataTable tr.error td { color:#FF0000; background:#FFFFE8;  }
.dataTable input[type*="checkbox"] { margin:7px; }

.dataTableWithoutBorder { border: none; }
.dataTableWithoutBorder th, .dataTableWithoutBorder td { border: none; }

.dataTable2 { border:none; }
.dataTable2 th, .dataTable2 td { border:none; border-bottom:1px dashed #ddd; height:28px; color:#666; }
.dataTable2 th { color:#70a402; background-color:#fff; border-bottom:2px solid #70a402; }

.admin .dataTable2 th { color:#0083B7; border-bottom:2px solid #0083B7; height:24px; line-height:24px; }

.dataTable th a, .dataTable th a:hover { color:#70a402; background:none; }
.admin .dataTable2 th a, .dataTable3 th a:hover { color:#0083B7; background:none; }

.dataTable td a { color:#70a402; background-color:none; text-decoration:underline; }
.admin .dataTable2 td a { color:#0083B7; background-color:none; text-decoration:underline; }

.normalTable { margin-bottom:15px; width:100%; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; }
.normalTable * { vertical-align:middle; }
.normalTable th, .normalTable td { padding:3px; height:30px; line-height:28px; text-align:left; vertical-align:top; }
.normalTable input[type*="text"], .normalTable input[type*="password"], .normalTable textarea { width:97%; }
.normalTable textarea { height: 170px; }
.normalTable select {  }


.listTable { margin-bottom:15px; width:100%; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; border:1px solid #ddd; border-bottom:none; border-right:none; }
.listTable th, .listTable td { padding:3px; height:24px; line-height:24px; text-align:left; vertical-align:top; border:1px solid #ddd; border-top:none; border-left:none; }
.listTable th { background:#f6f6f6; line-height:16px; text-align:center; vertical-align:middle; padding:5px; }

/* topmenu Bubble msg */
.msgbox { position:absolute; z-index:200000; width:200px; background:#fff; display:inline-block; display:none; margin:10px;
-moz-box-shadow:0px 0px 5px #666; -webkit-box-shadow:0px 0px 5px #666; box-shadow:0px 0px 4px #666; -o-box-shadow:#666 1px 1px 5px; }
.msgbox .top { position:relative; width:100%; height:10px; margin-top:-10px; background:url(../images/msg_top.png) top right; }
.msgbox .boxcontent { padding:5px 10px; }

/* msg alert display in mainpage */
.noticebox { margin-bottom:15px; font-size:14px; color:#666;  padding:10px 15px; 
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.noticebox .icons { margin-right:15px; }
.msgnotice { background:#dfebfc; border:1px solid #7ca3ce; }
.alarmnotice { background:#fbfcdf; border:1px solid #cfbc7c; }

.headerform { padding:2px 5px; min-height:30px; line-height:30px; margin-bottom:10px; }
.headerform label { margin-right:10px; }
.headerform lable input { margin-right:5px; }
.headerform input[type*="button"], .headerform input[type*="submit"], .headerform input[type*="reset"] { margin-right:0px; } 


/* page navegation */
.pagenav { padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center;}
.pagenav a { border:#ddd 1px solid; padding:2px 5px; color: #0083B7; margin-right: 2px; text-decoration: none; font-weight:normal; }
.pagenav a:hover { border:#0083B7 1px solid; background-color: #f1ffd6;}
.pagenav a:active { border:#0083B7 1px solid; color: #638425; background-color: #f1ffd6;}
.pagenav span.current { border-right: #0083B7 1px solid; padding-right: 5px; border-top: #0083B7 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #0083B7 1px solid; color: #fff; margin-right: 2px; padding-top: 2px; border-bottom: #0083B7 1px solid; background-color: #0083B7;}
.pagenav span.disabled { border: #ddd 1px solid; padding-right: 5px; padding-left: 5px; padding-bottom: 2px; color: #aaa; margin-right: 2px; padding-top:2px; }


.tabs { height:36px; display:block; clear:both; margin-bottom:15px; border-bottom:1px solid #ddd; line-height:28px; background:#f7f7f7; font-size:14px; padding-left:10px; }
.tabs a { display:inline-block; font-weight:normal; padding:0 20px; height:30px; line-height:30px; color:#666; position:relative; top:5px;  }
.tabs a.on, .tabs a.on:hover { color:#70A402; border:1px solid #ddd; border-top:2px solid #70A402; border-bottom:1px solid #fff;  background:#fff; font-weight:bold; }
.tabs a:hover { background:none; font-weight:bold; }





/* out blocks styles */
.container { min-width:960px; background:url(../images/bg.png) center 80px repeat-y; }

.content { width:960px; margin:0 auto; }
.header { height:81px; background:url(../images/header.png) top center repeat-x; }
.footer { height:100px; background:url(../images/bg_footer.png) center center no-repeat; text-align:right; color:#a0a0a0; padding-top:120px; line-height:1.6; color:#666; position:relative; margin-top:-120px; z-index:900; }
.footer .content a { margin:0 5px; }

.header .topmenu, .header .pageguide { height:40px; line-height:40px; font-size:14px; }
.header .topmenu { color:#fff; }
.header .topmenu .logo { float:left; }
.header .topmenu .links a { margin:0 15px; color:#fff; }
.header .topmenu form { display:inline-block; margin-left:20px; }
.header .topmenu form.search .sinput { width:150px; padding:3px 5px; padding-right:28px; color:#666; border:1px solid #cdcdcd; position:relative; z-index:10000; margin-top:-1px; margin-right:-32px;
-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.header .topmenu form.search a { width:20px; background-color:#fff; position:relative; z-index:10001; }
.header .topmenu .memberinfo { float:right; }
.header .topmenu .memberinfo span, .header .topmenu .memberinfo a { margin-right:10px; }
.header .topmenu .memberinfo a { margin-right:10px; }
.header .topmenu .memberinfo .faceIcon { width:24px; height:24px; border:1px solid #fff; vertical-align:middle; margin-left:10px; margin-top:-4px; }

.header .msgbox { margin-top:-28px; }
.header .noticebox { width:350px; margin-left:444px;  }
.header .mailbox { width:350px; margin-left:480px;  }
.header .membermenu { width:80px; position: absolute; right: 15px; top: 75px; }

.header .mailbox .boxcontent { padding:10px; }
.header .mailbox .boxcontent div { height:24px; line-height:24px; margin-bottom:5px; padding:0 3px; }
.header .mailbox .boxcontent div a { width:250px; height:24px; overflow:hidden; display:inline-block; background:#fff; color:#666; font-weight:normal; }
.header .mailbox .boxcontent div span { float:right; color:#999;  }
.header .mailbox .boxcontent div:hover a { background:none; }
.header .mailbox .boxcontent div:hover { background:#E8F4CE; }

.header .membermenu .boxcontent { padding:2px; }
.header .membermenu ul { margin:0px 0 0 0px; padding:0px; padding-bottom:5px; }
.header .membermenu ul li { list-style:none; height:24px; line-height:20px; margin:0px; margin-bottom:5px; padding-left:8px; }
.header .membermenu ul li a { background:#fff; color:#666; font-size:14px; font-weight:normal;  }
.header .membermenu ul li:hover a { background:none; }
.header .membermenu ul li:hover { background:#E8F4CE; }


.mainbody { min-height:400px; position:relative; z-index:10000; padding:15px 0; overflow:hidden; background:url(../images/bg_mainbody.png) repeat-y; }
.mainbody .nav { width:125px; min-height:600px; float:left; position:absolute; z-index:900; }
.mainbody .maincontent { min-width:800px; padding:15px; min-height:550px; margin-left:120px; border:5px solid #8cbc79; background:#fff; position:relative; z-index:1000;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }


.mainbody .nav .face { width:100px; height:100px; border:1px solid #fff; margin:1px 10px 5px 0px; 
-moz-box-shadow:0px 0px 3px #999;  -webkit-box-shadow:0px 0px 3px #999; box-shadow:0px 0px 3px #999; }
.mainbody .nav .face img { width:100px; height:100px; background:#fff; }
.mainbody .nav .name { width:100px; min-height:20px; margin-right:10px; font-size:12px; font-weight:normal; color:#666; text-align:center; margin-bottom:10px; }

.mainbody .nav .navmenu { width:100%; margin-bottom:15px; }
.mainbody .nav .navmenu a { display:block; height:40px; line-height:40px; padding-left:45px; font-size:14px; color:#666; background:url(../images/navmenu_icons.png) 3px 2px no-repeat;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.mainbody .nav .navmenu a.on { background-color:#8cbc79; color:#fff; }
.mainbody .nav .navmenu a:hover { background-color:#c6e8b1; }

.mainbody .nav .navmenu a.mbdc { background-position:3px -38px; }
.mainbody .nav .navmenu a.mzzy { background-position:3px -78px; }
.mainbody .nav .navmenu a.mmnks { background-position:3px -118px; }
.mainbody .nav .navmenu a.mkckj { background-position:3px -158px; }
.mainbody .nav .navmenu a.mnotic { background-position:3px -158px; }
.mainbody .nav .navmenu a.mznsx { background-position:3px -158px; }
.mainbody .nav .navmenu a.mgrsz { background-position:3px -158px; }

.mainbody .maincontent .topline { min-height:36px; line-height:20px; margin-bottom:5px; }
.mainbody .maincontent .topline h1 { float:left; font-size:24px; font-weight:normal; line-height:40px;  margin:0px; padding:0px; margin-right: 30px; padding-left:50px; background:url(../images/navmenu_icons.png) 3px 4px no-repeat; display: inline-block; margin-top:-10px; }

.mainbody .maincontent .topline .topline_right { float:right; }
.mainbody .maincontent .topline .topline_left { float:left; }


.blocks { display:block; clear:both; margin-bottom:15px; overflow:hidden; }
.blocks .title { height:34px; padding:0 10px; font-size:14px; font-weight:bold; color:#333; border-top:3px solid #70A402;  border-bottom:1px solid #ddd; line-height:30px; background:#f7f7f7;  }
.blocks .title span { float:right; margin:8px 6px; }
.blocks .block { width:190px; height:250px; padding:10px; float:left; color:#666; }
.blocks .block a { display:block; color:#666; }
.blocks .block .pic { width:180px; height:130px; padding:4px; border:1px solid #ddd;  }
.blocks .block .pic img { width:180px; height:130px; }
.blocks .block .name { width:180px; height:26px; padding:3px 5px 0; font-size:14px; overflow:hidden; line-height:24px; }
.blocks .block .summary { width:180px; height:50px; padding:0px 5px 5px; line-height:18px; overflow:hidden; font-weight:normal; }
.blocks .block .controlls { width:180px; height:20px; padding-top:10px; }
.blocks .block a:hover { color:#fff; }
.blocks .block .addblock { font-size:50px; text-align:center; padding-bottom:30px; color:#ddd; border:1px solid #ddd; }
.blocks .block .addblock b { font-size:120px; display:block; font-weight:normal; }


.discussblocks { }
.discussblocks .block { display:block; width:100%; height:auto; min-height:24px; border-bottom:1px solid #ddd; }
.discussblocks .block:hover { background:#f7f7f7; }
.discussblocks .block a { display:inline; }
.discussblocks .block .pic { width:50px; height:50px; display:block; float:left; margin-right:15px;  }
.discussblocks .block .pic img { width:50px; height:50px; margin:0px; }
.discussblocks .block .text { width:75%; height:22px; padding:0px; line-height:18px; overflow-y:hidden; float:left; margin-bottom:3px; }
.discussblocks .block .text a, .discussblocks .block .text a:hover { color:#0083B7; background:none; font-size:14px; font-weight:normal; }
.discussblocks .block .text a:hover { text-decoration:underline; }
.discussblocks .block .controlls { width:80px; height:50px; float:right; }


.practiceblocks {}
.practiceblocks .block { display:block; width:100%; height:auto; min-height:90px; border-bottom:1px solid #ddd; }
.practiceblocks .block:hover { background:#f7f7f7; }
.practiceblocks .block a { display:inline; }
.practiceblocks .block .pic { width:110px; height:80px; display:block; float:left; margin-right:15px;  }
.practiceblocks .block .pic img { width:110px; height:80px; margin:0px; }
.practiceblocks .block .name { width:570px; height:25px; padding:0px; line-height:20px; }
.practiceblocks .block .summary { width:570px; height:auto; padding:0px; }
.practiceblocks .block .summary ul { margin:0px; padding:0px; }
.practiceblocks .block .summary ul li { list-style:inside; padding-left:0px; height:22px; }
.practiceblocks .block .summary ul li span { display:inline-block; width:220px; }
.practiceblocks .block .summary ul li span b { font-weight:normal; padding:2px; color:red; }
.practiceblocks .block .summary ul li a { color:#0083B7; padding:2px 5px; font-weight:normal; }
.practiceblocks .block .summary ul li a:hover { color:#fff; }
.practiceblocks .block .controlls { width:80px; height:50px; float:right; }


.wordback { }
.wordback .title { background:none; border:none; font-weight:normal; margin-bottom:10px; }
.wordback .title h2 { line-height:20px; margin-bottom:10px; padding-bottom:0px; }
.wordback .title .text { line-height:1.6; color:#666; }
.wordback .title .btn { width:200px; height:50px; font-size:20px; font-weight:bold; margin-top:10px; }
.wordback .block { width:135px; height:60px; padding:5px; padding-top:15px; margin:10px 10px 10px 10px; float:left; color:#666; text-align:left; border:1px solid #ddd; cursor:pointer;
	background-color:#f7f7f7; *overflow:visible;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	background-image: -moz-linear-gradient(center top , #ffffff, #eeeeee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px;
}
.wordback .block:hover { -moz-box-shadow:0px 0px 4px #999; -webkit-box-shadow:0px 0px 4px #999; box-shadow:0px 0px 4px #999; -o-box-shadow: #999 1px 1px 4px; }
.wordback .block .name, .wordback .block .summary { width:100%; padding:0px; text-align:center;  }
.wordback .block .name { font-weight:bold; font-size:14px; }
.wordback .block .summary b { font-weight:normal; color:red; padding:0 2px; }
.wordback .block .icons { position:absolute; margin-left:121px; margin-top:47px; }

.wordremember { color:#666; border:1px solid #ddd; min-height:300px; padding:20px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.wordremember .wrapleft { width:70%; float:left; }
.wordremember .wrapright { width:25%; float:right; max-height:380px; overflow:auto; }
.wordremember h2 { margin-bottom:10px; padding-bottom:0px; }
.wordremember .currentword, .wordremember .currentsentence, .wordremember .currentpractice { min-height:60px; padding-bottom:10px; margin-bottom:20px; border-bottom:1px dashed #ddd; padding-left:60px; }
.wordremember .currentword .texttitle, .wordremember .currentsentence .texttitle, .wordremember .currentpractice .texttitle { font-size:16px; color:#999; position:absolute; margin-left:-60px; }
.wordremember .currentword h2 { font-size:30px; }
.wordremember .currentword h3 { font-size:18px; font-weight:normal; }
.wordremember .currentsentence h2 { font-size:18px; }
.wordremember .currentsentence h2 b { color:red; font-weight:normal; }
.wordremember .currentpractice { font-size:18px; }
.wordremember .currentpractice h2 { }
.wordremember .currentpractice h2 span { background:#aaa; padding:4px 8px; line-height:24px; margin:0 1px; color:#fff; display:inline-block; float:left;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.wordremember .currentpractice h2 span.currect { background:#70A402; }
.wordremember .currentpractice h2 span.wrong { background:#ffaf15; }
.wordremember .currentpractice input { font-size:24px; margin:10px 0; }
.wordremember .btn { width:100px; height:40px; font-size:20px; font-weight:bold; margin-bottom:10px; margin-right:40px; }

.wordremember .word { font-size:16px; line-height:28px; margin-bottom:1px; margin-right:1px; padding:0 5px; cursor:pointer; }
.wordremember .on { background:#70A402;; color:#fff; }



.personalsetting { }
.personalsetting th { padding-left:30px; }



.facesetting { }
.facesetting .block { padding-left:30px; width:52.5%; height:auto; float:left; }
.facesetting .blocksmall { width:30%; } 
.facesetting img { margin-right:15px; border:1px solid #ddd; padding:2px; vertical-align:bottom; background:#fff;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.facesetting .smallface { width:48px; height:48px; }
.facesetting .bigface { width:100px; height:100px; }
.facesetting .inp_file { margin-bottom:15px; }
.facesetting .block a { display:inline; color:#0083B7; }

.safesetting { }
.safesetting .block { margin:0 0 10px 10px; width:92.5%; height:auto; padding-left:20px; padding-bottom:20px; border-bottom:1px dashed #ddd; }
.safesetting .block div { font-size:18px; }
.safesetting .block div .bicons { margin-right:20px; }
.safesetting .block b { color:red; }
.safesetting .block .msg { padding-top:10px; color:#999; padding-left:62px; }

.bindsetting { }
.bindsetting .title { background:none; border-top:none; padding:10px 0 15px 30px; }
.bindsetting .title .inp { font-size:14px; width:200px; margin:0 10px; margin-right:0px; }
.bindsetting .block { margin:0 0 0px 10px; width:92.5%; height:auto; padding-left:20px; padding-bottom:10px; border-bottom:1px dashed #ddd; }
.bindsetting .block a { font-size:14px; color:#0083B7; display:inline-block; width:400px; }
.bindsetting .block a:hover { color:#0083B7; background:none; }




.exams { }
.exams .wraps { width:140px; position:absolute; }
.exams .wrapb { width:auto; margin-left:140px; min-height:450px; padding:10px 15px; border:1px solid #ccc; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#fff; font-size:14px; }
.exams .wraps a, .exams .wraps a:hover { min-width:33px; width:33px; height:33px; font-size:14px; padding:0px; text-align:center; line-height:33px; margin:0 5px 8px 0; font-weight:bold; color:#666; }
.exams .wraps a.on { 
background-color:#9fc868; color:#fff; border-color:#69a332;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aedb71), to(#84b443));
background-image: -moz-linear-gradient(center top , #aedb71, #84b443);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443')" ; /* IE8 */ }

.exams .tblock { margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #ddd; }
.exams .titletxt { font-weight:bold; line-height:24px; color:#366A05; margin-bottom:10px; }
.exams .msgtxt { line-height:1.8; }
.exams .tinput { border:none; border-bottom:1px solid #aaa; width:90%; }
.exams .ttextarea { background:url(../images/split_line.gif); line-height:30px; width:90%; height:170px; }

.print { margin:20px; }
.print .exams .titletxt { color:#666; }
 
.coursewareblocks { color:#666; }
.coursewareblocks .lists { padding:0px; margin:0px; margin-top:1px solid #ddd; }
.coursewareblocks .lists li { list-style:none; line-height:20px; margin-bottom:5px; }
.coursewareblocks .lists li .icons { margin-top:3px; }

.coursewareblocks h2 { font-size:20px; font-weight:normal; line-height:1.2; margin:0px; text-align:center; } /* courseware title */
.coursewareblocks h3 { font-size:12px; font-weight:normal; line-height:1.8; margin:0px; margin-bottom:10px; padding:5px; text-align:center; border:1px dashed #ddd; border-left:none; border-right:none; color:#666; }  /* courseware features */
.coursewareblocks h3 b { color:#333; margin-right:25px; }

.coursewareblocks .keywords { text-align:center; line-height:1.2; margin:0px; padding:0px; }
.coursewareblocks .keywords h4 { display:inline-block; margin-right:15px; border:none; margin-bottom:8px; }

.coursewareblocks .details { font-size:14px; }
.coursewareblocks .coursewaveview { min-height:450px; border:1px solid #ddd; margin-bottom:15px; }

/* inner page styles */
.test_title { width:130px; height:50px; text-align:center; padding:80px 10px 10px 10px; float:left; background:url(../images/icons.gif) 50px 25px no-repeat; }

.test_block { margin:0 10px 10px 10px; padding:0 10px 20px 10px; border-bottom:1px solid #eee;  font-size:14px; line-height:24px; }
.test_block p b { font-size:24px; font-weight:bold; color:#01cc9a; }
.test_block label { padding-right:15px; }



.groups .block { width:135px; height:60px; padding:5px; padding-top:15px; margin:10px 10px 10px 10px; float:left; color:#666; text-align:left; border:1px solid #ddd; cursor:pointer;
	background-color:#f7f7f7; *overflow:visible;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	background-image: -moz-linear-gradient(center top , #ffffff, #eeeeee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px;
}
.groups .block:hover { -moz-box-shadow:0px 0px 4px #999; -webkit-box-shadow:0px 0px 4px #999; box-shadow:0px 0px 4px #999; -o-box-shadow: #999 1px 1px 4px; }
.groups .block .name, .groups .block .summary { width:100%; padding:0px; text-align:center;  }
.groups .block .name { font-weight:bold; font-size:14px; }
.groups .block .summary b { font-weight:normal; color:red; padding:0 2px; }
.groups .block .icons { position:absolute; margin-left:121px; margin-top:47px; }





/* login */

.lg_email { background:url(../images/input_txt.gif) left top no-repeat;  }
.lg_lpwd { background:url(../images/input_txt.gif) left -30px no-repeat;  }
.lg_vcode { background:url(../images/input_txt.gif) left -60px no-repeat;  }
.lg_rname { background:url(../images/input_txt.gif) left -90px no-repeat;  }
.lg_pwd { background:url(../images/input_txt.gif) left -120px no-repeat;  }
.lg_cpwd { background:url(../images/input_txt.gif) left -150px no-repeat;  }
.lg_phone { background:url(../images/input_txt.gif) left -180px no-repeat;  }
.lg_email2 { background:url(../images/input_txt.gif) left -210px no-repeat;  }

.login { min-height:580px; background:url(../images/login_bg.jpg) center -100px no-repeat; }
.login .header { background:none; height:0px; }
.login .header .logo { position:relative; top:60px; margin-left:130px; }
.login h2 { padding:3px 0; }

.login .loginform, .login .registerform, .login .forgotform { padding:15px; width:280px; min-height:356px; background:url(../images/bg_login.png) left repeat-y; margin:100px 0 20px 485px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.login .loginform, .login .forgotform { padding-top:25px; }
.login .input { width: 260px; padding: 7px 8px 6px 8px; height: 20px; font-size: 16px; font-weight:normal; background-color: #f4f8f3; border:1px solid #999; line-height: 17px; color: #aaa; margin-bottom:20px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 4px; }
.login .input2 { width:150px; float:left; }
.login .select { width:276px; height:32px; padding:4px 8px 4px 8px; }
.login .vercode { width:90px; float:left; padding-left:5px; }
.login .vercode a { display:block; background:none; color:#0083B7; }
.login .btnlogin, .login .btnregister { width:120px; height:40px; font-size:16px; font-weight:bold; }
.login .btnlogin { 
border-color:#145799;
background-color:#4898f1;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a7f1), to(#3d87f0));
background-image: -moz-linear-gradient(center top , #52a7f1, #3d87f0);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0')" }
.login .btnregister { background-position:bottom left; float:right; }
.login .input:focus { border-color:#2c7f00; -moz-box-shadow:0px 0px 4px #36ff00; }
.login .loginform .loginas { margin-top:20px; font-size:16px; color:#666; line-height:2; }
.login .loginform .loginas a { background:none; }

.login .mainbody { min-height:100px; padding-bottom:80px; }
.login .footer { background:none; margin-top:-200px; }
.login .footer .content { width:600px; }

.login .registerform { margin-top:20px; }
.login .registerform .normalTable { }

.login .forgotform { }
.login .forgotform p { margin-bottom:5px; margin-top:0px; font-size:16px; }
.login .forgotform .line { border-top:1px solid #ddd; margin-top:5px; padding-top:25px; }

.login .tabs { width:40px; height:195px; background:none; border:none; padding:0px; position:absolute; top:140px; margin-left:435px; }
.login .tabs .tab { width:38px; height:85px; padding-top:10px; color:#666; font-size:18px; line-height:18px; text-align:center; margin-bottom:-1px;
border:1px solid #999; cursor:pointer;
background-color:#f7f7f7; 
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dddddd));
background-image: -moz-linear-gradient(center top , #efefef, #dddddd);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dddddd'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dddddd')" ; /* IE8 */ }
.login .tabs .on { color:#fff; border-color:#145799;
background-color:#4898f1;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a7f1), to(#3d87f0));
background-image: -moz-linear-gradient(center top , #52a7f1, #3d87f0);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0')" ; /* IE8 */ }

.login .roles { position:relative; left:-6px; margin-bottom:18px; width:300px; }
.login .roles .role { width:96px; height:30px; text-align:center; padding-top:80px; padding-bottom:3px; float:left; } 
.login .roles .teacher { background:url(../images/role_teacher.png) center -180px no-repeat; }
.login .roles .student { background:url(../images/role_student.png) center -180px no-repeat; }
.login .roles .parent  { background:url(../images/role_parent.png) center -180px no-repeat; }
.login .roles .on { background-position:center 3px; }
.login .roles .role input { width:85px; font-size:14px; border:1px solid #ccc; line-height:1.2; padding-top:3px;margin-left:5px; 
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.login .roles .on input { color:#fff; border-color:#4f7308; font-weight:bold;
background-color:#71aa02;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7bb700), to(#6ba203));
background-image: -moz-linear-gradient(center top , #7bb700, #6ba203);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb700', endColorstr='#6ba203'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb700', endColorstr='#6ba203')","progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.login .roles .role:hover  { background-color:#efefef; background-position:center 3px; 
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }


























.adlogin { min-height:580px; }
.adlogin { min-height:580px; background:url(../images/adlogin_bg.jpg) center -80px no-repeat; }
.adlogin .header { background:none; height:0px; }
.adlogin .header .logo { position:relative; top:60px; margin-left:330px; }
.adlogin h2 { padding:3px 0; }

.adlogin .loginform { width:400px; margin:160px 0 20px 330px; padding:20px; padding-top:18px; min-height:200px; margin-bottom:30px; }
.adlogin .footer { text-align:center; }


.admin {  }
.admin .container { background:url(../images/admin_header.gif) center 0px repeat-x; }
.admin .content { width:auto; margin:0 0px; }
.admin .header { height:41px; background:none; padding:10px 20px 0; margin-bottom:0px; }
.admin .header .pageguide { display:none; }
.admin .footer { background:none; height:auto; padding-right:20px; }
.admin .mainbody { background:none; }
.admin .mainbody .nav { width:125px; min-height:600px; margin-left:20px; position:absolute; z-index:900; margin-top:5px; }
.admin .mainbody .maincontent { padding:15px; margin-right:20px; margin-left:140px; border:0px; min-height:450px; border:5px solid #0083B7; background:#fff;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
-moz-box-shadow:0px -1px 2px #fff; -webkit-box-shadow:0px -1px 2px #fff; box-shadow:0px -1px 2px #fff; -o-box-shadow: #fff 0px -1px 2px; }

.admin .mainbody .nav .navmenu a { display:block; height:32px; line-height:32px; padding-left:10px; font-size:14px; color:#666; background:#ddd; margin-bottom:2px; border:1px solid #fff; }
.admin .mainbody .nav .navmenu a.on { background:#0083B7; color:#fff;  }
.admin .mainbody .maincontent .topline { border-bottom:1px solid #ddd; margin-bottom:15px; }
.admin .mainbody .maincontent .topline h1 { padding-left:5px; background:none; font-size:20px; }

.admin .tabs {  }
.admin .tabs a.on, .admin .tabs a.on:hover { color:#0083B7; border-top-color:#0083B7; }





/* advertisment in public */
.ad01 { margin-bottom:15px; }

.publics {}
.publics a { font-weight:normal; color:#666; }
.publics a:hover { color:#2C7F00; background-color:transparent; text-decoration:underline; }
.publics ul, .publics li { margin:0px; padding:0px; list-style:none; }
.publics h2 { font-size:14px; color:#2C7F00; margin:0px; padding:0px; margin-bottom:2px; line-height:30px; }
.publics h2 a.more { float:right; font-size:12px; font-weight:normal; margin-right:5px; padding:0 5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .line { clear:both; border-top:1px solid #ddd; margin:10px; }

.publics .header { height:auto; background:none; }
.publics .header .content { background:url(../images/header.png) #fff repeat-x 0 -41px;  }
.publics .header .topmenu { line-height:35px; }
.publics .header .rightmenu { display:inline-block; float:right; }
.publics .header .rightmenu a { color:#666; margin:0 5px; }
.publics .header .rightmenu a:hover { color:#70A402; background:none; text-decoration:underline; }

.publics .header .topmenu form { margin:0px; padding:0px; }
.publics .header .topmenu form input { margin-right:5px; }

.publics .header .topbanner { padding: 10px 0; }
.publics .header .topbanner .logo { float: left; width:225px; margin-right: 30px; }
.publics .header .topbanner .rb { float: right;  }
.publics .header .topbanner form {float: left; margin-top:5px; margin-left:10px; }
.publics .header .topbanner form input[type*="text"] { background:#f6f6f6; width:260px; padding:4px; margin-right:-7px; padding-left:25px; background:url(../images/icon_search.png) 5px 5px no-repeat; }
.publics .header .topbanner form input[type*="submit"], .publics .header .topbanner form input[type*="button"] { width:90px;
-moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; -o-box-shadow:none; }
.publics .header .topbanner form p { margin-top:5px; }
.publics .header .topbanner form a { color:#0071BC; margin-left:5px; }
.publics .header .topbanner form a:hover { background:none; color:#0071BC; text-decoration:underline; }

.publics .header .topguide { line-height:20px; border-bottom:1px solid #ddd; padding:0 10px 5px; margin-top:-5px; }
.publics .header .topguide a { color:#0071BC; }
.publics .header .topguide a:hover { color:#0071BC; background:none; text-decoration:underline; }

.publics .footer { text-align:left; line-height:1.8; padding-bottom:100px; background-position:center bottom; }
.publics .footer .qklinks { background:#f6f6f6; padding:3px; }
.publics .footer .qklinks a { color:#0071BC; }

.publics .qklinks { margin:0px; padding:0px; margin-bottom:5px; }
.publics .qklinks li { list-style: none; display:inline-block; text-align:center; line-height:28px; float:left; }
.publics .qklinks li a { display:block; width:93px; min-height: 25px; margin:0 2px 0 0px; color:#666; }
.publics .qklinks h2 { margin-left:15px; }
.publics .qklinks li a.xx { background: #F8F3A0; }
.publics .qklinks li a.cz { background: #D9FFB3; }
.publics .qklinks li a.gz { background: #BBEEDD; }
.publics .qklinks li a.xx:hover { background: #EAE38B; }
.publics .qklinks li a.cz:hover { background: #CAEF9E; }
.publics .qklinks li a.gz:hover { background: #A8E2CD; }

.publics .qksublinks { background:#F6F6F6; line-height:28px; width:99.7%; border-top:3px solid #70A402; }
.publics .qksublinks a { margin-left:15px; }

.publics .frlinks { padding-bottom:10px; }
.publics .frlinks span { margin-left:5px; }
.publics .frlinks .sp { font-size:14px; color:#2C7F00; }
.publics .frlinks a { color:#666; background:none; display:inline-table; }

.publics .footer .copyr { position:absolute; text-align:right; width:960px; }

.publics .content { background-color:#fff; padding: 0 10px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
-moz-box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999; box-shadow:0px 0px 3px #999; -o-box-shadow: #999 3px 3px 4px;
 }
.publics .mainbody { clear:both; padding:0px; }

.publics .colleft { width:150px; float: left;  }
.publics .colright {width:180px; float: right; }
.publics .colcenter { width:600px; margin: 0 15px; float:left; }

.publics .colcenter h2 { border-bottom:3px solid #70A402; padding-bottom:2px; margin-bottom:10px; }
.publics .colcenter h2.noborder { border-bottom:none; }

/* nianji top h2 line 上一状态/下一状态 links */
.publics .colcenter h2 span { color:#666; font-weight:normal; margin-right:10px; }
.publics .colcenter h2 span a { color:#2C7F00; }

/* left 分类列表导航 */
.publics .categuids_title { background: #2C7F00; color:#fff; font-size:14px; padding:0 8px; line-height: 26px; margin:0 15px 0 10px; position:relative; z-index:100; margin-top:5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .categuids { margin:0px; padding:10px 0; border:1px solid #70A402; position:relative; top:-8px; position:relative; z-index:90;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .categuids h2 { margin-bottom:0px; padding-left:10px; }
.publics .categuids li { list-style:none; margin:inherit 1px; }
.publics .categuids li a { display:block; padding-left:15px; line-height:22px; }

/* left 达人 list */
.publics .block_dr { margin-bottom:15px; }
.publics .block_dr a:hover { color:#2C7F00; background:none; }
.publics .block_dr li { width:60px; min-height:70px; float:left; margin-right:5px; margin-bottom:5px; padding:5px 3px; text-align:center; }
.publics .block_dr li:hover { background:#f6f6f6; }
.publics .block_dr li .face img { width:50px; height:50px; }
.publics .block_dr li .name { text-align:center; display:block; width:100%; height:30px; line-height:14px; overflow:hidden; }

/* normal only text list */
.publics .block_list { margin-bottom:15px; }
.publics .block_list li { margin-bottom:2px; line-height:20px; width:auto; height:22px; overflow:hidden; }
.publics .block_list li .date { float:right; color:#888; }
/* not hidden overflow */
.publics .block_list2 li { line-height:20px; overflow:auto; margin-bottom:5px; }

/* right 资料推荐 */
.publics .block_zl { margin-bottom:15px; }
.publics .block_zl li { clear:both; min-height:50px; margin:0 5px 5px 0; }
.publics .block_zl .pic { width:45px; height:45px; border:1px solid #ddd; padding:2px; float:left; margin-right:5px; }


/* right 图文推荐 big pic */
.publics .colright .block_tw { margin-bottom:15px; }
.publics .colright .block_tw li { margin-bottom:8px; }
.publics .colright .block_tw li img { width:160px; height:120px; display:block; margin-bottom:2px; }

/* center block imgs */
.publics .block_plist { }
.publics .block_plist a { background:none; }
.publics .block_plist img { width:80px; height:50px; }

.publics .listTable span, .publics .listTable a { margin-left:10px; padding:0 3px; }
.publics .listTable { border-top:3px solid #70A402; margin-bottom:-1px; }

/* nianji top block withborder */
.block_guide { padding:5px 10px; border:1px solid #ddd; line-height:24px; color:#666; margin-bottom:10px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  }
.block_guide .title { color:#70A402; font-size:14px; line-height:24px; background:none; border:none; padding:0px; height:26px; }
.block_guide .title span { float:right; margin:3px; }

.block_guide .block_left { width:40%; float:left; border-right:1px solid #ddd; }
.block_guide .block_left a { text-decoration:underline; }

.block_guide .block_right { width:49.5%; padding:0 5%; float:left; text-indent:2em; }

/* nianji courses block display */
.course_list { }
.course_list .line { clear:both; margin:0px 0 10px 0; border:1px solid #70A402; }
.course_list .block { width:145px; padding:0px; margin-right:5px; margin-bottom:10px; float:left; }
.course_list .block h2 { border:none; height:26px; line-height:26px; margin-bottom:0px; }
.course_list .block li { line-height:20px; margin-bottom:5px; }
.course_list .block li:nth-child(2n+1) { background:#f6f6f6; }


/* in list page title menu display */
.content_cate { width:auto; }
.content_cate ul { margin:5px 10px 5px 5px; }
.content_cate ul li { line-height:20px; margin-bottom:5px; }
.content_cate ul li.on a { font-size:14px; color:#2C7F00; }
.content_cate ul li.on a:hover { text-decoration:none; }

/* in list page each aritcle/bbs/resource list display */
.content_list { }
.content_list .block { width:auto; margin-top:0px; height:auto; }
.content_list .block:nth-child(2n+1) { background:#f6f6f6; }
.content_list .block h2 { border:none; line-height:22px; margin-bottom:5px; }
.content_list .block a { display:inline-block; padding:2px 5px;
-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.content_list .block h2 a { padding:0px; color:#2C7F00; }
.content_list .block p { margin-bottom:0px; }

/* detail page, summary about aritcle/bbs/resource content */
.block_summary { background:#f6f6f6; padding:10px; margin-bottom:10px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.block_summary pre { margin:0px; padding:0px; line-height:20px; font-family:"微软雅黑", Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; font-size:12px; color: #666; }

/* detail page baidu share icons */
.publics .bdshare_t { margin-top:2px; }
.publics .bdshare_t a:hover { background-color:#fff; }

/* detail page  relate recomments */
.relate_recomm {}
.relate_recomm .block { width:46%; }
.relate_recomm .block ul { width:100%; }
.relate_recomm ul li { line-height:20px; margin-bottom:5px; }

/* detail page stars display */
.stars { margin-bottom:10px; }
.stars .score { font-size:20px; font-weight:bold; color:#F87B10; vertical-align:middle; margin-right:5px; }
.stars .icons { width:12px; height:12px; margin:0px; vertical-align:middle; }





