<% notice = notice || flash[:notice] %>
<% alert = alert || flash[:alert] %>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

<% if defined? resource %>
  <ul class="alert">
		<% resource.errors.full_messages.uniq.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
  </ul>
<% end %>

<% if flash[:error] != nil %>
<ul class="alert">
	<li><%= flash[:error] %></li>
  </ul>
<% end %>