// Place all the styles related to the teacher/group_member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* guide css in teacher create group page */
.guide_mask { background:#000; opacity:0.6; position:absolute; z-index:1000; display:none; }
.guide_steps { position:absolute; z-index:1100; display:none; }
.guide_skip_btn { cursor:pointer; position:absolute; display:block; }

.teacher_grooup_step1 { font-size:20px; color:#fff; }
.teacher_grooup_step1 .guide_btn { margin-top: 65px; margin-left:420px; position:absolute; }
.teacher_grooup_step1 .guide_btn input { -moz-box-shadow:0px 0px 5px #000; -webkit-box-shadow:0px 0px 5px #000; box-shadow:0px 0px 5px #000; -o-box-shadow: #000 2px 2px 7px;  }
.teacher_grooup_step1 .guide_arrow { display: none; width:210px; height:110px; background:image-url("guide_line_pointer.png") center center no-repeat; float:right; margin:5px; }
.teacher_grooup_step1 .guide_text { width:70%; margin:70px 25px; text-align:left; display: inline-block; }
.teacher_grooup_step1 .guide_skip_btn_bak { border:1px solid #fff; width:120px; height:35px; color:#fff; background:none; text-align:center; line-height:35px; top: 0; right:20px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.teacher_grooup_step1 .guide_skip_btn { background:image-url("closeButton.png") center center no-repeat; width: 58px; height: 58px; position: relative; float:right;}

.teacher_grooup_step1 .guide_txt { clear: both; border:1px dashed #fff; float:left; padding:15px; padding-bottom:0px; margin:25px; margin-top:0px; min-width:235px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  }

