<p>亲爱的<%= @invitation.name %>，你好!</p>
<p><%= "#{@invitation.group.founder.name}老师邀请你加入小组: #{@invitation.group.name}" %></p>
<p>如果您同意加入此小组，请点击下面的链接地址：</p>

<% url = join_group_member_invitations_url(@invitation.group, token: @invitation.token, format: :html) %>
<%= link_to url, url %>