<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>管理员登录</title>
  <%= stylesheet_link_tag    "global.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script language="javascript">
    $(function(){
        $(document).on("click", "#recognize_captcha", function(){
           $.get("/update_captcha", function(data){
              $(".simple_captcha").replaceWith(data);
           });
        });
    })
  </script>
</head>

<body>
<div class="container login adlogin">
	<div class="header">
		<div class="content">
			<div class="logo"><%= image_tag "logo_big.png" %></div>
		</div>
	</div>
	<div class="mainbody">
		<div class="content">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
				:html => { :id => 'loginform', :class => 'loginform' }) do |f| %>
				
				<%= f.email_field :email, :class => 'input finput lg_email', :addclass=> 'lg_email' %>
				<%= f.password_field :password, :class => 'input finput lg_lpwd', :addclass=> 'lg_lpwd' %>

				<%= show_simple_captcha :label => '验证码' %>
				<div class="space"></div>
				<%= f.submit "管理员登录", :class => 'btn btn1 btnlogin' %>
				
				<%= render "shared/error_msg" %>
			<% end %>
		</div>
	</div>
	<div class="footer">
		<div class="content">
			<p>
				<a href="#">网校首页</a> |
				<a href="#">关于我们</a> |
				<a href="#">投诉与建议</a> |
				<a href="#">联系我们</a>
			</p>
			<p>
				版权所有 &copy; 51KeHou.com 未经许可 严禁复制    建议使用1024X768分辨率浏览本站 <br />
				沪ICP备1020370538号 
			</p>
		</div>
	</div>
	<div class="space"></div>
</div>
<script language="javascript">
$(".tabs .tab").bind("click", function(){
	var in_ = $(".tabs .tab").index(this);
	$(".tabs .tab").removeClass("on");
	$(this).addClass("on");
	$("form").hide();
	$("form:eq("+in_+")").show();
});

$(".finput").bind("focus", function(){
	$(this).removeClass($(this).attr("addclass"));
}).bind("blur", function(){
	if($(this).val() == "") {
		$(this).addClass($(this).attr("addclass"));
	}
});

$(document).ready(function() {
  $(".finput").focus().blur();
});
</script>
</body>
</html>

