<div id="new_shared_file_form">
  <div class="boxcontent">
    <h2>
      上传共享文件
    </h2>
    <%= simple_form_for([@group, @shared_file], remote: true) do |f| %>
      <% if @shared_file.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@shared_file.errors.count, "error") %> prohibited this shared_file from being saved:</h2>

          <ul>
          <% @shared_file.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :attachment %>
      <%= f.input :description, as: :text, placeholder: '输入描述信息，比如 “这是老师新出的试卷。”' %>

      <%= f.button :submit, "共享" %>

      <%= f.hidden_field :tags %>
      <%= f.hidden_field :shared_by_id %>
      <%= f.hidden_field :group_id %>

    <% end %>
  </div>
</div>
