<tr id="<%= dom_id shared_file %>">
  <td>
    <% if shared_file.shared_by %>
    <%= link_to (image_tag shared_file.shared_by.final_avatar.url(:original), alt: '头像'), profile_path(shared_file.shared_by), remote: true %>
    <% else %>
    <%= link_to (image_tag 'face.jpg', alt: '头像'), '#' %>
    <% end %>
  </td>
  <td><a href="#">
      <% if shared_file.shared_by %>
      <%= link_to shared_file.shared_by.name, profile_path(shared_file.shared_by), remote: true %>
      <% else %>
      <%= link_to '未知', '#' %>
      <% end %>
  </a></td>
  <td>
    <%= link_to shared_file.attachment_file_name, shared_file.attachment.url %>
  </td>
  <td><%= l shared_file.created_at %></td>
  <td>
    <%= link_to '', shared_file.attachment.url, method: :get, :class=>'icons downloadIcon' %>
    <%= link_to '', "/groups/#{shared_file.group_id}/shared_files/#{shared_file.id}", remote: true, method: :delete, :class=>'icons removeIcon' %>
  </td>
</tr>
