<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= @shared_file.attachment_file_name %>
</p>

<p>
  <b>Description:</b>
  <%= @shared_file.description %>
</p>

<p>
  <b>Tags:</b>
  <%= @shared_file.tags %>
</p>

<p>
  <b>Shared by:</b>
  <%= @shared_file.shared_by_id %>
</p>

<p>
  <b>Group:</b>
  <%= @shared_file.group_id %>
</p>
