<h1>Listing shared_files</h1>

<table>
  <tr>
    <th>Download</th>
    <th>Description</th>
    <th>Tags</th>
    <th>Shared by</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shared_files.each do |shared_file| %>
  <tr>
    <td><%= link_to shared_file.attachment_file_name, shared_file.attachment.url %></td>
    <td><%= shared_file.description %></td>
    <td><%= shared_file.tags %></td>
    <td><%= shared_file.shared_by_id %></td>
    <td><%= shared_file.group_id %></td>
    <td><%= link_to 'Show', shared_file %></td>
    <td><%= link_to 'Edit', edit_shared_file_path(shared_file) %></td>
    <td><%= link_to 'Destroy', shared_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shared file', new_shared_file_path %>
