<div class="space"></div>
<div class='page_error'>
<p class='er_msg'>
	服务器出错了，请等会再试试<br><br>
	<input type="button" onclick="history.go(-1);" value='返回上一页' class="btn btn1 btnBig" />
	<input type="button" onclick="window.location.href='/';" value='返回首页' class="btn btn2 btnBig" />
</p>
</div>
<div class="space"></div>