@charset "utf-8";
/* CSS Document */
*:link, *:visited, *:hover, *:active, *:focus {
-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
}
body { font-family:"微软雅黑", Verdana, Arial, Helvetica; font-size:12px; line-height:1.8; margin:0px; padding:0px; }

img { border:none; }

.space { clear:both; }

.container { }

.header { width:100%; position:fixed; z-index:100; top:0px; }

.header .info { float:right; font-size:12px; font-weight:bold; padding-right:10px; text-align:right; }
.header .info p { line-height:25px; }
.header .info p a { color:#fff;  }
.header .info p span { color:#47aa40; }
.header .info p img { vertical-align:middle; }

.header .topmenu { }
.header .topmenu td { text-align:center; }
.header .topmenu a { width:140px; height:160px; display:block; }
.header .topmenu a.lianluo { background:url(../images/topmenu_lianluo.png) center top no-repeat; }
.header .topmenu a.shipin { background:url(../images/topmenu_shipin.png) center top no-repeat; }
.header .topmenu a.wenzi { background:url(../images/topmenu_wenzi.png) center top no-repeat; }
.header .topmenu a.xianchang { background:url(../images/topmenu_xianchang.png) center top no-repeat; }
.header .topmenu a.zuopin { background:url(../images/topmenu_zuopin.png) center top no-repeat;  }
.header .topmenu a.guanyu { background:url(../images/topmenu_guanyu.png) center top no-repeat;  }


.header .topmenu a:hover { background-position:center bottom; }



.logoblock {  }
.header .topmenu a.logo { width:98px; height:271px; }
.header .topmenu .logo_zh { width:98px; height:49px; background:url(../images/topmenu_logo_zh.png) center top no-repeat; }
.header .topmenu .logo_en { width:98px; height:49px; background:url(../images/topmenu_logo_en.png) center top no-repeat; }
.header .topmenu a.lan { width:30px; height:49px; display:inline-block; }
.header .topmenu .logoblock:hover .l { background-position:center bottom; }


.footer { display:none; }

.content { width:940px; margin:0 auto; padding-left:6px; padding-bottom:40px; }


.mainbody { width:100%; height:100%; min-height:300px; padding-top:200px; position:relative; z-index:99; }
.mainbody .line_bg { margin-left:0px; width:811px; height:643px; padding:5px 7px; background:url(../images/line_bg.png) left top repeat-y; margin-bottom:-5px; border-top:2px solid #000; }
.mainbody .wz { float:right; margin-left:2px; margin-left:1px; margin-left:12px; }
.mainbody .finished_line { margin-left:0px; width:825px; height:60px; background:#fff; margin-top:-60px; border-top:3px solid #000; }

.fdiv { display:inline-block; line-height:28px; color:#999; font-size:14px; }
.fdiv .bl { display:inline-block; float:left; width:17px; height:30px; background:url(../images/lianluo_link_l.png); }
.fdiv .br { display:inline-block; float:right; width:17px; height:30px; background:url(../images/lianluo_link_r.png); }






.mainbody .nav { width:150px; min-height:300px; float:left; padding:0px 0; }
.mainbody .maincontent { margin-left:140px; padding:0px 15px;  }
.mainbody .maincontent h2 { text-align:center; border-bottom:1px solid #ddd; line-height:2; margin-bottom:10px; }

.mainbody .nav ul, .mainbody .nav li { margin:0px; padding:0px; }
.mainbody .nav .title { margin-bottom:15px;  }
.mainbody .nav ul { margin:0px; padding:0px; }
.mainbody .nav ul li { list-style:none; line-height:24px; padding:0px; padding-left:0; font-size:14px; font-weight:bold; color:#666; line-height:30px; text-align:center; }
.mainbody .nav_en ul li { text-align:left;  }
.mainbody .nav ul li a { font-size:14px; font-weight:bold; color:#666; line-height:30px; }


.mainbody .nav ul li a { font-weight:normal; }
.mainbody .nav ul li:hover { background:#000; color:#fff;  }
.mainbody .nav ul li.title:hover, .mainbody .cont ul li:hover { background:#fff; }
.mainbody .nav ul li:hover a { color:#fff; font-weight:bold; }
.mainbody .cont ul li:hover { color:#666; }

.maincontent .title { border-bottom:1px solid #ccc; padding-bottom:15px; margin-bottom:15px; }

@font-face {
	font-family:'vegue';
	src:url('font/Vegur-B_0500.otf') format('opentype');
}
@font-face {
	font-family:'vegue2';
	src:url('font/Vegur-EL_0500.otf') format('opentype');
}
.en__ .mainbody .nav ul li a { font-size:16px; font-family:vegue2, "微软雅黑"; }
.en__ .mainbody .nav ul li:hover a { font-size:16px; font-family:vegue, "微软雅黑"; }

.mainbody .add_class { padding:10px; padding-bottom:0px; border:1px solid #ddd; margin-bottom:15px; }
.mainbody ul.lists { margin:0px; margin-bottom:10px; border:1px solid #ddd; padding:5px 10px; }
.mainbody ul.lists li { height:26px; padding-left:0px; background:none; margin-bottom:5px; width:100%; overflow:hidden; }
.mainbody ul.lists li.on { font-weight:bold; }
.mainbody ul.lists li:last-child { border-bottom:none; margin-bottom:0px; }
.mainbody ul.lists li a { display:inline; }
.mainbody .textareaContent { width:100%; height:300px; margin-bottom:15px; }
.mainbody .titleContent { width:90%; margin:10px 0 15px 0; border:1px solid #ddd; padding:2px; font-family:"Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif; font-size:14px; line-height:26px; }
.mainbody ul li img { vertical-align:middle; margin-left:3px; cursor:pointer; }

.orderList { padding:10px; padding-bottom:5px; border:1px solid #ddd; margin-bottom:15px; }
.orderList div { padding:0 5px; line-height:24px; margin-bottom:5px; cursor:move; border:1px solid #ddd; }
.orderList div:hover { background:#efefef; }
.orderList div.fli { padding-left:5px; }
.orderList div.cli { padding-left:20px; }


.admin {  }
.admin .nav {  }
.admin .maincontent { margin-right:5px;  }

.admin select { min-width:200px; }

.uploadFrameDiv { position:absolute; z-index:10000; padding:0px; width:800px; height:450px; border:1px solid #090F0D;background:#dbdbdb;  }
#uploadFrameDiv { position:absolute; z-index:10001; background:#fff; }

#uploadFrameDiv h2 { font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:30px; text-indent:15px; height:30px; cursor:pointer; background:#dbdbdb; color:#666; cursor:move; margin-bottom:0px; }
#uploadFrameDiv iframe { margin:0px; border:0px;width:800px; height:420px; }
#uploadFrameDiv h2 a, .admin .imgs .closeIcon { float:right; margin-right:6px; margin-top:3px; cursor:pointer; display:block; width:20px; height:20px; background:url(../images/closeIcon.jpg); }
.admin .imgs .closeIcon { position:absolute; margin-top:95px; margin-left:5px; }
.admin .imgs .editIcon { position:absolute; float:left; margin-top:-26px; display:none; }
.admin .imgs select { position:absolute; margin-top:95px; margin-left:35px; width:60px; min-width:50px; background:yellow; }
#uploadFrameDiv a:hover, .admin .imgs .closeIcon:hover { background-position:0 -20px; }
.InforDiv { position:absolute; z-index:10000; padding:0px 3px; width:300px; border:1px solid #090F0D; background:#fff; }
#InforDiv { height:auto; }
#InforDiv p { margin:0px 0px; font-size:11px; line-height:14px; }







/* page navegation */
.pagenav { padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center;}
.pagenav a, .pagenav span { border:#ddd 1px solid; padding:2px 5px; color: #0083B7; margin:0 3px; text-decoration: none; font-weight:normal; }
.pagenav a:hover { border:#0083B7 1px solid; background-color: #f1ffd6;}
.pagenav a:active { border:#0083B7 1px solid; color: #638425; background-color: #f1ffd6;}
.pagenav span.current { border-right: #0083B7 1px solid; padding-right: 5px; border-top: #0083B7 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #0083B7 1px solid; color: #fff; margin-right: 2px; padding-top: 2px; border-bottom: #0083B7 1px solid; background-color: #0083B7;}
.pagenav span.disabled { border: #ddd 1px solid; padding-right: 5px; padding-left: 5px; padding-bottom: 2px; color: #aaa; margin-right: 2px; padding-top:2px; }




.admin { background:#fff; color:#000; }
.admin a { color:#000; }

.admin .header { border-bottom:2px solid #000; margin:0px; color:#000; height:80px; position:static; background:url(../images/wenzi_bg.jpg) #666; }
.admin .header .logo { height:60px; }
.admin .headerBg { height:80px; }
.admin .header a, .admin .header .info p a { color:#000; padding:10px; }
.admin .header .logo { margin:5px 10px; margin-bottom:3px; }
.admin .header table { margin:5px 10px; font-size:14px; }
.admin .footer { color:#000; }
.admin .mainbody { width:100%; margin:0px; padding:0px; }
.admin .mainbox { }
.admin .mainbody .nav { width:180px; left:0px; position:absolute; border-right:2px solid #000; background:rgba(255,255,255,0.8); }
.admin .mainbody .nav ul { margin:10px; padding:0px; width:160px; }
.admin .mainbody .nav ul li { line-height:28px; margin:5px 0; list-style:none; padding-left:10px; font-size:12px; font-weight:bold; text-align:left; }
.admin .mainbody .nav ul li:hover { background:#000; color:#fff; }
.admin .mainbody .nav ul li:hover a { color:#fff; text-decoration:none; }
.admin .mainbox { margin-left:180px; margin-top:0px; padding:15px 25px 15px 15px; display:block; min-width:650px; }

.admin .dataLine { clear:both; margin-bottom:15px; min-height:100px; cursor:pointer; width:100%; }
.admin .dataLine:hover { background:#efefef; }
.admin .dataLine .img { width:80px; height:80px; float:left; position:absolute; left:195px; }
.admin .dataLine .img img { width:70px; height:70px; padding:4px; border:1px solid #ddd; }
.admin .dataLine .title, .admin .dataLine .date, .admin .dataLine .synopsis { clear:both; float:left; margin-left:95px; display:inline-block; }
.admin .dataLine .title { font-size:14px; padding:0 5px; font-weight:bold; margin-left:90px; }
.admin .dataLine .title:hover { text-decoration:none; background:#000; color:#fff;  }
.admin .dataLine .date b, .admin .dataLine .synopsis b { color:#900; }
.admin .dataLine .synopsis { height:70px; overflow:hidden; display:block;  }

.admin h2 { margin:0px; padding:0px; padding-left:5px; margin-bottom:20px; font-size:20px; line-height:20px; }
.admin .editTable { min-width:800px; width:95%; }
.admin .editTable input[type*="text"], .admin .editTable textarea { background:#fff; color:#666; width:90%; border:1px solid #ccc; padding:3px; }
.admin .editTable textarea { width:99%; height:150px; font-family:Arial, Helvetica, sans-serif; font-size:12px; overflow:auto; }
.admin .editTable label { display:inline-block; margin-right:15px; }
.admin .editTable input[type*="checkbox"] { vertical-align:middle; margin-right:5px; }
.admin .editTable th, .admin .editTable td { text-align:left; height:40px; padding:2px 5px; vertical-align:top; }
.admin .editTable .img, .admin .editTable .ui-state-highlight { width:120px; height:120px; margin-bottom:5px; float:left; margin-right:10px; }
.admin .editTable .ui-state-highlight { background:#FF9; }
.admin .editTable .img img { width:110px; height:110px; padding:4px; border:1px solid #ddd; }
.admin .editTable .imgon { background:red; }
.admin input[type*="submit"], .admin input[type*="button"], .admin input[type*="reset"] { 
	border:1px solid #ccc; background:#f7f7f7; margin-right:15px; cursor:pointer; color:#000; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; padding:2px 6px; text-align:center;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:1px 1px 2px #999; -webkit-box-shadow:1px 1px 2px #999; box-shadow:1px 1px 2px #999; -o-box-shadow: #999 3px 3px 4px; }
.admin input.small { font-size:12px; padding:3px; width:120px; }



.admin .mainbody p { margin:0 auto 15px 0px; }
.admin .pageNav { background:#fff; height:24px; margin-bottom:15px; }

.admin .topLine { height:30px; line-height:30px; margin-bottom:10px; }
.admin .picBlocks { width:130px; height:115px; float:left; margin:0px 15px 15px 0; border:2px solid #ddd; }
.admin .picBlocks .img { margin:5px 5px 0 5px; width:130px; height:90px; }
.admin .picBlocks .img img { width:120px; height:90px; overflow:hidden; }
.admin .picBlocks .img .closeIcon { float:right;cursor:pointer; display:block; width:20px; height:20px; background:url(../images/closeIcon.jpg); position:relative; margin-top:-20px; margin-right:10px; }
.admin .picBlocks .img .closeIcon:hover { background-position:0 -20px; }
.admin .picBlocks .name { width:120px; height:20px; overflow:hidden; padding:0 5px; }



input[type*="radio"] { position:relative; top:-3px; }
label { margin-right:15px; cursor:pointer; }
input[type*="text"], input[type*="password"], textarea { font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px; padding:3px 5px; border:1px solid #cdcdcd; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
select { font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px; border:1px solid #cdcdcd; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:1px; padding-left:3px; }
textarea { min-height:80px; }

input.input_s { width:80px; }
select.select_bg { width: 200px; }

input.isDisabled, button.isDisabled, .isDisabled { color:#aaa; background:#ddd; filter:none; }
input.isDisabled:hover, button.isDisabled:hover, .isDisabled:hover { color:#aaa; background:#ddd; filter:none; }
button, input , textarea, select { font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; vertical-align:middle;}
select { height:21px; }
input.errorInput, textarea.errorInput { border:1px solid red; padding:3px 5px; }
select.errorInput { padding:1px 1px; }
.hide { display:none; }

input.with_default_bg { width: 260px; padding: 7px 8px 6px 8px; height: 20px; font-size: 16px; font-weight:normal; background-color: #f4f8f3; border:1px solid #999; line-height: 17px; color: #aaa; margin-bottom:20px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 4px; }
input.with_default_bg:focus { border-color:#2c7f00; -moz-box-shadow:0px 0px 4px #36ff00; }


.headerform { padding:2px 5px; min-height:30px; line-height:30px; margin-bottom:10px; }
.headerform label { margin-right:10px; }
.headerform lable input { margin-right:5px;}
.headerform input[type*="button"], .headerform input[type*="submit"], .headerform input[type*="reset"] { margin-right:0px; }


.dataTable { margin-bottom:15px; width:100%; border-top:1px solid #e2e2e2; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; }
.dataTable th { text-align:left; background:#70a402; color:#fff; font-size:14px; }
.dataTable th, .dataTable td { padding:3px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; height:30px; line-height:24px; vertical-align:top; }
.dataTable tr:hover { background:#efefef; }
.dataTable td a { font-size:12px; font-weight:bold; }
.dataTable a:hover { text-decoration:underline; }
.dataTable a.icons:hover { background-color:#fff; border:1px solid #fff; padding:0px; }
.dataTable .amountStyle { text-align:left; }
.dataTable tr.error td { color:#FF0000; background:#FFFFE8;  }
.dataTable input[type*="checkbox"] { margin:7px; }

.dataTableWithoutBorder { border: none; }
.dataTableWithoutBorder th, .dataTableWithoutBorder td { border: none; }

.dataTable2 { border:none; }
.dataTable2 th, .dataTable2 td { border:none; border-bottom:1px dashed #ddd; height:28px; color:#666; }
.dataTable2 th { color:#70a402; background-color:#fff; border-bottom:2px solid #70a402; }






.normalTable th, .normalTable td { text-align:left; height:30px; vertical-align:top; }
.proTable { width:100%; font-size:11px; }
.proTable th { font-weight:normal; }
.proTable td { text-decoration:underline; } 
.navigation { clear:both; height:24px; overflow:hidden; line-height:24px; border-bottom:1px solid #ccc; color:#666; padding:10px 0; padding-left:5px; margin-bottom:10px; }
.navigation a { color:#666; line-height:30px; }

.normalTable td { text-align:left; vertical-align:top; height:35px; }
.normalTable td input, .normalTable td textarea, .normalTable td select { font-size:12px; font-family:'微软雅黑', Verdana, Arial, Helvetica, sans-serif; }
.f_t { font-size:18px; font-weight:bold; margin-bottom:5px; }
.b_t { color:#666; line-height:24px; }
.b_t b { font-weight:normal; }

.f_t1 { color:#f26739; }
.b_t1 b { color:#f26739; }
.f_t2 { color:#b2d23b; }
.b_t2 b { color:#b2d23b; }
.f_t3 { color:#f6ec13; }
.b_t3 b { color:#f6ec13; }
.f_t4 { color:#51b848; }
.b_t4 b { color:#51b848; }
.f_t5 { color:#ec1490; }
.b_t5 b { color:#ec1490; }
.f_t6 { color:#2a98ba; }
.b_t6 b { color:#2a98ba; }

.cont_en .normalTable td { font-size:11px; }
.cont_en .normalTable td input, .cont_en .normalTable td textarea, .cont_en .normalTable td select { font-size:11px; }

.big { font-size:14px; color:#666; }
.input1, .textarea1 { border:1px solid #ccc; width:180px; padding:2px; }
.textarea1 { width:100%; height:100px; }
.confirm { border:none; background:#333; padding:3px 15px; cursor:pointer; color:#fff; font-size:14px; font-family:"微软雅黑", Verdana, Arial, Helvetica, sans-serif; font-weight:bold; }

._block { width:250px; height:195px; overflow:hidden; float:left; margin-right:11px; margin-bottom:15px; }
._block .img { width:248px; height:108px; border:1px solid #ccc; }
._block .img img { width:248px; height:108px; }
._block .s_title { width:240px; height:20px; background:#ccc; margin:10px 0 5px 0; line-height:20px; padding:2px 5px; color:#666; }
._block .s_title .txt { float:left; width:160px; height:24px; overflow:hidden; }
._block .s_title .time { float:right; width:80px; }
._block .s_con { padding:0 5px; color:#666; }
._block .n_p { float:left; font-size:10px; width:80px; }


.story_block:hover .s_title { background:#00adef; color:#fff; }
.products_block:hover .s_title { background:#993399; color:#fff; }
.news_block:hover .s_title { background:#f04da0; color:#fff; }
/*
.bannerBlock { width:960px; height:400px; margin-bottom:-40px; min-width:960px; background:none; }
.prevBtn, .nextBtn {  width:61px; height:60px; position:absolute; z-index:10000; cursor:pointer; margin-top:170px; filter:alpha(opacity=100); -moz-opacity:1; opacity: 1; }
.prevBtn { background:url(../images/index_prev_bg.gif) top no-repeat; background-color:none; }
.prevBtn:hover  { background:url(../images/index_prev_bg.gif) bottom no-repeat; background-color:none; }
.nextBtn { background:url(../images/index_next_bg.gif) top no-repeat; background-color:none; }
.nextBtn:hover  { background:url(../images/index_next_bg.gif) bottom no-repeat; background-color:none; }
.moveNav { height:12px; position:relative; z-index:10000; cursor:pointer; margin-top:370px; margin-bottom:-382px; margin-right:15px; float:right; }
.moveNav .dot { width:12px; height:12px; margin-right:5px; overflow:hidden; background:url(../images/index_mv_dot.png) center top no-repeat; float:left; background-color:none; }
.moveNav .on, .moveNav .dot:hover { background-position:0 -22px; }

.moveOut { text-align:center; width:100%; min-width:960px; height:399px; overflow:hidden; cursor:pointer; position:relative; }
.moveWidthOut { position:relative; width:100%; height:400px; overflow:hidden; }
.moveOut .blockImg { position:absolute; height:399px; overflow:hidden; background-repeat:no-repeat; background-position:center; }
*/
.bannerBlock { width:100%; height:400px; padding:0px; margin-bottom:0px; background:#fff url(../images/home_populer_bg1.jpg) repeat-x; }
.bannerBlock .prevBtn, .bannerBlock .nextBtn {  width:61px; height:60px; position:absolute; z-index:10000; cursor:pointer; margin-top:170px; filter:alpha(opacity=10); -moz-opacity:0.1; opacity:0.1; }
.bannerBlock .prevBtn { background:url(../images/index_prev_bg.gif) top no-repeat; background-color:none; }
.bannerBlock .prevBtn:hover  { background:url(../images/index_prev_bg.gif) bottom no-repeat; background-color:none; }
.bannerBlock .nextBtn { background:url(../images/index_next_bg.gif) top no-repeat; background-color:none; }
.bannerBlock .nextBtn:hover  { background:url(../images/index_next_bg.gif) bottom no-repeat; background-color:none; }
.bannerBlock .moveNav { height:20px; position:absolute; z-index:10000; cursor:pointer; margin-top:370px;  }
.bannerBlock .moveNav .dot { width:20px; height:20px; margin-right:5px; overflow:hidden; background:url(../images/index_mv_dot.png) center top no-repeat; float:left; background-color:none; }
.bannerBlock .moveNav .on, .bannerBlock .moveNav .dot:hover { background-position:0 -22px; }

.bannerBlock .moveOut { text-align:center; width:100%; height:399px; overflow:hidden; cursor:pointer; position:relative; }
.bannerBlock .moveWidthOut { position:relative; width:100%; height:400px; overflow:hidden; }
.bannerBlock .moveOut .blockImg { position:absolute; height:399px; overflow:hidden; background-repeat:no-repeat; background-position:center; }

.bannerBlock2 { border:1px solid #ddd; width:810px; margin-top:-25px; }
.bannerBlock2 .prevBtn, .bannerBlock2 .nextBtn { margin-top:90px; }
.bannerBlock2 .moveOut { height:220px; }
.bannerBlock2 .moveWidthOut { height:221px; }
.bannerBlock2 .moveOut .blockImg { height:220px; }
.bannerBlock2 .moveNav { margin-top:200px; }

.pro_syno, .pro_mate, .pro_para { margin-bottom:10px; }
.pro_syno { width:310px; float:left; margin-right:10px; padding-right:10px; border-right:1px solid #ccc; }
.pro_mate { width:310px; float:left; margin-right:10px; padding-right:10px; border-right:1px solid #ccc; }
.pro_para { width:294px; float:right; }
.pro_syno .title, .pro_mate .title, .pro_syno .title, .pro_para .title { height:30px; background:url(../images/pro_title_bg_red.jpg) repeat-x; color:#fff; font-size:14px; font-weight:bold; padding-left:10px; margin-bottom:0px; }
.pro_para .title  { background-image:url(../images/pro_title_bg_black.jpg); }
.p_c { padding:5px; }
.p_c .img { width:270px; height:115px; padding:6px; border:1px solid #ccc; margin-bottom:20px; margin-left:0px; }
.p_c .img img { width:270px; height:115px; }





.ind_block { }
.ind_block .title { color:#333; background:url(../images/ind_title_bg.jpg1) repeat-x; padding-left:10px; line-height:28px; height:28px; font-size:16px; font-weight:normal; }
.ind_block .title a { color:#999; font-size:11px; margin-right:8px; float:right; }
.ind_block .title a:hover { text-decoration:underline; }
.in_news .title { background-position:top; }
.in_products .title { background-position:center; }
.in_storys .title { background-position:bottom; }
.in_news { width:310px; float:left; margin-right:10px; padding-right:10px; border-right:1px solid #ccc; }
.in_products { width:310px; float:left; margin-right:10px; padding-right:10px; border-right:1px solid #ccc; }
.in_storys { width:298px; float:right;  }

.ind_block .on { height:170px; }
.blk { height:28px; line-height:28px; border-bottom:1px dashed #ddd; margin-bottom:1px; font-weight:normal; font-size:11px;  overflow:hidden; }
.ind_block .on .tt { background:#ffe71b; background:#fff; }
.blk .tt { height:28px; line-height:28px; padding:0 5px; margin-bottom:5px; overflow:hidden; }
.blk .tl { width:210px; overflow:hidden; display:inline-block; color:#666; }
.blk .ti { width:70px; overflow:hidden; float:right; text-align:right; }
.blk .thb { width:275px; height:120px; border:1px solid #ddd; padding:5px; background:#fff; display:block; }
.blk .thb img { width:275px; height:120px; }
.blk .tl { width:190px; }



.sitemap { margin-left:-10px;}
.sitemap td { height:80px; }
.sitemap .icons span { width:32px; height:32px; background:url(../images/topmenu_bg.gif) no-repeat; display:inline-block; border-right:1px solid #ddd; vertical-align:middle; margin-right:5px; }
.sitemap .icons a { line-height:32px; font-size:14px; font-weight:bold; color:#fff; display:inline-block; width:220px; padding-left:10px; }

.sitemap .news a { background:#ec008c; }
.sitemap .brand a { background:#fff200; }
.sitemap .products a { background:#91268f; }
.sitemap .story a { background:#00aeef; }
.sitemap .wholesale a { background:#d7df20; }
.sitemap .contact a { background:#2abfc8; }
.sitemap .store a { background:#ff9933; }

.sitemap .inproducts { margin-left:10px; padding-left:12px; border-left:1px solid #ddd; font-size:12px; }
.sitemap .inproducts a { width:230px; line-height:32px; padding-left:10px; display:inline-block; background:#91268f; margin-bottom:8px; color:#fff; }
.sitemap .inproducts a:hover { background:#ffaffe; color:#333; } 

.sitemap .inwholesale { margin-left:10px; padding-left:12px; border-left:1px solid #ddd; font-size:12px; }
.sitemap .inwholesale a { width:230px; line-height:32px; padding-left:10px; display:inline-block; background:#d7df20; margin-bottom:8px; color:#fff; }
.sitemap .inwholesale a:hover { background:#fcffa9; color:#333; } 


.sitemap .news span { background-position:0px 0px; }
.sitemap .brand span { background-position:0px -30px;  }
.sitemap .products span { background-position:0px -60px; }
.sitemap .story span { background-position:0px -90px; }
.sitemap .wholesale span { background-position:0px -120px;  }
.sitemap .contact span { background-position:0px -150px;  }
.sitemap .store span { background-position:0px -180px; margin-right:0px; }

.s_con a { color:#666; }
.s_title a.txt { color:#666; }


.sblocks { color:#666;  }
.sblock { clear:both; margin-bottom:20px; height:85px; }
.sblock  .rt { font-size:14px; font-weight:bold; padding-left:35px; padding-top:8px; width:110px; float:left; }
.sblock  .rt span { text-decoration:underline; font-size:12px; padding-left:10px; }
.sblock  .rc { float:right; border-left:1px solid #ddd; padding-left:20px; height:75px; text-align:top; }
.sblock  .rc p { margin:0px; margin-bottom:10px; margin-top:5px; }
.sblock  .rc a { color:#666; }
.sblock  .rc a:hover { text-decoration:underline; }
.sblock  .rc b { font-size:14px; line-height:24px; height:24px; font-weight:bold; padding-right:10px; vertical-align:top; display:inline-block; }
.sblock  .rc .t1 { width:350px; line-height:24px; height:24px; display:inline-block; overflow-y:hidden;  vertical-align:top; margin-right:20px; }
.sblock  .rc .t2 { width:120px; line-height:24px; display:inline-block; vertical-align:top; }
.sblock  .rc .t3 { width:90px; line-height:24px; display:inline-block; vertical-align:top; }
.sblock  .rc .t4 { width:700px; line-height:24px; height:24px; display:inline-block; overflow-y:hidden; vertical-align:top; }

.npagenav { width:550px; text-align:right; float:right; margin-top:-60px; }




