// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maincontent .bookmode, .maincontent .bookmode2 { border:1px solid #ddd; padding:10px 0 0; margin-bottom:10px;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.maincontent .bookmode h2, .maincontent .bookmode2 h2 { font-size:16px; font-weight:bold; color:#70a402; border-bottom:1px solid #ddd; padding:0 10px; margin-bottom:0px; height:28px; }
.maincontent .bookmode h2 .float_right, .maincontent .bookmode2 h2 .float_right { margin-right:10px; margin-left:20px; }
.maincontent .bookmode .modeblocks, .maincontent .bookmode2 .modeblocks { padding:10px; }

.bookmode .mode_nav { position:absolute; margin-top:5px; }
.bookmode .mode_nav ul { margin:0px; padding:0px; font-size:14px; width:100px; }
.bookmode .mode_nav ul li { list-style:none; position:relative; line-height:35px; border-left:5px solid; text-align:center; padding-right:5px; cursor:pointer; }
.bookmode .mode_nav ul li.nav1 { border-color:#bd2424; color:#bd2424; background:url(../images/nav1_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav2 { border-color:#2f7bba; color:#2f7bba; background:url(../images/nav2_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav3 { border-color:#5db501; color:#5db501; background:url(../images/nav3_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav4 { border-color:#b830da; color:#b830da; background:url(../images/nav4_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav5 { border-color:#30daa0; color:#30daa0; background:url(../images/nav5_bg.png) -5px 0px no-repeat;  }
.bookmode .mode_nav ul li.nav6 { border-color:#d0da30; color:#d0da30; background:url(../images/nav6_bg.png) -5px 0px no-repeat; }

.bookmode .mode_nav ul li.on, .maincontent .nav ul li:hover { background-position: -5px -42px; color:#fff; }

.bookmode .mode_content { margin-left:100px; border-left:1px solid #ddd; padding:5px 10px 5px 0; }


.modeblocks { font-size:14px; margin:0px; padding:0px; height:auto; min-height:400px; overflow:auto; }
.modeblocks p { margin-bottom:15px; line-height:1.8; }
.modeblocks span { padding:2px 5px; }
.modeblocks .sentence, .modeblocks .reading { background:#dff0cc; cursor:pointer;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.modeblocks .word { border-bottom:2px solid #5db501; cursor:pointer; }
.modeblocks .sentence:hover, .sentence_block .word:hover { background:#5db501; color:#fff;  }
.modeblocks .reading { background:#fff0f0; }
.modeblocks .reading .sentence, .modeblocks .reading .sentence:hover { background:none; color:#bd1f1f;  }


// .bookmode2 .mode_nav { background:#F6F6F6; border-bottom:1px solid #ddd; }
// .bookmode2 .mode_nav ul { margin:0px; padding:5px; padding-bottom:0px; width:100%; }
// .bookmode2 .mode_nav ul li { display:inline-block; list-style:none; width:24px; height:24px; line-height:24px; background:#fff; margin-right:5px; margin-bottom:5px; padding:0px; border:1px solid #ccc; text-align:center; cursor:pointer; float:left;
    // background-color:#f7f7f7; *overflow:visible;
    // background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    // background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
    // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    // -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
// .bookmode2 .mode_nav ul li.on { background-color:#1c77b8; color:#fff; border-color:#1d567d;
    // background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#23a8fa), to(#185e95));
    // background-image: -moz-linear-gradient(center top , #23a8fa, #185e95);
    // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95'); /* IE6,IE7 */
    // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95')" ; /* IE8 */ }
// .bookmode2 .mode_nav ul li.on:hover { background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    // background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    // background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */ }
// .bookmode2 .modeblocks { min-height:350px; max-height:350px; overflow:auto; }
// .bookmode2 .control_bar { border-top:1px solid #ddd; padding:10px;  }
// .bookmode2 .control_bar .btnBig { width:auto; min-width:35px; }
// .bookmode2 .control_bar .selects { float:left; font-size:16px; }
// .bookmode2 .control_bar .selects .on { background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    // background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    // background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */ }
// .bookmode2 .control_bar .selects .on:hover {
    // background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    // background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    // background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    // filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */}
// .bookmode2 .control_bar .pages { float:right; }
// .bookmode2 .control_bar .player { float:right; width:260px; margin-right:30px; }


.bookmode2 .num_nav { background:#F6F6F6; background:none; border-bottom:1px solid #ddd; }
.bookmode2 .num_nav ul { margin:0px; padding:5px; padding-bottom:2px; }
.bookmode2 .num_nav ul li { display:inline-block; list-style:none; width:20px; height:20px; line-height:20px; background:#fff; margin-right:3px; margin-bottom:3px;  border:1px solid #ccc; text-align:center; cursor:pointer; float:left;
    background-color:#f7f7f7; *overflow:visible;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.bookmode2 .num_nav ul li.error {
    background-color:#ee0303; color:#fff; border-color:#333;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff0505), to(#870101));
    background-image: -moz-linear-gradient(center top , #ff0505, #870101);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#870101'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#870101')" ; /* IE8 */ }
.bookmode2 .num_nav ul li.correct {
    background-color:#007438; color:#fff; border-color:#333;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00bb6d), to(#005622));
    background-image: -moz-linear-gradient(center top , #00bb6d, #005622);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622')" ; /* IE8 */ }

.bookmode2 .modeblocks { min-height:420px; overflow:auto; }
.bookmode2 .control_bar { border-top:1px solid #ddd; padding:10px;  }
.bookmode2 .control_bar .btnBig { width:auto; min-width:35px; }
.bookmode2 .control_bar .selects { float:left; }
.bookmode2 .control_bar .selects .on { background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */ }
.bookmode2 .control_bar .selects .on:hover {
    background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */
}
.bookmode2 .control_bar .selects input[type*="text"] { width:400px; }
.bookmode2 .control_bar textarea { width: 540px; height: 240px; }
.bookmode2 .control_bar .pages { float:right; }

.bookmode .player, .bookmode2 .player { float:right; width:310px; margin-top:-2px;  margin-right:15px; line-height: 1.8; font-size: 12px; font-weight:normal; }


.bookmode2 .tabs_s { position:relative; margin:0 10px -10px 10px; top:-5px; }

.ui-progressbar { height:1.2em; margin-top:5px; }
.ui-progressbar .ui-progressbar-value { margin: 0px; height: 100%;
    background-color:#1c77b8; color:#fff; border-color:#1d567d;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#23a8fa), to(#185e95));
    background-image: -moz-linear-gradient(center top , #23a8fa, #185e95);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95')" ; /* IE8 */
}

// #questionNav .correct { background-color:#007438; color:#fff; border-color:#333;
//     background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00bb6d), to(#005622));
//     background-image: -moz-linear-gradient(center top , #00bb6d, #005622);
//     filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622'); /* IE6,IE7 */
//     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622')" ; /* IE8 */ }
// #questionNav .error { background-color:#ffc95d; color:#9a6732; border-color:#c79639;
//     background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
//     background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
//     filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
//     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */ }


/*
#statPanel { position: absolute; left: 80px; top: 40px; background:#fff; border:none; z-index: 20002; }
#statPanel .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:url(../images/icons.png) -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
#statPanel .floatcontent { margin:15px; line-height:1.6; z-index: 20001; }
#statPanel .close { background-position:-4px -132px;  }
#statPanel .title { width:350px; height:50px; background:url(../images/submit_div_bg.png) 0px -5px no-repeat; margin-bottom:15px; }
#statPanel .testScore { width:450px; min-height:175px; }
#statPanel .low { background:url(../images/submit_div_bg.png) 310px  -110px no-repeat; }
#statPanel .mid { background:url(../images/submit_div_bg.png) 310px  -110px no-repeat; }
#statPanel .high { background:url(../images/submit_div_bg.png) 310px  -110px no-repeat; }
#statPanel .testShare { width:450px; padding-top:55px; position:relative; margin-top:-45px; margin-bottom:-45px; min-height:80px; background:url(../images/submit_div_bg.png) 300px  -710px no-repeat; }
#statPanel .testTable { width:300px; font-family:"微软雅黑"; }
#statPanel .testTable th { padding-left:10px; padding-right:0px; font-size:18px; color:#1c8500; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; }
#statPanel .testTable td { padding-right:10px; padding-left:8px; font-size:16px; color:#2c2b2b; border-bottom:1px solid #d8d8d8; }
#statPanel .testTable .summary th, #statPanel .testTable .summary td { padding-top:5px; padding-bottom:5px; color:#2f2f2f; border-bottom:none; }
#statPanel .testTable .summary .score { font-size:24px; }
#statPanel .testBtn { width:450px; position:absolute; margin-top:25px; text-align:center;  }
#statPanel .testBtn .btn3 { -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; }
#explanationDiv { position: absolute; right: 10px; bottom: 40px; width: 450px; height: 50px; z-index: 1000; background-color: rgb(38, 200, 252); padding-left: 2px; }
*/

.maskdiv { width:800px; height:650px; margin-top:-10px; background:#fff; position:absolute; z-index:10000; filter:alpha(opacity=75);  -moz-opacity:0.75;  opacity:0.75; display:none; }
.floatdiv { min-width:200px; min-height:100px; position:absolute; z-index:20001; display:none; }
.floatdiv .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:image-url("home_work_icons.png") -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
.floatdiv .floatcontent { margin:15px; line-height:1.6; }


.submitdiv { background:#fff; border:none; position:absolute; z-index: 20002; margin:150px 75px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.submitdiv .floatcontent { margin:15px; line-height:1.6; z-index: 20001; }
.submitdiv .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:image-url("home_work_icons.png") -4px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
.submitdiv .title { width:350px; height:50px; background:image-url("submit_div_bg.png") 0px -5px no-repeat; margin-bottom:15px; }
.submitdiv .testScore { width:500px; min-height:175px; background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .testShare { width:500px; padding-top:65px; position:relative; margin-top:-45px; margin-bottom:-45px; min-height:70px; background:image-url("submit_div_bg.png") 350px  -710px no-repeat; }
.submitdiv .low { background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .mid { background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .high { background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .testTable { width:350px; font-family:"微软雅黑"; }
.submitdiv .testTable th { padding-left:10px; padding-right:0px; font-size:18px; color:#1c8500; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; }
.submitdiv .testTable td { padding-right:10px; padding-left:8px; font-size:16px; color:#2c2b2b; border-bottom:1px solid #d8d8d8; }
.submitdiv .testTable .summary th, .submitdiv .testTable .summary td { padding-top:5px; padding-bottom:5px; color:#2f2f2f; border-bottom:none; }
.submitdiv .testTable .summary .score { font-size:24px; }
.submitdiv .testBtn { width:500px; position:absolute; margin-top:-70px; text-align:center; }
.submitdiv .testBtn .btn { width: 180px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

#help_explanation { margin-top:40px; margin-left:350px; min-width: 350px; min-height: 50px;}
#help_explanation .ocloseIcon { float: right; margin-right: 10px; margin-top:5px; }
#help_explanation h2 { border: none; }







.jp-gui {
    position:relative;
    padding:0px;
    width:98%;
    left: 30px;
    bottom: 0px;
    background-color:#333; color:#fff;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#444444));
    background-image: -moz-linear-gradient(center top , #222222, #444444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#444444'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#444444')" ; /* IE8 */
}

.jp-gui a:hover {
    background-color:transparent;
}

.jp-gui ul {
    margin:0;
    padding:0;
}
.jp-gui ul li {
    position:relative;
    float:left;
    list-style:none;
    margin:2px;
    padding:1px 0;
    cursor:pointer;
}
.jp-gui ul li a {
    margin:0 2px;
}
.jp-gui li.jp-repeat,
.jp-gui li.jp-repeat-off {
    margin-left:344px;
}

.jp-gui li.jp-mute,
.jp-gui li.jp-unmute {
    display: inline-block;
    margin-right: -5px;
}
.jp-gui li.jp-volume-max {
    margin-left:0px;
}

.jp-play,.jp-pause {
    margin-left:2px;
}

li.jp-pause,
li.jp-repeat-off,
li.jp-unmute,
.jp-no-solution {
    display:none;
}
.jp-progress-slider {
    position:relative;
    top:3px;
    left:3px;
    margin:0px 4px;
    width:90px;
}
.jp-progress-slider .ui-slider-handle {
    cursor:pointer;
}
.jp-volume-slider {
    position:relative;
    top:5px;
    left:5px;
    width:30px;
    height:.6em;
    margin: 0px 4px;
}
.jp-volume-slider .ui-slider-handle {
    height:.7em;
    width:.7em;
    margin-top:2px;
    border: 1px solid #000;
    cursor:pointer;
}
.jp-current-time,
.jp-duration {
    position:relative;
    top:0px;
    font-size:0.8em;
    cursor:default;
}
.jp-current-time {
    margin-left: 3px;
}
.jp-duration {
    margin-right: 3px;
}
.jp-clearboth {
    clear:both;
}

.jp-gui.jp-no-volume {
    width:265px;
}
.jp-gui.jp-no-volume .jp-volume-slider {
    display:none;
}

#listeningDiv {
	position: relative;
	margin-top:-33px;
    margin-bottom: -33px;
}

#listeningDiv.revise {
	right: 20px;
}

#listeningDiv.exercise {
	right: 250px;
}

