@charset "utf-8";
/* CSS Document */
*:link, *:visited, *:hover, *:active, *:focus {
-webkit-transition:
    color .25s linear,
    background-color .25s linear,
    border-color .25s linear;
transition:
    color .25s linear,
    background-color .25s linear,
    border-color .25s linear;
}

body { margin:0; padding:0; font-family:"微软雅黑", Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; font-size:12px; color: #000;  }
p { margin:0 auto 15px auto; }
img { border:none; display:inline; }
input[type*="radio"] { margin-right:5px; }
a.btn, button, input[type*="button"], input[type*="submit"], input[type*="reset"] {
    padding:3px 6px; border:1px solid #999; color:#333; text-decoration:none; cursor:pointer; display:inline-block; text-align:center; font-size:12px; font-weight:normal; font-family:"微软雅黑", Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; margin-right:15px;
    background-color:#f7f7f7; *overflow:visible;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    -moz-box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999; box-shadow:0px 0px 3px #999; -o-box-shadow: #999 3px 3px 4px;
}
button:hover, input[type*="button"]:hover, input[type*="submit"]:hover, input[type*="reset"]:hover {
    background:#efefef; *overflow:visible;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
    background-image: -moz-linear-gradient(center top , #dddddd, #ffffff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
}
button:active, input[type*="button"]:active, input[type*="submit"]:active, input[type*="reset"]:active {
    position:relative; top:1px; left:1px; *overflow:visible;
    -moz-box-shadow:0px 0px 1px #bbb;  -webkit-box-shadow:0px 0px 1px #bbb; box-shadow:0px 0px 1px #bbb;
}

input[type*="radio"] { position:relative; top:-3px; }
label { margin-right:15px; cursor:pointer; }
input[type*="text"], input[type*="password"], textarea { font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px; padding:3px 5px; border:1px solid #cdcdcd; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
select { font-family:"微软雅黑", Arial, Helvetica, sans-serif; font-size:12px; border:1px solid #cdcdcd; color:#666; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:1px; padding-left:3px; }
textarea { min-height:80px; }


a.btn, input.btn, button.btn { min-width:50px; }
*+html a.btn, *+html input.btn, *+html button.btn  { min-width:auto; } /* IE7 */


input.btn {  }
a.btn1, a.btn1:hover, input.btn1, input.btn1:hover, button.btn1, button.btn1:hover  {  /* blue */
    background-color:#1c77b8; color:#fff; border-color:#1d567d;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#23a8fa), to(#185e95));
    background-image: -moz-linear-gradient(center top , #23a8fa, #185e95);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95')" ; /* IE8 */
}
a.btn2, input.btn2, input.btn2:hover, button.btn2, button.btn2:hover {   /* green */
    background-color:#007438; color:#fff; border-color:#333;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00bb6d), to(#005622));
    background-image: -moz-linear-gradient(center top , #00bb6d, #005622);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622')" ; /* IE8 */
}
a.btn3, input.btn3, input.btn3:hover, button.btn3, button.btn3:hover {   /* grey blue */
    background-color:#9cb4ba; color:#fff; border-color:#688b8e;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aac0c7), to(#88a1a7));
    background-image: -moz-linear-gradient(center top , #aac0c7, #88a1a7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac0c7', endColorstr='#88a1a7'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac0c7', endColorstr='#88a1a7')" ; /* IE8 */
}
a.btn4, input.btn4, input.btn4:hover, button.btn4, button.btn4:hover {   /* grey */
    background-color:#464646; color:#fff; border-color:#333;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#333333));
    background-image: -moz-linear-gradient(center top , #555555, #333333);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333')" ; /* IE8 */
}
a.btn5, input.btn5, input.btn5:hover, button.btn5, button.btn5:hover {   /* orange */
    background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */
}
a.btn6, input.btn6, input.btn6:hover, button.btn6, button.btn6:hover {   /* lite green */
    background-color:#9fc868; color:#fff; border-color:#69a332;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aedb71), to(#84b443));
    background-image: -moz-linear-gradient(center top , #aedb71, #84b443);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443')" ; /* IE8 */
}
a.btn7, input.btn7, input.btn7:hover, button.btn7, button.btn7:hover {   /* red */
    background-color:#ee0303; color:#fff; border-color:#333;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff0505), to(#870101));
    background-image: -moz-linear-gradient(center top , #ff0505, #870101);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#870101'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#870101')" ; /* IE8 */
}
a.btnBig, input.btnBig, button.btnBig { width:100px; height:30px; font-size:14px; font-weight:normal; margin-right:15px; padding-top:0px; }
a.btnBig85, input.btnBig85, button.btnBig85 { width:85px; height:30px; font-size:14px; font-weight:normal; margin-right:0px; padding-top:0px; }
input.input_s { width:80px; }
select.select_bg { width: 200px; }


button.disabled { filter:alpha(opacity=20);  -moz-opacity:0.20;  opacity:0.20; background-image:none; color:#000; }
button.disabled:hover { color:#000; }

input.isDisabled, button.isDisabled, .isDisabled { color:#aaa; background:#ddd; filter:none; }
input.isDisabled:hover, button.isDisabled:hover, .isDisabled:hover { color:#aaa; background:#ddd; filter:none; }
button, input , textarea, select { font-family:Arial, Verdana, Helvetica, sans-serif; font-size:12px; vertical-align:middle;}
select { height:21px; }
input.errorInput, textarea.errorInput { border:1px solid red; padding:3px 5px; }
select.errorInput { padding:1px 1px; }
.hide { display:none; }

input.with_default_bg { width: 260px; padding: 7px 8px 6px 8px; height: 20px; font-size: 16px; font-weight:normal; background-color: #f4f8f3; border:1px solid #999; line-height: 17px; color: #aaa; margin-bottom:20px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 4px; }
input.with_default_bg:focus { border-color:#2c7f00; -moz-box-shadow:0px 0px 4px #36ff00; }


h1,h2,h3,h4,h5,h6 { margin:0px; padding:0px; line-height:1; margin-bottom:15px; }
h1 { height:45px; font-size:30px; font-weight:bold; margin-bottom:10px; padding-bottom:10px; padding-left:15px; margin-right:20px; position:relative; line-height:45px; color:#0F4D58; }
h1 span {
    position:absolute; width:100%; height:30px;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
    /* for ie background-color:#fff; filter:alpha(opacity=100 finishopacity=0 style=1 startx=0,starty=20,finishx=0,finishy=90); */
}
h2 { font-size:24px; font-weight:normal; margin-bottom:15px; padding-bottom:10px; }

a { text-decoration:none; color:#0083B7; cursor:pointer; font-weight:bold; }
a:hover { text-decoration:underline; }

.imgLink:hover { background:none; }

.space { clear:both; }

.disabled { color:#ddd; cursor:default; text-decoration:none; }
.disabled:hover { color:#ddd; background:none; }
.clear { clear:both; }
.highlight { background:yellow; color:#000; padding:inherit 3px; }
.special { font-size:14px; font-weight:bold; color:green; }  /* for big number highlight from texts */
.note { color:#666; }

.float_left { float:left; }
.float_right { float:right; }
.wrapb { width:60%; }
.wraps { width:37.5%; }

.icons, .bicons, .sicons, .hicons, .oicons { width:16px; height:16px; border:none; background-image:image-url("icons.png"); background-repeat: no-repeat;  background-position:-2px -102px; margin:0px 0px 2px 5px; cursor:pointer; display:inline-block; vertical-align:middle; font-size:0px; cursor:pointer; padding:1px ; }
.iconsWithBg { background-color:#fff; }
.icons span { display:inline-block; background-color:#f60; color:#fff; font-size:10px; font-weight:normal; line-height:10px; padding:2px 4px; position:relative; margin-left:10px; margin-top:-8px;
-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }

.bicons { width:30px; height:30px; background-image:image-url("icons_big.png"); }
.sicons { width:10px; height:10px; margin-right:0px; }
.hicons { background-image:image-url("home_work_icons.png"); }
.oicons { background-image:image-url("op.png"); }

.ui-jqgrid tr.ui-row-ltr td .icons { color:#fff; }
.ui-jqgrid tr.ui-row-ltr td .icons:hover { background-color:#EBF7FB; border:1px solid #f3f3f3; padding:0px; }

.resumeIcon  {  background-position:-930px -102px; }
.suspendIcon {  background-position:-900px -102px; }
.restoreIcon {  background-position:-600px -102px; }
.topupIcon {  background-position:-570px -102px; }
.loginasIcon {  background-position:-540px -102px; }
.folderIcon {  background-position:0px -132px; }
.unfolderIcon {  background-position:-30px -132px; }
.okIcon { background-position:-630px -102px; }
.doingIcon { background-position:-660px -102px; }
.lockIcon { background-position:-630px -132px; }
.editIcon { background-position:-150px -102px; }
.removeIcon { background-position:0px -102px; }
.emptyIcon { background-position:-60px -60px; }
.addIcon { background-position:-1020px -102px; }
.msgIcon { background-position:-660px -132px; }
.kejianIcon { background-position:-690px -130px; }
.attachIcon { background-position:-720px -130px; }
.publicIcon { background-position:-270px -132px; }
.viewIcon { background-position:-390px -102px; }
.printIcon { background-position:-1050px -102px; }
.alarmIcon { background-position:-780px -102px; }
.downloadIcon { background-position:-1080px -102px; }

.noticeWhiteIcon {  background-position:-60px -220px; }
.mailWhiteIcon {  background-position:-90px -220px; }
.noticeGeryIcon {  background-position:0px -220px; }
.mailGeryIcon {  background-position:-30px -220px; }
.unfolderWhiteIcon {  background-position:-120px -220px; }
.searchIcon { background-position:-150px -220px; }
.unfolderTitleIcon { background-position:-180px -220px; }
.folderTitleIcon { background-position:-210px -220px; }
.readIcon { background-position:-240px -220px; }
.staroff { background-position:-780px -132px; }
.staron { background-position:-750px -132px; }
.kehouIcon { background-position:-1380px -132px; }
.wordIcon { background-position:-1110px -132px; }
.pdfIcon { background-position:-1020px -132px; }

.brightIcon { background-position:0px -100px; }
.berrorIcon { background-position:-50px -100px; }

.arrowleft  { background-position:-33px -184px; }
.arrowright  { background-position:-63px -184px; }
.arrowdown  { background-position:-93px -184px; }
.arrowup  { background-position:-123px -184px; }

.charStudentIcon {  background-position:-270px -220px; }
.charTeacherIcon {  background-position:-330px -220px; }
.charParentIcon {  background-position:-390px -220px; }
.charStudentOffIcon {  background-position:-300px -220px; }
.charTeacherOffIcon {  background-position:-360px -220px; }
.charParentOffIcon {  background-position:-420px -220px; }

.iconReading { background-position:-3px -34px; }
.iconRause { background-position:-43px -34px; }

.iconShare, .iconShare:hover { width:72px; height:26px; background-color:none; background-position:-156px -132px; color:#3071b9; padding-left:26px; line-height:26px; margin-left:15px;  }

.ocloseIcon { background-position:0px 0px;}
.ocloseIcon:hover { background-position:0px -20px;}

.helpTip { max-width:500px; position:absolute; z-index:100; background:image-url("help_tip_bg.gif") left top no-repeat; font-size:12px; font-weight:normal; color:#000; }
  .helpTip .tipContent {
    padding:8px; margin-left:18px; border:1px solid #bbb; background:#fff; border-left:none; font-family:Arial, Verdana, Helvetica, sans-serif;
    -moz-box-shadow:2px 2px 3px #aaa;  -webkit-box-shadow:2px 2px 3px #aaa; box-shadow:2px 2px 3px #aaa;
    /* filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=145, Strength=3);  IE6,IE7 */
    /* -ms-filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=145, Strength=3) ;  IE8 */
  }
.helpTipRight { background:image-url("help_tip2_bg.gif") right top no-repeat; }
  .helpTipRight .tipContent {
    margin-right:18px; border-left:1px solid #bbb; border-right:none;
    -moz-box-shadow:-2px 2px 3px #aaa; -webkit-box-shadow:-2px 2px 3px #aaa; box-shadow:-2px 2px 3px #aaa;
    /* filter:progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=45, Strength=3);  IE6,IE7 */
    /* -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=45, Strength=3)" ;  IE8 */
  }


.label, .badge { display: inline-block; padding-top: 2px 4px; color: #fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); white-space: nowrap; vertical-align: baseline; background-color: #999999;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.dataTable { margin-bottom:15px; width:100%; border-top:1px solid #e2e2e2; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; }
.dataTable th { text-align:left; background:#70a402; color:#fff; font-size:14px; }
.dataTable th, .dataTable td { padding:3px; border-bottom:1px solid #ddd; border-left:1px solid #ddd; height:30px; line-height:24px; vertical-align:top; }
.dataTable tr:hover { background:#efefef; }
.dataTable td a { font-size:12px; font-weight:bold; }
.dataTable a:hover { text-decoration:underline; }
.dataTable a.icons:hover { background-color:#fff; border:1px solid #fff; padding:0px; }
.dataTable .amountStyle { text-align:left; }
.dataTable tr.error td { color:#FF0000; background:#FFFFE8;  }
.dataTable input[type*="checkbox"] { margin:7px; }

.dataTableWithoutBorder { border: none; }
.dataTableWithoutBorder th, .dataTableWithoutBorder td { border: none; }

.dataTable2 { border:none; }
.dataTable2 th, .dataTable2 td { border:none; border-bottom:1px dashed #ddd; height:28px; color:#666; }
.dataTable2 th { color:#70a402; background-color:#fff; border-bottom:2px solid #70a402; }

.admin .dataTable2 th { color:#0083B7; border-bottom:2px solid #0083B7; height:24px; line-height:24px; }

.dataTable th a, .dataTable th a:hover { color:#70a402; background:none; }
.admin .dataTable2 th a, .dataTable3 th a:hover { color:#0083B7; background:none; }

.admin .dataTable2 td a { color:#0083B7; background-color:none; text-decoration:underline; }

.normalTable { margin-bottom:15px; width:100%; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; }
.normalTable * { vertical-align:middle; }
.normalTable th, .normalTable td { padding:3px; height:30px; line-height:28px; text-align:left; vertical-align:top; }
.normalTable input[type*="text"], .normalTable input[type*="password"], .normalTable textarea { width:97%; }
.normalTable textarea { height: 170px; }
.normalTable input.input_s { width:80px; margin-right:10px; }  /* for small input such as home_work page #createhomework */
.normalTable select {  }


.listTable { margin-bottom:15px; width:100%; font-family:"微软雅黑",Arial, Verdana, Helvetica, sans-serif; font-size:12px; color:#666; border:1px solid #ddd; border-bottom:none; border-right:none; }
.listTable th, .listTable td { padding:3px; height:24px; line-height:24px; text-align:left; vertical-align:top; border:1px solid #ddd; border-top:none; border-left:none; }
.listTable th { background:#f6f6f6; line-height:16px; text-align:center; vertical-align:middle; padding:5px; }

/* topmenu Bubble msg */
.msgbox { position:absolute; z-index:200000; width:200px; background:#fff; display:inline-block; display:none; margin:10px;
-moz-box-shadow:0px 0px 5px #666; -webkit-box-shadow:0px 0px 5px #666; box-shadow:0px 0px 4px #666; -o-box-shadow:#666 1px 1px 5px; }
.msgbox .top { position:relative; width:100%; height:10px; margin-top:-10px; background:image-url("msg_top.png") top right; }
.msgbox .boxcontent { padding:5px 10px; }
.msgbox h2 { font-size:14px; font-weight:bold; color:#70a402; line-height:24px; margin-bottom:0px; }
.msgbox h2 .closeIcon { margin-right:0px; margin-top:5px; }

/* msg alert display in mainpage */
.noticebox { margin-bottom:15px; font-size:14px; color:#666;  padding:10px 15px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.noticebox .icons { margin-right:15px; }
.msgnotice { background:#dfebfc; border:1px solid #7ca3ce; }
.alarmnotice { background:#fbfcdf; border:1px solid #cfbc7c; }

.headerform { padding:2px 5px; min-height:30px; line-height:30px; margin-bottom:10px; }
.headerform label { margin-right:10px; }
.headerform lable input { margin-right:5px; }
.headerform input[type*="button"], .headerform input[type*="submit"], .headerform input[type*="reset"] { margin-right:0px; }


/* page navegation */
.pagenav { padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center;}
.pagenav a { border:#ddd 1px solid; padding:2px 5px; color: #0083B7; margin-right: 2px; text-decoration: none; font-weight:normal; }
.pagenav a:hover { border:#0083B7 1px solid; background-color: #f1ffd6;}
.pagenav a:active { border:#0083B7 1px solid; color: #638425; background-color: #f1ffd6;}
.pagenav span.current { border-right: #0083B7 1px solid; padding-right: 5px; border-top: #0083B7 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #0083B7 1px solid; color: #fff; margin-right: 2px; padding-top: 2px; border-bottom: #0083B7 1px solid; background-color: #0083B7;}
.pagenav span.disabled { border: #ddd 1px solid; padding-right: 5px; padding-left: 5px; padding-bottom: 2px; color: #aaa; margin-right: 2px; padding-top:2px; }


.tabs { height:36px; display:block; clear:both; margin-bottom:15px; border-bottom:1px solid #ddd; line-height:28px; background:#f7f7f7; font-size:14px; padding-left:10px; }
.tabs a { display:inline-block; font-weight:normal; padding:0 20px; height:30px; line-height:30px; color:#666; position:relative; top:5px;  }
.tabs a.on, .tabs a.on:hover { display:inline-block; color:#70A402; border:1px solid #ddd; border-top:2px solid #70A402; border-bottom:1px solid #fff;  background:#fff; font-weight:bold; color:#70a402; }
.tabs a:hover { display:inline-block; background:none; font-weight:bold; }



/* simple captcha vercode */
.vercode { float:left; height:50px; }
.vercode img { float:left; width:95px; margin-right:10px; }
.vercode a { float:left; background:none; color:#0083B7; }
.vercode a:hover { text-decoration:underline; }


/* out blocks styles */
.container { min-width:960px; background:image-url("bg.png") center 80px repeat-y; }

.content { width:960px; margin:0 auto; }
.header { height:81px; background:image-url("header.png") top center repeat-x; }
.footer { height:100px; background:image-url("bg_footer.png") center center no-repeat; text-align:right; color:#a0a0a0; padding-top:120px; line-height:1.6; color:#666; position:relative; margin-top:-120px; z-index:1; }
.footer .content a { margin:0 5px; }

.header .topmenu, .header .pageguide { height:40px; line-height:40px; font-size:14px; }
.header .topmenu {  }
.header .topmenu .logo { float:left; }
.header .topmenu a { margin:0 8px; }
.header .topmenu form { display:inline-block; margin-left:20px; }
.header .topmenu form.search .sinput { width:150px; padding:3px 5px; padding-right:28px; color:#666; border:1px solid #cdcdcd; position:relative; z-index:100; margin-top:-1px; margin-right:-32px;
-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.header .topmenu form.search a { width:20px; background-color:#fff; position:relative; z-index:10001; }
.header .topmenu .memberinfo { float:right; }
.header .topmenu .memberinfo span, .header .topmenu .memberinfo a { margin-right:10px; }
.header .topmenu .memberinfo a { margin-right:10px; }
.header .topmenu .memberinfo .faceIcon { width:24px; height:24px; border:1px solid #fff; vertical-align:middle; margin-left:10px; margin-top:-4px; }

.header .msgbox { margin-top:-28px; }
.header .noticebox { width:350px; margin-left:444px;  }
.header .mailbox { width:350px; margin-left:480px;  }
.header .membermenu { width:80px; position: absolute; right: 15px; top: 75px; }

.header .mailbox .boxcontent { padding:10px; }
.header .mailbox .boxcontent div { height:24px; line-height:24px; margin-bottom:5px; padding:0 3px; }
.header .mailbox .boxcontent div a { width:250px; height:24px; overflow:hidden; display:inline-block; background:#fff; color:#666; font-weight:normal; }
.header .mailbox .boxcontent div span { float:right; color:#999;  }
.header .mailbox .boxcontent div:hover a { background:none; }
.header .mailbox .boxcontent div:hover { background:#E8F4CE; }

.header .membermenu .boxcontent { padding:2px; }
.header .membermenu ul { margin:0px 0 0 0px; padding:0px; padding-bottom:5px; }
.header .membermenu ul li { list-style:none; height:24px; line-height:20px; margin:0px; margin-bottom:5px; padding-left:8px; }
.header .membermenu ul li a { background:#fff; color:#666; font-size:14px; font-weight:normal;  }
.header .membermenu ul li:hover a { background:none; }
.header .membermenu ul li:hover { background:#E8F4CE; }


.mainbody { min-height:400px; position:relative; z-index:100; padding:15px 0; overflow:hidden; background:image-url("bg_mainbody.png") repeat-y; }
.mainbody .nav { width:125px; min-height:600px; float:left; position:absolute; z-index:900; }
.mainbody .maincontent { min-width:800px; padding:15px; min-height:550px; margin-left:120px; border:5px solid #8cbc79; background:#fff; position:relative; z-index:100;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }


.mainbody .nav .face { width:100px; height:100px; border:1px solid #fff; margin:1px 10px 5px 0px;
-moz-box-shadow:0px 0px 3px #999;  -webkit-box-shadow:0px 0px 3px #999; box-shadow:0px 0px 3px #999; }
.mainbody .nav .face img { width:100px; height:100px; background:#fff; }
.mainbody .nav .name { width:100px; min-height:20px; margin-right:10px; font-size:12px; font-weight:normal; color:#666; text-align:center; margin-bottom:10px; }

.mainbody .nav .navmenu { width:100%; margin-bottom:15px; }
.mainbody .nav .navmenu a { display:block; height:40px; line-height:40px; padding-left:45px; font-size:14px; color:#666; background:image-url("navmenu_icons.png") 3px 2px no-repeat;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.mainbody .nav .navmenu a.on { background-color:#8cbc79; color:#fff; }
.mainbody .nav .navmenu a:hover { background-color:#c6e8b1; }

.mainbody .nav .navmenu a.mbdc { background-position:3px -38px; }
.mainbody .nav .navmenu a.mzzy { background-position:3px -78px; }
.mainbody .nav .navmenu a.mmnks { background-position:3px -118px; }
.mainbody .nav .navmenu a.mkckj { background-position:3px -158px; }
.mainbody .nav .navmenu a.mnotic { background-position:3px -158px; }
.mainbody .nav .navmenu a.mznsx { background-position:3px -158px; }
.mainbody .nav .navmenu a.mgrsz { background-position:3px -158px; }

.mainbody .maincontent .topline { min-height:36px; line-height:20px; margin-bottom:5px; }
.mainbody .maincontent .topline h1 { float:left; font-size:24px; font-weight:normal; line-height:40px;  margin:0px; padding:0px; margin-right: 30px; padding-left:50px; background:image-url("navmenu_icons.png") 3px 4px no-repeat; display: inline-block; margin-top:-10px; }

.mainbody .maincontent .topline .topline_right { float:right; }
.mainbody .maincontent .topline .topline_left { float:left; }

.mainbody .maincontent .topline_with_border { border-bottom:3px solid #8cbc79; }



.blocks { display:block; clear:both; margin-bottom:15px; overflow:hidden; }
.blocks .title { height:34px; padding:0 10px; font-size:14px; font-weight:bold; color:#333; border-top:3px solid #70A402;  border-bottom:1px solid #ddd; line-height:30px; background:#f7f7f7;  }
.blocks .title span { float:right; margin:8px 6px; }
.blocks .block { width:190px; height:250px; padding:10px; float:left; color:#666; }
.blocks .block a { display:block; }
.blocks .block .pic { width:180px; height:130px; padding:4px; border:1px solid #ddd;  }
.blocks .block .pic img { width:180px; height:130px; }
.blocks .block .name { width:180px; height:26px; padding:3px 5px 0; font-size:14px; overflow:hidden; line-height:24px; }
.blocks .block .summary { width:180px; height:50px; padding:0px 5px 5px; line-height:18px; overflow:hidden; font-weight:normal; }
.blocks .block .controlls { width:180px; height:20px; padding-top:10px; }
.blocks .block .addblock { font-size:50px; text-align:center; padding-bottom:30px; color:#ddd; border:1px solid #ddd; }
.blocks .block .addblock b { font-size:120px; display:block; font-weight:normal; }


.discussblocks { }
.discussblocks .block { display:block; width:100%; height:auto; min-height:24px; border-bottom:1px solid #ddd; }
.discussblocks .block:hover { background:#f7f7f7; }
.discussblocks .block a { display:inline; }
.discussblocks .block .pic { width:50px; height:50px; display:block; float:left; margin-right:15px;  }
.discussblocks .block .pic img { width:50px; height:50px; margin:0px; }
.discussblocks .block .text { width:75%; height:22px; padding:0px; line-height:18px; overflow-y:hidden; float:left; margin-bottom:3px; }
.discussblocks .block .text a, .discussblocks .block .text a:hover { color:#0083B7; background:none; font-size:14px; font-weight:normal; }
.discussblocks .block .text a:hover { text-decoration:underline; }
.discussblocks .block .controlls { width:80px; height:50px; float:right; }


.practiceblocks {}
.practiceblocks .block { display:block; width:100%; height:auto; min-height:90px; border-bottom:1px solid #ddd; }
.practiceblocks .block:hover { background:#f7f7f7; }
.practiceblocks .block a { display:inline; }
.practiceblocks .block .pic { width:110px; height:80px; display:block; float:left; margin-right:15px;  }
.practiceblocks .block .pic img { width:110px; height:80px; margin:0px; }
.practiceblocks .block .name { width:570px; height:25px; padding:0px; line-height:20px; }
.practiceblocks .block .summary { width:570px; height:auto; padding:0px; }
.practiceblocks .block .summary ul { margin:0px; padding:0px; }
.practiceblocks .block .summary ul li { list-style:inside; padding-left:0px; height:22px; }
.practiceblocks .block .summary ul li span { display:inline-block; width:220px; }
.practiceblocks .block .summary ul li span b { font-weight:normal; padding:2px; color:red; }
.practiceblocks .block .summary ul li a { color:#0083B7; padding:2px 5px; font-weight:normal; }
.practiceblocks .block .summary ul li a:hover { color:#fff; }
.practiceblocks .block .controlls { width:80px; height:50px; float:right; }



.wordback { }
.wordback .title { background:none; border:none; font-weight:normal; margin-bottom:10px; }
.wordback .wrapleft { width:65%; float:left; }
.wordback .wrapright { width:30%; float:right; }
.wordback .title h2 { line-height:20px; margin-bottom:10px; padding-bottom:0px; }
.wordback .title .text { line-height:1.6; color:#666; }
.wordback .title .btn { width:200px; height:50px; font-size:20px; font-weight:bold; margin-top:10px; }
.wordback .block { width:135px; height:60px; padding:5px; padding-top:15px; margin:10px 10px 10px 10px; float:left; color:#666; text-align:left; border:1px solid #ddd; cursor:pointer;
    background-color:#f7f7f7; *overflow:visible;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background-image: -moz-linear-gradient(center top , #ffffff, #eeeeee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    -moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px;
}
.wordback .block:hover { -moz-box-shadow:0px 0px 4px #999; -webkit-box-shadow:0px 0px 4px #999; box-shadow:0px 0px 4px #999; -o-box-shadow: #999 1px 1px 4px; }
.wordback .block .name, .wordback .block .summary { width:100%; padding:0px; text-align:center;  }
.wordback .block .name { font-weight:bold; font-size:14px; }
.wordback .block .summary b { font-weight:normal; color:red; padding:0 2px; }
.wordback .block .icons { position:absolute; margin-left:121px; margin-top:47px; }

.wordremember { color:#666; border:1px solid #ddd; min-height:300px; padding:20px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.wordremember .wrapleft { width:70%; float:left; }
.wordremember .wrapright { width:25%; float:right; max-height:380px; overflow:auto; }
.wordremember h2 { margin-bottom:10px; padding-bottom:0px; }
.wordremember .currentword, .wordremember .currentsentence, .wordremember .currentpractice { min-height:60px; padding-bottom:10px; margin-bottom:20px; border-bottom:1px dashed #ddd; padding-left:60px; }
.wordremember .currentword .texttitle, .wordremember .currentsentence .texttitle, .wordremember .currentpractice .texttitle { font-size:16px; color:#999; position:absolute; margin-left:-60px; }
.wordremember .currentword h2 { font-size:30px; }
.wordremember .currentword h3 { font-size:18px; font-weight:normal; }
.wordremember .currentsentence h2 { font-size:18px; }
.wordremember .currentsentence h2 b { color:red; font-weight:normal; }
.wordremember .currentpractice { font-size:18px; }
.wordremember .currentpractice h2 { }
.wordremember .currentpractice h2 span { background:#aaa; padding:4px 8px; line-height:24px; margin:0 1px; color:#fff; display:inline-block; float:left;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
.wordremember .currentpractice h2 span.currect { background:#70A402; }
.wordremember .currentpractice h2 span.wrong { background:#ffaf15; }
.wordremember .currentpractice input { font-size:24px; margin:10px 0; }
.wordremember .btn { width:100px; height:40px; font-size:20px; font-weight:bold; margin-bottom:10px; margin-right:40px; }

.wordremember .word { font-size:16px; line-height:28px; margin-bottom:1px; margin-right:1px; padding:0 5px; cursor:pointer; }
.wordremember .on { background:#70A402;; color:#fff; }



.personalsetting { }
.personalsetting th { padding-left:30px; }



.facesetting { }
.facesetting .block { padding-left:30px; width:52.5%; height:auto; float:left; }
.facesetting .blocksmall { width:30%; }
.facesetting img { margin-right:15px; border:1px solid #ddd; padding:2px; vertical-align:bottom; background:#fff;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.facesetting .smallface { width:48px; height:48px; }
.facesetting .bigface { width:100px; height:100px; }
.facesetting .inp_file { margin-bottom:15px; }
.facesetting .block a { display:inline; color:#0083B7; }

.safesetting { }
.safesetting .block { margin:0 0 10px 10px; width:92.5%; height:auto; padding-left:20px; padding-bottom:20px; border-bottom:1px dashed #ddd; }
.safesetting .block div { font-size:18px; }
.safesetting .block div .bicons { margin-right:20px; }
.safesetting .block b { color:red; }
.safesetting .block .msg { padding-top:10px; color:#999; padding-left:62px; }

.bindsetting { }
.bindsetting .title { background:none; border-top:none; padding:10px 0 15px 30px; }
.bindsetting .title .inp { font-size:14px; width:200px; margin:0 10px; margin-right:0px; }
.bindsetting .block { margin:0 0 0px 10px; width:92.5%; height:auto; padding-left:20px; padding-bottom:10px; border-bottom:1px dashed #ddd; }
.bindsetting .block a { font-size:14px; color:#0083B7; display:inline-block; width:400px; }
.bindsetting .block a:hover { color:#0083B7; background:none; }




.exams { }
.exams .wraps { width:140px; position:absolute; }
.exams .wrapb { width:auto; margin-left:140px; min-height:450px; padding:10px 15px; border:1px solid #ccc; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background:#fff; font-size:14px; }
.exams .wraps a, .exams .wraps a:hover { min-width:33px; width:33px; height:33px; font-size:14px; padding:0px; text-align:center; line-height:33px; margin:0 5px 8px 0; font-weight:bold; color:#666; }
.exams .wraps a.on {
background-color:#9fc868; color:#fff; border-color:#69a332;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#aedb71), to(#84b443));
background-image: -moz-linear-gradient(center top , #aedb71, #84b443);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aedb71', endColorstr='#84b443')" ; /* IE8 */ }

.exams .tblock { margin-bottom:20px; padding-bottom:20px; border-bottom:1px dashed #ddd; }
.exams .titletxt { font-weight:bold; line-height:24px; color:#366A05; margin-bottom:10px; }
.exams .msgtxt { line-height:1.8; }
.exams .tinput { border:none; border-bottom:1px solid #aaa; width:90%; }
.exams .ttextarea { background:image-url("split_line.gif"); line-height:30px; width:90%; height:170px; }

.print { margin:20px; }
.print .exams .titletxt { color:#666; }

.coursewareblocks { color:#666; }
.coursewareblocks .lists { padding:0px; margin:0px; margin-top:1px solid #ddd; }
.coursewareblocks .lists li { list-style:none; line-height:20px; margin-bottom:5px; }
.coursewareblocks .lists li .icons { margin-top:3px; }

.coursewareblocks h2 { font-size:20px; font-weight:normal; line-height:1.2; margin:0px; text-align:center; } /* courseware title */
.coursewareblocks h3 { font-size:12px; font-weight:normal; line-height:1.8; margin:0px; margin-bottom:10px; padding:5px; text-align:center; border:1px dashed #ddd; border-left:none; border-right:none; color:#666; }  /* courseware features */
.coursewareblocks h3 b { color:#333; margin-right:25px; }

.coursewareblocks .keywords { text-align:center; line-height:1.2; margin:0px; padding:0px; }
.coursewareblocks .keywords h4 { display:inline-block; margin-right:15px; border:none; margin-bottom:8px; }

.coursewareblocks .details { font-size:14px; }
.coursewareblocks .coursewaveview { min-height:450px; border:1px solid #ddd; margin-bottom:15px; }

/* inner page styles */
.test_title { width:130px; height:50px; text-align:center; padding:80px 10px 10px 10px; float:left; background:image-url("icons.gif") 50px 25px no-repeat; }

.test_block { margin:0 10px 10px 10px; padding:0 10px 20px 10px; border-bottom:1px solid #eee;  font-size:14px; line-height:24px; }
.test_block p b { font-size:24px; font-weight:bold; color:#01cc9a; }
.test_block label { padding-right:15px; }



.groups .block { width:135px; height:60px; padding:5px; padding-top:15px; margin:10px 10px 10px 10px; float:left; color:#666; text-align:left; border:1px solid #ddd; cursor:pointer;
    background-color:#f7f7f7; *overflow:visible;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background-image: -moz-linear-gradient(center top , #ffffff, #eeeeee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    -moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px;
}
.groups .block:hover { -moz-box-shadow:0px 0px 4px #999; -webkit-box-shadow:0px 0px 4px #999; box-shadow:0px 0px 4px #999; -o-box-shadow: #999 1px 1px 4px; }
.groups .block .name, .groups .block .summary { width:100%; padding:0px; text-align:center;  }
.groups .block .name { font-weight:bold; font-size:14px; }
.groups .block .summary b { font-weight:normal; color:red; padding:0 2px; }
.groups .block .icons { position:absolute; margin-left:121px; margin-top:47px; }


/* one pic left, one text right */
.imgblock  { margin:0px; padding:0px; padding-bottom:15px; }
.imgblock li { margin:0px; padding:0px; width:49%; float:left; line-height:30px; list-style:none; }
.imgblock li img { width:25px; height:25px; margin-right:5px; vertical-align:middle; }

/* teacher's group block */
.groupblocks { padding-bottom:0px; margin-bottom:0px; }
.groupblocks .block { width:99%; height:auto; }
.groupblocks .wrapleft { width:100px; float:left; }
.groupblocks .wrapright { width:670px; float:left; }

.groupblocks .wrapleft img { width:80px; cursor:pointer; }
.groupblocks .wrapleft p .icons { margin:0 auto; }

.groupblocks .topline a.bigtext { font-size:18px; font-weight:bold; color:#70a402; }
.groupblocks .topline a.bigtext:hover { background:none; color:#70a402; text-decoration:underline; }
.groupblocks .topline a { display:inline-block; color:#0083B7; padding-bottom:5px; }

.groupblocks .dataTable { border:none; }
.groupblocks .dataTable td { border:none; border-bottom:1px dashed #ddd; }
.groupblocks .dataTable td img { width:30px; height:30px; }




.groupbc { }
.groupbc .block { width:230px; height:80px; padding:5px; padding-top:15px; margin:10px 10px 10px 10px; float:left; color:#666; text-align:left; border:1px solid #ddd; cursor:pointer;
    background-color:#f7f7f7; *overflow:visible;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    background-image: -moz-linear-gradient(center top , #ffffff, #eeeeee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    -moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px;
}
.groupbc .block:hover { -moz-box-shadow:0px 0px 4px #999; -webkit-box-shadow:0px 0px 4px #999; box-shadow:0px 0px 4px #999; -o-box-shadow: #999 1px 1px 4px; }
.groupbc p { margin-bottom:5px; }
.groupbc .icons { vertical-align:top; }
.groupbc .block a { display:inline-block; vertical-align:top; color:#0083B7; font-weight:normal; }
.groupbc .block a:hover { background:none; color:#0083B7; text-decoration:underline; }
.groupbc .block .face img { width:30px; height:30px; padding:0px; border:1px solid #ddd; margin-right:5px;  }
.groupbc .block .name { padding:0px; display:inline-block; width:160px; height:35px; line-height:16px; font-size:12px; position:relative; top:-3px; }
.groupbc .block .name a, .groupbc .block .name span { display:block; }
.groupbc .addBtn { width:200px; height:60px; margin:10px 10px 10px 10px; float:left; text-align:left; }
.groupbc .addBtn .btnBig { width:130px; height:50px; font-size:14px; font-weight:bold; }


.bookblock { }
.bookblock .block { width:110px; height:200px; padding:0px; margin-right:23px; margin-bottom:15px; float:left; }
.bookblock .block a, .bookblock .block a:hover { background-color:none; color:#0083B7; }
.bookblock .block a:hover { background-color:#fff; text-decoration:underline; }
.bookblock .block .pic { width:100px; height:130px; padding:4px; border:1px solid #ddd;  }
.bookblock .block .pic:hover { border-color:#0083B7; }
.bookblock .block .pic img { width:100px; height:130px; }
.bookblock .block .name { display: inline-block; width:100px; height:36px; margin-bottom: 5px; padding:3px 5px 0; font-size:14px; overflow:hidden; line-height:18px; }
.bookblock .block .summary { display: inline-block; width:100px; height:34px; padding:0px 5px 5px; line-height:18px; overflow:hidden; font-weight:normal; }
.bookblock .block .controlls { width:100px; height:20px; padding-top:10px; }
.bookblock .subject { display:block; float:left; width:165px; height:24px; line-height:24px; border:1px solid #ddd; padding:5px 10px; margin:0px 10px 10px 0;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.bookblock_with_border { border:1px solid #ddd; border-top:none; padding:15px 0 5px 0; }


.home_work_head_blocks { }
.home_work_head_blocks .wrapleft { width:50%; float:left; padding-left:10px; }
.home_work_head_blocks .wrapright { width:45%; float:right; }
.home_work_head_blocks .topline a.bigtext { font-size:18px; font-weight:bold; color:#70a402; }
.home_work_head_blocks .topline a.bigtext:hover { background:none; color:#70a402; text-decoration:underline; }
.home_work_head_blocks .topline a { display:inline-block; color:#0083B7; }
.home_work_head_blocks .topline p { margin-bottom:5px; }
.home_work_head_blocks .topline p b { font-size:14px; color:#e00; }
.home_work_head_blocks .wrapright a { display:inline-block; vertical-align:middle; }
.home_work_head_blocks .wrapright .ll { float:left; }
.home_work_head_blocks .wrapright .lr { float:right; max-width:290px; }
.home_work_head_blocks .wrapright img { width:50px; margin-right:10px; }
.home_work_head_blocks .wrapright a.bigtext { display:inline; margin-right:10px; }


/* home page scroll block display */
.p_navs { margin-left:30px; height:20px; }
.p_navs .p_dot { width:10px; height:10px; background:#ddd; display:inline-block; cursor:pointer;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.p_navs .on { background:#0083B7; }

.p_control { width:600px; }
.p_control .p_left { width:15px; height:140px; float:left; background:image-url("arrows.png") -30px 40px no-repeat; cursor:pointer;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.p_control .p_right { width:15px; height:140px; float:right; background:image-url("arrows.png") 0px 40px no-repeat; cursor:pointer;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.p_control .p_left:hover { background:#efefef image-url("arrows.png") -90px 40px no-repeat;}
.p_control .p_right:hover { background:#efefef image-url("arrows.png") -60px 40px no-repeat;}




/*
.maincontent .bookmode, .maincontent .bookmode2 { border:1px solid #ddd; padding:10px 0 0; margin-bottom:10px;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.maincontent .bookmode h2, .maincontent .bookmode2 h2 { font-size:16px; font-weight:bold; color:#70a402; border-bottom:1px solid #ddd; padding:0 10px; margin-bottom:0px; height:28px; }
.maincontent .bookmode h2 .float_right, .maincontent .bookmode2 h2 .float_right { margin-right:10px; margin-left:20px; }
.maincontent .bookmode .modeblocks, .maincontent .bookmode2 .modeblocks { padding:10px; }

.mode_nav { position:absolute; margin-top:5px; }
.mode_nav ul { margin:0px; padding:0px; font-size:14px; width:100px; }
.mode_nav ul li { list-style:none; position:relative; line-height:35px; border-left:5px solid; text-align:center; padding-right:5px; cursor:pointer; }
.mode_nav ul li.nav1 { border-color:#bd2424; color:#bd2424; background:image-url("nav1_bg.png") -5px 0px no-repeat; }
.mode_nav ul li.nav2 { border-color:#2f7bba; color:#2f7bba; background:image-url("nav2_bg.png") -5px 0px no-repeat; }
.mode_nav ul li.nav3 { border-color:#5db501; color:#5db501; background:image-url("nav3_bg.png") -5px 0px no-repeat; }
.mode_nav ul li.nav4 { border-color:#b830da; color:#b830da; background:image-url("nav4_bg.png") -5px 0px no-repeat; }
.mode_nav ul li.nav5 { border-color:#30daa0; color:#30daa0; background:image-url("nav5_bg.png") -5px 0px no-repeat;  }
.mode_nav ul li.nav6 { border-color:#d0da30; color:#d0da30; background:image-url("nav6_bg.png") -5px 0px no-repeat; }

.mode_nav ul li.on, .maincontent .nav ul li:hover { background-position: -5px -42px; color:#fff; }

.bookmode .mode_content { margin-left:100px; border-left:1px solid #ddd; padding:5px 10px 5px 0; }
*/

.bookmode, .bookmode2 { border:1px solid #ddd; padding:10px 0 0; margin-bottom:10px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.bookmode h2, .bookmode2 h2 { font-size:16px; font-weight:bold; color:#70a402; border-bottom:1px solid #ddd; padding:0 10px; margin-bottom:0px; height:28px; }
.bookmode h2 .float_right, .bookmode2 h2 .float_right { margin-right:10px; margin-left:20px; }
.bookmode .modeblocks, .bookmode2 .modeblocks { padding:10px; }

.bookmode .mode_nav { position:absolute; margin-top:5px; }
.bookmode .mode_nav ul { margin:0px; padding:0px; font-size:14px; width:100px; }
.bookmode .mode_nav ul li { list-style:none; position:relative; line-height:35px; border-left:5px solid; text-align:center; padding-right:5px; cursor:pointer; }
.bookmode .mode_nav ul li.nav1 { border-color:#bd2424; color:#bd2424; background:url(../images/nav1_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav2 { border-color:#2f7bba; color:#2f7bba; background:url(../images/nav2_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav3 { border-color:#5db501; color:#5db501; background:url(../images/nav3_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav4 { border-color:#b830da; color:#b830da; background:url(../images/nav4_bg.png) -5px 0px no-repeat; }
.bookmode .mode_nav ul li.nav5 { border-color:#30daa0; color:#30daa0; background:url(../images/nav5_bg.png) -5px 0px no-repeat;  }
.bookmode .mode_nav ul li.nav6 { border-color:#d0da30; color:#d0da30; background:url(../images/nav6_bg.png) -5px 0px no-repeat; }

.bookmode .mode_nav ul li.on, .maincontent .nav ul li:hover { background-position: -5px -42px; color:#fff; }

.bookmode .mode_content { margin-left:100px; border-left:1px solid #ddd; padding:5px 10px 5px 0; }


.modeblocks { font-size:14px; margin:0px; padding:0px; height:auto; min-height:400px; overflow:auto; }
.modeblocks p { margin-bottom:15px; line-height:1.8; }
.modeblocks span { padding:2px 5px; }
.modeblocks .sentence, .modeblocks .reading { background:#dff0cc; cursor:pointer;
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.modeblocks .word { border-bottom:2px solid #5db501; cursor:pointer; }
.modeblocks .sentence:hover, .sentence_block .word:hover { background:#5db501; color:#fff;  }
.modeblocks .reading { background:#fff0f0; }
.modeblocks .reading .sentence, .modeblocks .reading .sentence:hover { background:none; color:#bd1f1f;  }



.bookmode2 .num_nav { background:#F6F6F6; background:none; border-bottom:1px solid #ddd; }
.bookmode2 .num_nav ul { margin:0px; padding:5px; padding-bottom:0px; }
.bookmode2 .num_nav ul li { display:inline-block; list-style:none; width:24px; height:24px; line-height:24px; background:#fff; margin-right:5px; margin-bottom:5px;  border:1px solid #ccc; text-align:center; cursor:pointer; float:left;
    background-color:#f7f7f7; *overflow:visible;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(center top , #ffffff, #dddddd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd')", "progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
    -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

@mixin li_on { background-color:#1c77b8; color:#fff; border-color:#1d567d;
        background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#23a8fa), to(#185e95));
        background-image: -moz-linear-gradient(center top , #23a8fa, #185e95);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a8fa', endColorstr='#185e95')" ; /* IE8 */ }

@mixin li_on_hover { background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */ }

.bookmode2 .num_nav ul li.correct.on {
    @include li_on
}

.bookmode2 .num_nav ul li.on {
    @include li_on
}

.bookmode2 .num_nav ul li.error.on {
    @include li_on
}

.bookmode2 .num_nav ul li.correct.on:hover {
    @include li_on_hover
}

.bookmode2 .num_nav ul li.error.on:hover {
    @include li_on_hover
}

.bookmode2 .num_nav ul li.on:hover {
    @include li_on_hover
}

.bookmode2 .num_nav ul li.correct {
    background-color:#007438; color:#fff; border-color:#333;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00bb6d), to(#005622));
    background-image: -moz-linear-gradient(center top , #00bb6d, #005622);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bb6d', endColorstr='#005622')" ; /* IE8 */ }
.bookmode2 .num_nav ul li.error {
    background-color:red; color:#fff; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F33A42), to(#F00909));
    background-image: -moz-linear-gradient(center top , #F33A42, #F00909);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F33A42', endColorstr='#F00909'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F33A42', endColorstr='#F00909')" ; /* IE8 */ }
.bookmode2 .modeblocks { min-height:420px; max-height:420px; overflow:auto; }
.bookmode2 .control_bar { border-top:1px solid #ddd; padding:10px;  }
.bookmode2 .control_bar .btnBig { width:auto; min-width:35px; }
.bookmode2 .control_bar .selects { float:left; }
.bookmode2 .control_bar .selects .on { background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */ }
.bookmode2 .control_bar .selects .on:hover {
    background-color:#ffc95d; color:#9a6732; border-color:#c79639;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd871), to(#ecab3e));
    background-image: -moz-linear-gradient(center top , #ffd871, #ecab3e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd871', endColorstr='#ecab3e')" ; /* IE8 */
}
.bookmode2 .control_bar .pages { float:right; }
.bookmode2 .control_bar .player { float:right; width:290px; margin-right:30px; }
.player .txt { text-align:left; position:relative; top:-8px; margin-bottom:-5px; }


.maskdiv { width:800px; height:650px; margin-top:-10px; background:#fff; position:absolute; z-index:10000; filter:alpha(opacity=75);  -moz-opacity:0.75;  opacity:0.75; display:none; }
.floatdiv { min-width:200px; min-height:100px; position:absolute; z-index:20001; display:none; }
.floatdiv .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:image-url("home_work_icons.png") -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
.floatdiv .floatcontent { margin:15px; line-height:1.6; }

.menudiv { max-width:300px; max-height:300px; border:1px solid #c2c2c2; background-color:#e8e8e8;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f7f9), to(#e7e7e7));
    background-image: -moz-linear-gradient(center top , #f6f7f9, #e7e7e7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f9', endColorstr='#e7e7e7'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f9', endColorstr='#e7e7e7')" ; /* IE8 */
    -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.menudiv p { text-decoration:underline; }
.menudiv .cword { font-size:18px; font-family:"Times New Roman", Times, serif; font-weight:bold; }
.menudiv .cword strong { font-size:14px; font-style:italic; margin-left:15px;  }

.popdiv { max-width:480px; max-height:450px; border:1px solid #c2c2c2; background:#efefef;
-moz-box-shadow:0px 0px 15px #666; -webkit-box-shadow:0px 0px 15px #666; box-shadow:0px 0px 15px #666; -o-box-shadow: #666 0px 0px 15px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.popdiv p { font-size:14px; padding:5px 20px; text-align:center; }
.popdiv p span.price { color:#bc0000; font-weight:bold; }
.popdiv p input { margin:0 10px; }
/*
.submitdiv { background:#fff; border:none; position:absolute; z-index: 20002; margin:150px 75px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.submitdiv .floatcontent { margin:15px; line-height:1.6; z-index: 20001; }
.submitdiv .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:image-url("home_work_icons.png") -4px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
.submitdiv .title { width:350px; height:50px; background:image-url("submit_div_bg.png") 0px -5px no-repeat; margin-bottom:15px; }
.submitdiv .testScore { width:500px; min-height:175px; background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .testShare { width:500px; padding-top:55px; position:relative; margin-top:-45px; margin-bottom:-45px; min-height:80px; background:image-url("submit_div_bg.png") 350px  -710px no-repeat; }
.submitdiv .low { background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .mid { background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .high { background:image-url("submit_div_bg.png") 360px  -110px no-repeat; }
.submitdiv .testTable { width:350px; font-family:"微软雅黑"; }
.submitdiv .testTable th { padding-left:10px; padding-right:0px; font-size:18px; color:#1c8500; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; }
.submitdiv .testTable td { padding-right:10px; padding-left:8px; font-size:16px; color:#2c2b2b; border-bottom:1px solid #d8d8d8; }
.submitdiv .testTable .summary th, .submitdiv .testTable .summary td { padding-top:5px; padding-bottom:5px; color:#2f2f2f; border-bottom:none; }
.submitdiv .testTable .summary .score { font-size:24px; }
.submitdiv .testBtn { width:500px; position:absolute; margin-top:25px; text-align:center;  }
.submitdiv .testBtn .btn3 { -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; }
*/

.playerdiv {  }
.playerdiv .close {  }
.playerdiv .floatcontent { width:450px; height:300px; margin-top:-1px; }
.playerdiv .canvasDiv { height:300px; border:10px solid #489d2a; padding:0px; background:#fff; border-bottom:none; position:absolute; z-index:20002;
-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
.playerdiv .greenCanvas { border-color:#489d2a; }
.playerdiv .soundPlayer { background-color:#e8e8e8; position:relative; top:300px; z-index:20003; height:50px; border:1px solid #969696;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), to(#cbcbcb));
background-image: -moz-linear-gradient(center top , #ececec, #cbcbcb);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#cbcbcb'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#cbcbcb')" ; /* IE8 */
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }

.test_title { width:130px; height:50px; text-align:center; padding:80px 10px 10px 10px; float:left; background:image-url("home_work_icons.gif") 50px 25px no-repeat; }

.test_block { border-bottom:1px solid #eee;  }
.test_block p { line-height:24px; }
.test_block p b { font-size:24px; font-weight:bold; color:#01cc9a; }
.test_block label { padding-right:15px; }

.book_block { padding:5px; float:left; width:120px; height:220px; overflow:hidden; margin:15px 10px 5px 5px; }
.book_block a, .book_block a:hover { display:block; text-align:center; margin-bottom:10px; color:#3c3c3c; font-weight:normal; font-size:12px; background:none; }
.book_block a img { border:1px solid #fff; display:block; margin-bottom:8px; width:110px; }
.book_block a:hover img { border:1px solid #98b480; }
.book_block a .subject { width:100%; height:32px; overflow:hidden; margin-bottom:5px; }
.book_block a .price { color:#C03; height:25px; font-size:14px; font-weight:bold; }

.clickable { background-color: rgba(50, 50, 50, 0.3); display: inline; }

ul.tabs { display:inline; font-weight:normal; margin-left:0px; padding:0px; background:none; border:none;}
ul.tabs li { display: inline-block; font-size:12px; line-height:24px; height:24px; vertical-align:middle; text-align:center; padding:0 5px; margin:0px 2px; cursor: pointer; background:#ddd;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
ul.tabs li.on { background-color:#bd2424; color:#fff; }


/* dialog */
/*
.ui-dialog { border:10px solid #489d2a; padding:0px; background:#fff; position:absolute; z-index:20002; overflow:visible; padding:0px;
-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
.ui-dialog .ui-dialog-titlebar { position:relative; margin-bottom:-30px; margin-top:-15px; }
.ui-widget-header { background:none; border:none; }
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover { float:right; width:28px; height:28px; display:inline-block; background:image-url("home_work_icons.png") -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000; border:none; padding:0px; margin-right:-35px; }
.ui-dialog .ui-dialog-titlebar-close .ui-icon { background:none; border:none; }

.ui-dialog .ui-dialog-content { padding:0px; margin:0px; left:0px; clear:both; }
.ui-dialog .ui-dialog-content canvas { margin-top:5px; }
.ui-dialog .ui-dialog-content audio { }

.ui-dialog-grammar { border-color:#a233a1; }
.ui-dialog-text { border-color:#489d2a; }
*/




/* login */

.lg_email { background:image-url("input_txt.gif") left top no-repeat;  }
.lg_lpwd { background:image-url("input_txt.gif") left -30px no-repeat;  }
.lg_vcode { background:image-url("input_txt.gif") left -60px no-repeat;  }
.lg_rname { background:image-url("input_txt.gif") left -90px no-repeat;  }
.lg_pwd { background:image-url("input_txt.gif") left -120px no-repeat;  }
.lg_cpwd { background:image-url("input_txt.gif") left -150px no-repeat;  }
.lg_phone { background:image-url("input_txt.gif") left -180px no-repeat;  }
.lg_email2 { background:image-url("input_txt.gif") left -210px no-repeat;  }

.login { min-height:580px; background:image-url("login_bg.jpg") center -100px no-repeat; }
.login .header { background:none; height:0px; }
.login .header .logo { position:relative; top:60px; margin-left:130px; }
.login h2 { padding:3px 0; }

.login .loginform, .login .registerform, .login .forgotform, .login .activeform { padding:15px; width:280px; min-height:356px; background:image-url("bg_login.png") left repeat-y; margin:100px 0 20px 485px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.login .loginform, .login .forgotform { padding-top:25px; }
.login .input { width: 260px; padding: 7px 8px 6px 8px; height: 20px; font-size: 16px; font-weight:normal; background-color: #f4f8f3; border:1px solid #999; line-height: 17px; color: #aaa; margin-bottom:20px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 4px; }
.login .input2 { width:85px; float:left; margin-right:10px; }
.login .select { width:276px; height:32px; padding:4px 8px 4px 8px; }
.login .btnlogin, .login .btnregister { width:120px; height:40px; font-size:16px; font-weight:bold; }
.login .btnlogin {
border-color:#145799;
background-color:#4898f1;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a7f1), to(#3d87f0));
background-image: -moz-linear-gradient(center top , #52a7f1, #3d87f0);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0')" }
.login .btnregister { background-position:bottom left; float:right; }
.login .input:focus { border-color:#2c7f00; -moz-box-shadow:0px 0px 4px #36ff00; }
.login .loginform .loginas { margin-top:20px; font-size:16px; color:#666; line-height:2; }
.login .loginform .loginas a { background:none; }

.login .mainbody { min-height:100px; padding-bottom:0px; }
.login .footer { background:none; margin-top:0px; padding-top:0px; height:50px;  }
.login .footer .content { width:600px; }

.login .registerform { margin-top:20px; }
.login .registerform .normalTable { }

.login .forgotform { }
.login .forgotform p { margin-bottom:5px; margin-top:0px; font-size:16px; }
.login .forgotform .line { border-top:1px solid #ddd; margin-top:5px; padding-top:25px; }

.login .activeform h2 { font-size:18px; color:#70a402; font-weight:bold; }
.login .activeform h3 { font-size:16px; color:#444; }

.login .tabs { width:40px; height:195px; background:none; border:none; padding:0px; position:absolute; top:140px; margin-left:435px; }
.login .tabs .tab { width:38px; height:85px; padding-top:10px; color:#666; font-size:18px; line-height:18px; text-align:center; margin-bottom:-1px;
border:1px solid #999; cursor:pointer;
background-color:#f7f7f7;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dddddd));
background-image: -moz-linear-gradient(center top , #efefef, #dddddd);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dddddd'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dddddd')" ; /* IE8 */ }
.login .tabs .on { color:#fff; border-color:#145799;
background-color:#4898f1;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a7f1), to(#3d87f0));
background-image: -moz-linear-gradient(center top , #52a7f1, #3d87f0);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#52a7f1', endColorstr='#3d87f0')" ; /* IE8 */ }

.login .roles { position:relative; left:-6px; margin-bottom:18px; width:300px; }
.login .roles .role { width:96px; height:30px; text-align:center; padding-top:80px; padding-bottom:3px; float:left; }
.login .roles .teacher { background:image-url("role_teacher.png") center -180px no-repeat; }
.login .roles .student { background:image-url("role_student.png") center -180px no-repeat; }
.login .roles .parent  { background:image-url("role_parent.png") center -180px no-repeat; }
.login .roles .on { background-position:center 3px; }
.login .roles .role input { width:85px; font-size:14px; border:1px solid #ccc; line-height:1.2; padding-top:3px;margin-left:5px;
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.login .roles .on input { color:#fff; border-color:#4f7308; font-weight:bold;
background-color:#71aa02;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7bb700), to(#6ba203));
background-image: -moz-linear-gradient(center top , #7bb700, #6ba203);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb700', endColorstr='#6ba203'), progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb700', endColorstr='#6ba203')","progid:DXImageTransform.Microsoft.Shadow(color='#bbbbbb', Direction=145, Strength=3)" ; /* IE8 */
-moz-box-shadow:0px 0px 2px #999; -webkit-box-shadow:0px 0px 2px #999; box-shadow:0px 0px 2px #999; -o-box-shadow: #999 1px 1px 2px; }
.login .roles .role:hover  { background-color:#efefef; background-position:center 3px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }

.login ul.alert { margin:0px; padding:0px; }
.login ul.alert li { margin:0px; padding:0px; margin-buttom:5px; line-height:18px; list-style:none; background-color:yellow; }
.login .field_with_errors .input { border-color: red; }

ul.alert { margin:0px; padding:0px; }
ul.alert li { margin:0px; padding:0px; margin-buttom:5px; line-height:18px; list-style:none; background-color:yellow; }

/* ********************************************************************** */

.adlogin { min-height:580px; }
.adlogin { min-height:580px; background:image-url("adlogin_bg.jpg") center -80px no-repeat; }
.adlogin .header { background:none; height:0px; }
.adlogin .header .logo { position:relative; top:60px; margin-left:330px; }
.adlogin h2 { padding:3px 0; }

.adlogin .loginform { width:400px; margin:160px 0 20px 330px; padding:20px; padding-top:18px; min-height:200px; margin-bottom:30px; }
.adlogin .footer { text-align:center; }

.admin {  }
.admin .container { background:image-url("admin_header.gif") center 0px repeat-x; }
.admin .content { width:auto; margin:0 0px; }
.admin .header { height:41px; background:none; padding:10px 20px 0; margin-bottom:0px; }
.admin .header .pageguide { display:none; }
.admin .footer { background:none; height:auto; padding-right:20px; }
.admin .mainbody { background:none; }
.admin .mainbody .nav { width:125px; min-height:600px; margin-left:20px; position:absolute; z-index:900; margin-top:5px; }
.admin .mainbody .maincontent { padding:15px; margin-right:20px; margin-left:140px; border:0px; min-height:450px; border:5px solid #0083B7; background:#fff;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
-moz-box-shadow:0px -1px 2px #fff; -webkit-box-shadow:0px -1px 2px #fff; box-shadow:0px -1px 2px #fff; -o-box-shadow: #fff 0px -1px 2px; }

.admin .mainbody .nav .navmenu a { display:block; height:32px; line-height:32px; padding-left:10px; font-size:14px; color:#666; background:#ddd; margin-bottom:2px; border:1px solid #fff; }
.admin .mainbody .nav .navmenu a.on { background:#0083B7; color:#fff;  }
.admin .mainbody .maincontent .topline { border-bottom:1px solid #ddd; margin-bottom:15px; }
.admin .mainbody .maincontent .topline h1 { padding-left:5px; background:none; font-size:20px; }

.admin .tabs {  }
.admin .tabs a.on, .admin .tabs a.on:hover { color:#0083B7; border-top-color:#0083B7; }





/* advertisment in public */
.ad01 { margin-bottom:15px; border:1px solid #ddd; text-align:center; }
.ad01 img { max-width:100%; display:block; }

/* home2 page, resources download tab title */
.resource_recm .tabs a:nth-child(2) { }
.resource_recm .tabs a:nth-child(3) { color:#fea201; }
.resource_recm .tabs a:nth-child(4) { color:#ef4880; }

.publics .resource_recm .blocks:nth-child(3) .listTable { border-color:#fea201; margin-bottom:0px; }
.publics .resource_recm .blocks:nth-child(4) .listTable { border-color:#ef4880; margin-bottom:0px; }

.resource_recm .blocks:nth-child(2) table th { background:#2c7f00; color:#fff; }
.resource_recm .blocks:nth-child(3) table th { background:#fea201; color:#fff; }
.resource_recm .blocks:nth-child(4) table th { background:#ef4880; color:#fff; }

.publics {}
.publics a { font-weight:normal; color:#666; }
.publics a:hover { color:#2C7F00; background-color:transparent; text-decoration:underline; }
.publics ul, .publics li { margin:0px; padding:0px; list-style:none; }
.publics h2 { font-size:14px; color:#2C7F00; margin:0px; padding:0px; margin-bottom:2px; line-height:30px; }
.publics h2 a.more { float:right; font-size:12px; font-weight:normal; margin-right:5px; padding:0 5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .line { clear:both; border-top:1px solid #ddd; margin:10px; }

.publics .header { height:auto; background:none; }
.publics .header .content { background:image-url("header.png") #fff repeat-x 0 -41px;  }
.publics .header .topmenu { line-height:35px; }
.publics .header .rightmenu { display:inline-block; float:right; }
.publics .header .leftmenu { display:inline-block; float:left; }
.publics .header .rightmenu a { color:#666; margin:0 5px; }
.publics .header .rightmenu a:hover { color:#70A402; background:none; text-decoration:underline; }

.publics .header .topmenu form { margin:0px; padding:0px; }
.publics .header .topmenu form input { margin-right:5px; }

.publics .header .topbanner { padding: 10px 0; }
.publics .header .topbanner .logo { float: left; width:225px; margin-right: 30px; }
.publics .header .topbanner .rb { float: right; width:252px; height:51px;  }
.publics .header .topbanner form {float: left; margin-top:5px; margin-left:10px; }
.publics .header .topbanner form input[type*="text"] { background:#f6f6f6; width:260px; padding:4px; margin-right:-7px; padding-left:25px; background:image-url("icon_search.png") 5px 5px no-repeat; }
.publics .header .topbanner form input[type*="submit"], .publics .header .topbanner form input[type*="button"] { width:90px;
-moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; -o-box-shadow:none; }
.publics .header .topbanner form p { margin-top:5px; }
.publics .header .topbanner form a { color:#0071BC; margin-left:5px; }
.publics .header .topbanner form a:hover { background:none; color:#0071BC; text-decoration:underline; }

.publics .header .topguide { line-height:20px; border-bottom:1px solid #ddd; padding:0 10px 5px; margin-top:-5px; }
.publics .header .topguide a { color:#0071BC; }
.publics .header .topguide a:hover { color:#0071BC; background:none; text-decoration:underline; }

.publics .footer { text-align:left; line-height:1.8; padding-bottom:100px; background-position:center bottom; }
.publics .footer .qklinks { background:#f6f6f6; padding:3px; }
.publics .footer .qklinks a { color:#0071BC; }

.publics .qklinks { margin:0px; padding:0px; margin-bottom:5px; }
.publics .qklinks li { list-style: none; display:inline-block; text-align:center; line-height:28px; float:left; }
.publics .qklinks li a { display:block; width:93px; min-height: 25px; margin:0 2px 0 0px; color:#666; }
.publics .qklinks h2 { margin-left:15px; }
.publics .qklinks li a.xx { background: #F8F3A0; }
.publics .qklinks li a.cz { background: #D9FFB3; }
.publics .qklinks li a.gz { background: #BBEEDD; }
.publics .qklinks li a.xx:hover { background: #EAE38B; }
.publics .qklinks li a.cz:hover { background: #CAEF9E; }
.publics .qklinks li a.gz:hover { background: #A8E2CD; }

.publics .qksublinks { background:#F6F6F6; line-height:28px; width:99.7%; border-top:3px solid #70A402; }
.publics .qksublinks a { margin-left:15px; }

.publics .frlinks { padding-bottom:10px; }
.publics .frlinks span { margin-left:5px; }
.publics .frlinks .sp { font-size:14px; color:#2C7F00; }
.publics .frlinks a { color:#666; background:none; display:inline-table; }

.publics .footer .copyr { position:absolute; text-align:right; width:960px; }

.publics .content { background-color:#fff; padding: 0 10px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
-moz-box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999; box-shadow:0px 0px 3px #999; -o-box-shadow: #999 3px 3px 4px;
 }
.publics .mainbody { clear:both; padding:0px; }

.publics .colleft { width:150px; float: left;  }
.publics .colright {width:180px; float: right; }
.publics .colcenter { width:600px; min-height: 400px; margin: 0 15px; float:left; }

.publics .colcenter h2 { border-bottom:3px solid #70A402; padding-bottom:2px; margin-bottom:10px; }
.publics .colcenter h2.noborder { border-bottom:none; }
.publics .colcenter h2.nomargin { margin-bottom:0px; padding-bottom:0px; }
.publics .colcenter h2 img { display:block; }

/* nianji top h2 line 上一状态/下一状态 links */
.publics .colcenter h2 span { color:#666; font-weight:normal; margin-right:0px; }
.publics .colcenter h2 span a { color:#2C7F00; }

.publics .colcenter h2.header_form { padding:10px; }
.publics .colcenter h2.header_form .search_form { width: 50%; display: inline-block; }

.publics .blocks a:hover { color:#2C7F00; background-color:transparent; text-decoration:underline; }


/* index(home) page books block display */
.publics .bookblock .p_list { margin-left:18px; width:565px; height: 220px; overflow: hidden;; margin-right:14px; position:relative; z-index: 100; }
.publics .bookblock .p_control { position:absolute; z-index: 99; }
.publics .bookblock .block img { width:90px; height:100px; }
.publics .bookblock .block { width:90px; height:220px; margin-bottom:5px; }


/* publics book model */
.publics .bookmode2 { }
.publics .bookmode h2, .publics .bookmode2 h2 { border-bottom:1px solid #ddd; padding-left:10px; font-size:16px; line-height:1.2; }
.publics .bookmode .player, .publics .bookmode2 .player { float:right; width:317px; margin-top:-2px;  margin-right:8px; line-height: 1.8; font-size: 12px; font-weight:normal; }
.publics .bookmode2 .tabs_s { position:relative; margin:0 10px -10px 10px; top:-5px; }
.publics #listeningDiv { margin-top: -42px; margin-bottom: -42px; margin-right: 0px; }


/* book detail page */
.publics .colcenter_without_left { width:760px; margin-left:0px; }
.publics .groupblocks { margin-top:15px; }
.publics .groupblocks .wrapright { width:630px; }
.publics .groupblocks .wrapleft { width:120px; }
.publics .groupblocks .wrapleft img { width:100px; height:120px; }

.publics .bookblock .subject { width:155px; }

.publics .colcenter_without_left { padding-left:0px; }
.publics .colcenter_without_left .bookmode, .publics .colcenter_without_left .bookmode2 { margin-top:15px;  }

.publics .colright .groupblocks .wrapright { width:99.8%; }
.publics .colright .groupblocks .wrapleft p { margin-bottom:0px; }
.publics .colright .groupblocks .wrapright a { font-size:14px; }


/* left 分类列表导航 */
.publics .categuids_title { background: #2C7F00; color:#fff; font-size:14px; padding:0 8px; line-height: 26px; margin:0 15px 0 10px; position:relative; z-index:100; margin-top:5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .categuids { margin:0px; padding:10px 0; border:1px solid #70A402; position:relative; top:-8px; position:relative; z-index:90;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .categuids h2 { margin-bottom:0px; padding-left:10px; }
.publics .categuids li { list-style:none; margin:inherit 1px; }
.publics .categuids li a { display:block; padding-left:15px; line-height:22px; }

/* left 达人 list */
.publics .block_dr { margin-bottom:15px; }
.publics .block_dr a:hover { color:#2C7F00; background:none; }
.publics .block_dr li { width:60px; min-height:70px; float:left; margin-right:5px; margin-bottom:5px; padding:5px 3px; text-align:center; }
.publics .block_dr li:hover { background:#f6f6f6; }
.publics .block_dr li .face img { width:50px; height:50px; }
.publics .block_dr li .name { text-align:center; display:block; width:100%; height:30px; line-height:14px; overflow:hidden; }

/* normal only text list */
.publics .block_list { margin-bottom:15px; }
.publics .block_list li { margin-bottom:5px; width:auto; overflow:hidden; }
.publics .block_list li .date { float:right; color:#888; }
/* not hidden overflow */
.publics .block_list2 li { line-height:20px; overflow:auto; margin-bottom:5px; }

/* right 资料推荐 */
.publics .block_zl { margin-bottom:15px; }
.publics .block_zl li { clear:both; min-height:20px; margin:0 5px 5px 0; padding-bottom:5px; border-bottom:1px dashed #ddd; }
.publics .block_zl .pic { width:45px; height:45px; border:1px solid #ddd; padding:2px; float:left; margin-right:5px; }

.publics .block_zl li {  }
.publics .block_zl li .icon1, .publics .block_zl li .icon2, .publics .block_zl li .icon3, .publics .block_zl li .icon4 {
line-height:18px; font-size:12px; margin-right:5px; padding:0 5px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.publics .block_zl li .icon1 { background:#95b013; color:#fff; }
.publics .block_zl li .icon2 { background:#fea201; color:#fff; }
.publics .block_zl li .icon3 { background:#3d8b64; color:#fff; }
.publics .block_zl li .icon4 { background:#ef4880; color:#fff; }

/* right 相关推荐 */
.publics .block_xg { margin-bottom:15px; }
.publics .block_xg li { clear:both; min-height:50px; margin:0 5px 5px 0; }
.publics .block_xg .pic { width:55px; height:65px; border:1px solid #ddd; padding:2px; float:left; margin-right:5px; margin-bottom:5px; }
.publics .block_xg li a { color:#0083B7; }

/* right 图文推荐 big pic */
.publics .colright .block_tw { margin-bottom:15px; }
.publics .colright .block_tw li { margin-bottom:8px; }
.publics .colright .block_tw li img { width:160px; height:120px; display:block; margin-bottom:2px; }

/* center block imgs */
.publics .block_plist { }
.publics .block_plist a { background:none; }
.publics .block_plist img { width:80px; height:50px; }

.publics .listTable span, .publics .listTable a { margin-left:10px; padding:0 3px;  }

/* nianji top block withborder */
.block_guide { padding:5px 10px; border:1px solid #ddd; line-height:24px; color:#666; margin-bottom:10px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  }
.block_guide .title { color:#70A402; font-size:14px; line-height:24px; background:none; border:none; padding:0px; height:26px; }
.block_guide .title span { float:right; margin:3px; }

.block_guide .block_left { width:40%; float:left; border-right:1px solid #ddd; }
.block_guide .block_left a { text-decoration:underline; }

.block_guide .block_right { width:49.5%; padding:0 5%; float:left; text-indent:2em; }

/* nianji courses block display */
.course_list { }
.course_list .line { clear:both; margin:0px 0 10px 0; border:1px solid #70A402; }
.course_list .blocks { width:100%; padding:0px; margin-right:5px; margin-bottom:10px; float:left; }
.course_list .blocks h2 { border:none; height:26px; line-height:26px; margin-bottom:0px; }
.course_list .blocks li { margin-bottom:5px; overflow-y:hidden; }
.course_list .blocks li:nth-child(2n+1) { background:#f6f6f6; }


/* in list page title menu display */
.content_cate { width:auto; }
.content_cate ul { margin:5px 10px 5px 5px; }
.content_cate ul li { line-height:20px; margin-bottom:5px; }
.content_cate ul li.on a { font-size:14px; color:#2C7F00; }
.content_cate ul li.on a:hover { text-decoration:none; }

/* in list page each aritcle/bbs/resource list display */
.content_list { }
.content_list .block { width:98.5%; margin-top:0px; height:auto; }
.content_list .block:nth-child(2n+1) { background:#f6f6f6; }
.content_list .block h2 { border:none; line-height:22px; margin-bottom:0pc; margin-right:10px; overflow:hidden; }
.content_list .block a { display:inline; padding:2px 5px;
-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.content_list .block h2 a { padding:0px; color:#2C7F00; }
.content_list .block p { margin-bottom:5px; }
.content_list .block .seemore, .content_list .block .seemore:hover { text-decoration:underline; color:#1c77b8; }

/* detail page, summary about aritcle/bbs/resource content */
.publics h2.inner_title { padding:5px 0 5px 0; line-height:30px; font-size:18px; text-align:center; }
.publics .course_info { margin-bottom:10px; text-align:center; }
.publics .relat_files { margin-top:10px; }
.publics .relat_files li { padding:4px 15px 5px 15px; line-height:24px; border-bottom:1px solid #ddd; overflow:hidden; }
.publics .relat_files li:nth-child(2n+1) { background:#f6f6f6; }
.block_summary { background:#f6f6f6; padding:10px; margin-bottom:10px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.block_summary p { margin:0px; padding:0px; line-height:20px; font-family:"微软雅黑", Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; font-size:12px; color: #666; }

/* detail page baidu share icons */
.publics .bdshare_t { margin-top:2px; }
.publics .bdshare_t a:hover { background-color:#fff; }

/* detail page  relate recomments */
.relate_recomm {}
.relate_recomm .block { width:46%; }
.relate_recomm .block ul { width:100%; }
.relate_recomm ul li { line-height:20px; margin-bottom:5px; }

/* detail page stars display */
.stars { margin-bottom:10px; }
.stars .score { font-size:20px; font-weight:bold; color:#F87B10; vertical-align:middle; margin-right:5px; }
.stars .icons { width:12px; height:12px; margin:0px; vertical-align:middle; }


/* added by Alex */
.alert { color: red; }

/* dialog */
.ui-dialog { border:1px solid rgb(166, 173, 164); padding:10px; background:#fff; position:absolute; z-index:20002; overflow:visible;
-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
.ui-dialog button {border:0px; -webkit-appearance: none; -webkit-box-shadow: 0px 0px 0px; box-shadow: 0px 0px 0px; outline: none;}
.ui-dialog .ui-dialog-titlebar { position:relative; margin-bottom:-30px; margin-top:-15px; }
.ui-widget-header { background:none; border:none; }
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover { float:right; width:28px; height:28px; display:inline-block; background:image_url('icons_dialog.png') -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000; border:none; padding:0px; margin-right:-35px; }
.ui-dialog .ui-dialog-titlebar-close .ui-icon { background:none; border:none; }

.ui-dialog .ui-dialog-content { padding:0px; margin:0px; left:0px; clear:both; }
.ui-dialog .ui-dialog-content canvas { margin-top:5px; }
.ui-dialog .ui-dialog-content audio { }

.ui-dialog-grammar { border-color:#a233a1; }
.ui-dialog-text { border-color:#489d2a; }


#new_message_form { }
#new_message_form h3 { margin: 0px; line-height: 1.6;}
.hint { color:grey; }


.page_nav { clear:both; height:30px; line-height:16px; }
.page_nav a { display:inline-block; padding:3px 5px; border:1px solid #ddd; margin-right:5px; cursor:pointer; }
.page_nav a.disabled { background:#fff; border:1px solid #f5f5f5; }


.page_error { width:950px; height:400px; background:image-url("error_bg.jpg") center -180px no-repeat; }
.er_msg { font-size:18px; line-height:34px; position:absolute; margin:100px 0 0 510px; }

/* dialog for assignment practices */
.new_assignment { }
.new_assignment div { height: 30px; margin-bottom: 5px; }



/* CSS for practice engine */
.bookmode3 { width:895px; height:600px; margin:0 auto;
-moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px;  }

.bookmode3 .nav { width:125px; height:600px; float:left; border-right:1px solid #f4e6e6; }
.bookmode3 .mainbox { width:765px; height:600px; float:right; border-left:1px solid #f4e6e6; }
/* .maincontent .mainbox a { color:#3dabe6; }  */
.bookmode3 .mainbox h2, .maincontent .mainbox h3, .maincontent .nav .h2, .maincontent .nav .h3 { height:45px; line-height:45px; margin:0px; padding:0 10px 0 0; border-bottom:1px solid #f4e6e6  }
.bookmode3 .mainbox h2 { font-size:16px; }
.bookmode3 .mainbox h3 { font-size:12px;  }
.bookmode3 .mainbox h3, .maincontent .nav .h3 { line-height:35px; }
.bookmode3 .nav .h2, .maincontent .nav .h3 { width:110%; }

.bookmode3 .mainbox h2 a { color:#3dabe6; }

.bookmode3 .mainbox h3 .readAll { padding-left:40px; padding-right:15px; background:url(../images/read_all.gif) center left no-repeat; }
.bookmode3 .mainbox h3 .readAll:hover { color:#0083b7; }

.bookmode3 .mainbox .blocks {  }

.bookmode3 .nav ul { margin:0px; padding:0px; margin-top:20px; font-size:14px; }
.bookmode3 .nav ul li { list-style:none; position:relative; margin-left:-5px; line-height:35px; border-left:5px solid; text-align:center; padding-right:15px; cursor:pointer; }

.bookmode3 .nav ul li.nav1 { border-color:#b830da; color:#b830da; background:image-url("nav4_bg.png") -5px 0px no-repeat; }
.bookmode3 .nav ul li.nav2 { border-color:#5db501; color:#5db501; background:image-url("nav3_bg.png") -5px 0px no-repeat; }
.bookmode3 .nav ul li.nav3 { border-color:#30daa0; color:#30daa0; background:image-url("nav5_bg.png") -5px 0px no-repeat;  }
.bookmode3 .nav ul li.nav4 { border-color:#bd2424; color:#bd2424; background:image-url("nav1_bg.png") -5px 0px no-repeat; }
.bookmode3 .nav ul li.nav5 { border-color:#2f7bba; color:#2f7bba; background:image-url("nav2_bg.png") -5px 0px no-repeat; }
.bookmode3 .nav ul li.nav6 { border-color:#d0da30; color:#d0da30; background:image-url("nav6_bg.png") -5px 0px no-repeat; }

.bookmode3 .nav ul li.on, .bookmode3 .nav ul li:hover { background-position: -5px -42px; color:#fff; }

.bookmode3 .blocks { font-size:14px; margin:2px 3px 10px 10px; padding:0 10px 20px 10px; height:493px; ;overflow:auto; }
.bookmode3 .blocks p { margin-bottom:15px; line-height:1.8; }
.bookmode3 .blocks span { padding:2px 5px; }
.bookmode3 .blocks .sentence { background:#dff0cc;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.bookmode3 .blocks .word { border-bottom:2px solid #5db501; }
.bookmode3 .blocks .sentence:hover, .sentence_block .word:hover { background:#5db501; color:#fff; }
.bookmode3 .blocks .reading { background:#ff9090; }
.bookmode3 .blocks .reading .sentence, .blocks .reading .sentence:hover { background:none; color:#bd1f1f; }


.bookmode3 .maskdiv { width:895px; height:600px; background:#fff; position:absolute; z-index:20000; filter:alpha(opacity=75);  -moz-opacity:0.75;  opacity:0.75; display:none; }
.bookmode3 .floatdiv { min-width:200px; min-height:100px; position:absolute; z-index:20001; display:none; }
.bookmode3 .floatdiv .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:url(../images/icons.png) -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
.bookmode3 .floatdiv .floatcontent { margin:15px; line-height:1.6; }

.bookmode3 .menudiv { max-width:300px; max-height:300px; border:1px solid #c2c2c2; background-color:#e8e8e8;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f7f9), to(#e7e7e7));
    background-image: -moz-linear-gradient(center top , #f6f7f9, #e7e7e7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f9', endColorstr='#e7e7e7'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f7f9', endColorstr='#e7e7e7')" ; /* IE8 */
    -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.bookmode3 .menudiv p { text-decoration:underline; }
.bookmode3 .menudiv .cword { font-size:18px; font-family:"Times New Roman", Times, serif; font-weight:bold; }
.bookmode3 .menudiv .cword strong { font-size:14px; font-style:italic; margin-left:15px;  }

.bookmode3 .popdiv { max-width:480px; max-height:450px; border:1px solid #c2c2c2; background:#efefef;
-moz-box-shadow:0px 0px 15px #666; -webkit-box-shadow:0px 0px 15px #666; box-shadow:0px 0px 15px #666; -o-box-shadow: #666 0px 0px 15px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.bookmode3 .popdiv p { font-size:14px; padding:5px 20px; text-align:center; }
.bookmode3 .popdiv p span.price { color:#bc0000; font-weight:bold; }
.bookmode3 .popdiv p input { margin:0 10px; }


.bookmode3 #questionNav { position: absolute; top: 50px; left: -30px; height:400px; width: 65px; overflow: auto; list-style: none; }
.bookmode3 #question { position: absolute; top: 80px; left: 80px; }

.bookmode3 #questionNav .on { border: solid 2px blue }
.bookmode3 #questionNav .error { background: red }
.bookmode3 #questionNav .correct { background: green }
.bookmode3 #answerSelector, .bookmode3 #answerTextbox, .bookmode3 #answerForRevise { position: absolute; bottom: 10px; left: 120px; }
.bookmode3 #buttons { position: absolute; bottom: 10px; right: 10px; }
.bookmode3 #buttons button { display: inline; margin-left: 4px; margin-right: 4px; }
.bookmode3 #answerForRevise.wrong { color: red; }
.bookmode3 #answerForRevise.right { color: green; }
.bookmode3 #practice_part_types, .bookmode3 #practice_sections { list-style-type: none; display: inline; padding: 0px; margin-right: 20px; }
.bookmode3 #practice_part_types li, .bookmode3 #practice_sections li { display: inline; text-decoration: none; list-style-type: none; margin-right: 4px; }
.bookmode3 #practice_part_types li.on, .bookmode3 #practice_sections li.on { -webkit-border-radius: 8px; border-radius: 8px; background: #e6c359; border: solid 1px black; }
.bookmode3 #examHeader { margin-left: 80px;}
.bookmode3 #examHeader h2 { display: inline; }
.bookmode3 #examHeader #div1 { display: inline-block; width:60px; margin-left: 40px; }
.bookmode3 #examHeader #div2 { display: inline; left: 120px; top: -15px; margin-left: 40px; }
.bookmode3 #continuePause { display: inline; position: absolute; right: 20px; top:5px; }
.bookmode3 #progress { position: absolute; top: 40px; right: 20px; width: 200px; height: 14px; }
.bookmode3 #progress .bar { display: inline-block; width: 120px; }
.bookmode3 #practiceDialog #navByTags { position: absolute; left: 100px; top: 60px; }
.bookmode3 #practiceDialog .mask { width:100%; height:100%; left:0px; top:0px; background:#fff; position:absolute; z-index:20000; filter:alpha(opacity=75);  -moz-opacity:0.75;  opacity:0.75; display:none; }

.bookmode3 #statPanel { position: absolute; left: 80px; top: 40px; background:#fff; border:none; z-index: 20002; }
.bookmode3 #statPanel .close { float:right; width:28px; height:28px; display:inline-block; margin-top:-12px; margin-right:-12px; margin-bottom:-16px; background:url(../images/icons.png) -44px -132px no-repeat; cursor:pointer; position:relative; z-index:21000;  }
.bookmode3 #statPanel .floatcontent { margin:15px; line-height:1.6; z-index: 20001; }
.bookmode3 #statPanel .close { background-position:-4px -132px;  }
.bookmode3 #statPanel .title { width:350px; height:50px; background:url(../images/submit_div_bg.png) 0px -5px no-repeat; margin-bottom:15px; }
.bookmode3 #statPanel .testScore { width:450px; min-height:175px; }
.bookmode3 #statPanel .low { background:url(../images/submit_div_bg.png) 310px  -110px no-repeat; }
.bookmode3 #statPanel .mid { background:url(../images/submit_div_bg.png) 310px  -110px no-repeat; }
.bookmode3 #statPanel .high { background:url(../images/submit_div_bg.png) 310px  -110px no-repeat; }
.bookmode3 #statPanel .testShare { width:450px; padding-top:55px; position:relative; margin-top:-45px; margin-bottom:-45px; min-height:80px; background:url(../images/submit_div_bg.png) 300px  -710px no-repeat; }
.bookmode3 #statPanel .testTable { width:300px; font-family:"微软雅黑"; }
.bookmode3 #statPanel .testTable th { padding-left:10px; padding-right:0px; font-size:18px; color:#1c8500; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; }
.bookmode3 #statPanel .testTable td { padding-right:10px; padding-left:8px; font-size:16px; color:#2c2b2b; border-bottom:1px solid #d8d8d8; }
.bookmode3 #statPanel .testTable .summary th, .bookmode3 #statPanel .testTable .summary td { padding-top:5px; padding-bottom:5px; color:#2f2f2f; border-bottom:none; }
.bookmode3 #statPanel .testTable .summary .score { font-size:24px; }
.bookmode3 #statPanel .testBtn { width:450px; position:absolute; margin-top:25px; text-align:center;  }
.bookmode3 #statPanel .testBtn .btn3 { -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; }
.publics #explanationDiv {  }

.bookmode3 #tblx p { clear:both; margin-bottom:5px; }
.bookmode3 #tblx a { display:inline-block; clear:both; margin-bottom: 15px; background: #ddd; }



