// Place all the styles related to the kehou controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toolbarContainer #toolbarViewer #toolbarViewerLeft {
    left: 2px;
}

#toolbarViewer .toolbarButton {
    background-image: none;
}

#toolbarViewer .splitToolbarButtonSeparator {
    background: transparent;
}