// Place all the styles related to the Teacher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.face_iframe { width: 99%; height:270px; border: none; overflow: hidden;}
