<div class="blocks coursewareblocks">
	<%= form_for(@courseware) do |f| %>
	
	<% if @courseware.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @courseware.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<table cellpadding="0" cellspacing="0" border="0" class="normalTable">
		<tr>
			<th width="80"><%= f.label :topic %></th>
			<td><%= f.text_field :topic %></td>
		</tr>
		<tr>
			<th><%= f.label :subject %></th>
			<td> <%= f.select :subject, Courseware::Subjects %> </td>
		</tr>
		<tr>
			<th><%= f.label :visibility %></th>
			<td> <%= f.select :visibility, Courseware::Visibilities%> </td>
		</tr>
		<tr>
			<th><%= f.label :grade %></th>
			<td> <%= f.select :grade, Courseware::Grades%> </td>
		</tr>
		<tr>
			<th>教材:</th>
			<td><%= f.select :publish, Courseware::Publishes %></td>
		</tr>
		<tr>
			<th width="80"><%= f.label :keywords %></th>
			<td><%= f.text_field :keywords %></td>
		</tr>
		<tr>
			<th width="80"><%= f.label :descript %></th>
			<td><%= f.text_area :descript %></td>
		</tr>
		<tr>
			<th>
				<p>上传资料:</p>
				资料列表：
			</th>
			<td rowspan="2">
				<iframe src="<%= courseware_materials_path %>" id="uploadIframe" style="width:98%; height: auto; border:none;" class="auto_height_iframe"></iframe>
			</td>
		</tr>
	</table>
	
	<%= f.hidden_field :author_type %>
	<%= f.hidden_field :author %>
	
	<%= f.submit '保存', :class => 'btn btn1'%> 
	<input value="预览" type="button" class="btn btn2" onclick="window.location.href='<%= @courseware %>'">
	<input value="返回" type="button" class="btn btn4" onclick="window.location.href='<%= coursewares_path %>'">
	<% end %>
</div>
