<div class="topline">
	<h1>课件列表</h1>
	<input type="button"
	<% if params[:user_type] == :admin %>
		class="btn1 topline_left" 
	<% else %>
		class="btnBig btn2 topline_right" 
	<% end %>
	value="创建课件" onclick="window.location='<%= url_for :action => :new, :controller => :coursewares, :user_type => @user_type, :only_path => true %>';" />
	<div class="space"></div>
	<% if not @coursewares %>
	<p>&nbsp;</p>
	<div class="noticebox msgnotice">
		<span class="icons msgIcon"></span> 你还没有自己的课件, 
		<a href='###' onclick="window.location='<%= url_for :action => :new, :controller => :coursewares, :user_type => @user_type, :only_path => true %>';">赶紧创建一个</a>
		吧. 在这里, 你可以管理自己的教学课件.
	</div>
	<% end %>
</div>

<div class="headerform">
	<label>
		标题:
		<input type="text" class="input_s" />
	</label>
	<label>
		<select>
			<option value="">所有资源</option>
			<option value="">公共资源</option>
			<option value="">个人资源</option>
		</select>
	</label>
	<label>
		<select>
			<option value="">所有科目</option>
			<option value="">英语</option>
			<option value="">语文</option>
			<option value="">数学</option>
		</select>
	</label>
	<label>
		<select>
			<option value="">所有年级</option>
			<option value="3">三年级</option>
			<option value="4">四年级</option>
			<option value="5">五年级</option>
			<option value="6">六年级</option>
			<option value="7">初一</option>
			<option value="8">初二</option>
			<option value="9">初三</option>
			<option value="10">高一</option>
			<option value="11">高二</option>
			<option value="12">高三</option>
		</select>
	</label>
	<label>
	From: <input type="text" class="input_s" />
	To: <input type="text" class="input_s" />
	</label>
	<input type="button" class="btn4" value="筛选" />
</div>

<table cellpadding="0" cellspacing="0" class="dataTable dataTable2">
	<tr>
		<th width="50"><a href="###">来源<span class="sicons arrowdown"></span></a></th>
		<% if params[:user_type] == :admin %>
		<th width="50"><a href="###">公开<span class="sicons arrowright"></span></a></th>
		<% end %>
		<th width="50"><a href="###">科目<span class="sicons arrowright"></span></a></th>
		<th width="80"><a href="###">年级<span class="sicons arrowright"></span></a></th>
		<th><a href="###">标题<span class="sicons arrowright"></span></a></th>
		<th width="50"><a href="###">附件<span class="sicons arrowright"></span></a></th>
		<th width="80"><a href="###">编辑时间<span class="sicons arrowright"></span></a></th>
		<th width="120">操作</th>
	</tr>
	<% @coursewares.each do |courseware| %>
	  <tr>
	  	<td><%= trans_author_type(courseware.author_type) %></td>
	  	<% if params[:user_type] == :admin %>
	  	<td><%= trans_visibility(courseware.visibility) %></td>
	  	<% end %>
	    <td><%= courseware.subject %></td>
	    <td><%= trans_grade(courseware.grade) %></td>
	    <td>[<%= courseware.publish %>] <%= link_to courseware.topic, url_for(:user_type => @user_type, :action => :show, :id => courseware.id) %></td>
	    <td><%= courseware.courseware_materials.size %></td>
	    <td><%= courseware.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
	    <td><%= link_to '', url_for(:user_type => @user_type, :action => :show, :id => courseware.id), :class => "icons viewIcon" %>
	    	<% if courseware.writable_for?  current_user_or_admin %>
		    	<%= link_to '', url_for(:user_type => @user_type, :action => :edit, :id => courseware.id), :class => "icons editIcon" %>
		    	<%= link_to '', url_for(:user_type => @user_type, :action => :destroy, :id => courseware.id), method: :delete, data: { confirm: '你确认要删除此课件吗?' }, :class => "icons removeIcon" %>
		    <% end %>
	    </td>
	  </tr>
	<% end %>
</table>

<%= paginate @coursewares %>
<!--<div class="pagenav"><span class="disabled"> < </span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a>...<a href="#">199</a><a href="#">200</a><a href="#"> > </a></div> -->
