<%= javascript_include_tag "compatibility" %>
<%= javascript_include_tag "l10n" %>
<%= javascript_include_tag "pdf" %>
<%= javascript_include_tag "pdfviewer" %>
<%= stylesheet_link_tag    "viewer", :media => "all" %>

<div class="topline">
	<h1>课件预览</h1>

	<%= (button_to_function "编辑", "window.location='#{edit_courseware_path}'", :class => 'btn btnBig topline_right') if @courseware.writable_for?  current_user_or_admin %>
	<div class="space"></div>
</div>
<div class="blocks coursewareblocks">
	<h2><%= @courseware.topic %></h2>
	<h3>
		科目: <b><%= @courseware.subject %></b>
		年级: <b><%= trans_grade @courseware.grade %></b>
		教材: <b><%= @courseware.publish%></b>
	</h3>
	<div class="keywords">
		<% (@courseware.keywords || '').split(/[, ，]/).each do |x| %>
		<h4><a href="###"><%= x %></a></h4>
		<% end %>
	</div>

    <%  previewable = @courseware.courseware_materials.select {|x| x.preview?}.first %>
    <%  if previewable %>
    <div class="blocks" style="height: 400px">
    	<b>内容预览：</b>
    <%=   pdf_viewer previewable.preview.url(:original) %>
    </div>
    <%  else %>
    <%    abstract = @courseware.courseware_materials.select {|x| x.abstract and x.abstract.size > 0}.map {|x| x.abstract}.first %>
    <%    if abstract	%>
    <div class="blocks">
    	<b>内容摘要：</b>
    <%= simple_format abstract %>
    </div>
    <%    end%>
    <%  end %>

	<div class="coursewaveview">
		<ul>
			<% @courseware.courseware_materials.each do |x| %>
				<li><%= link_to x.upload_file_name, x.upload.url(:original) %>
					<%= simple_format x.abstract if x.abstract %>
				</li>
			<% end %>
		</ul>
	</div>

	<%= button_to_function "返回", "window.location='#{coursewares_path}'", :class => 'btn4' %>
</div>
