<%
	page_titles = {
		:home => '管理首页', 
		:questions => '题目列表', 
		:exams => '考卷列表', 
		:coursewares => '课件列表',
		:profile => '账户设置'
		}
%>

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= "51kehou网校 中小学英语_家校互动平台 - #{page_titles[@current_admin_page]}" %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body class="admin">
<div class="container">
	<div class="header">
		<div class="content">
			<div class="topmenu" style="color:black">
				<%= image_tag "logo_small.png", :class => "logo" %>
				<span class="memberinfo">
					欢迎 <b><%= current_admin.name %></b>
					<span class="icons unfolderWhiteIcon" id="topmenuIcon"></span>
				</span>
			</div>
			<div class="msgbox membermenu" id="topmenu" style="display:none;">
				<div class="top"></div>
				<div class="boxcontent">
					<ul>
						<li><a href="<%= url_for(:action => 'home', :controller => 'admin') %>">我的主页</a></li>
						<li><a href="<%= url_for(:action => 'profile', :controller => 'admin') %>">个人设置</a></li>
						<li><a href="###" onclick='do_logout();'>退出</a></li>
						<li style="display:none;"><%= link_to('', destroy_admin_session_path, :method => :delete, :id=>"logoutlink") %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="mainbody">
		<div class="content">
			<div class="nav">
				<div class="navmenu">
					<a href="<%= url_for(:action => 'home', :controller => 'admin') %>" class="<%= 'on' if @current_admin_page == :home %>">管理首页</a>
					<a href="<%= url_for(:action => 'questions', :controller => 'admin') %>" class="<%= 'on' if @current_admin_page == :questions %>">题目列表</a>
					<a href="<%= url_for(:action => 'exams', :controller => 'admin') %>" class="<%= 'on' if @current_admin_page == :exams %>">考卷列表</a>
					<a href="<%= url_for(:action => 'index', :controller => 'coursewares', :user_type => :admin) %>" class="<%= 'on' if @current_admin_page == :coursewares %>">课件列表</a>
				</div>
				<div class="navmenu">
					<a href="<%= url_for(:action => 'profile', :controller => 'admin') %>" class="<%= 'on' if @current_admin_page == :profile %>">账户设置</a>
				</div>
			</div>
			<div class="maincontent">
				<%= yield %>
			</div>
		</div>
	</div>
</div>
<script language="javascript" src="http://count9.51yes.com/click.aspx?id=94528190&amp;logo=9" charset="gb2312"></script> 
<script type="text/javascript"> 
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F150ae92ac15227655564f79707f8fc65' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
