<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="中学英语,小学英语,出国留学,SAT, 托福, 雅思,在线听力,听力下载,英语口语, 英语语法,英语阅读,英语考试,背单词,教案,课件,班主任,主题班会,培训学校 <%= "#{@page_title if @page_title} #{@extra_desc if @extra_desc}" %>" />
<meta name="description" content="【51kehou网校】坚持为学生和老师提供一个免费实用的英语学习和教学平台。 集小学，中学，出国，留学等最新的英语培训课程、网上课堂、课件教案，留学资讯为一体的综合性英语远程教育培训网站。 <%= "#{@page_title if @page_title} #{@extra_desc if @extra_desc}" %>" />
<title>【51kehou网校】- 免费在线 中学 小学 出国 SAT 英语 听力资料 语法练习 教案课件 - <%= @page_title %></title>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>
</head>

<body class="publics">
<div class="container">
    <div class="header">
        <div class="content">
            <div class="topmenu">
                <% if current_user %>
                    <span class="memberinfo">
                        欢迎 <b><%= current_user.name %></b> |
                        <a href="###" onclick='do_logout();'>退出</a>
                        <%= link_to('', destroy_user_session_path, :method => :delete, :id=>"logoutlink") %>
                    </span>
                <% else %>
                    <form action="login" method="post" class="rightmenu">
                        <input type="button" class="btn btn1" value="用户登录" onclick="window.location.href='/login';" />
                        <input type="button" class="btn btn2" value="立即注册" onclick="window.location.href='/register/new';" />
                    </form>
                <% end %>

                <div class="rightmenu leftmenu">
                    <a href="/">51课后</a>
                    <%= link_to '我的课后', :controller => 'users/sessions', :action => :new %>
                    <%= link_to '社区', '/forum' %>
                </div>
            </div>
            <div class="topbanner">
                <%= link_to (image_tag "logo_big.png", :class=>"logo", :width=>225, :height=>52), root_path, :class => "logo" %>
                <div class="space"></div>
            </div>
        </div>
    </div>
    <div class="mainbody">
        <div class="content">
            <div class="colcenter">
                <%= yield %>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            <p class="qklinks">
                <%= link_to '网校首页', root_path %> |
                <%= link_to '关于51课后', about_path %> |
                <%= link_to '投诉与建议', comments_path %> |
                <%= link_to '联系我们', contacts_path %>
            </p>
            <p class="frlinks">
                <span class="sp">友情链接:</span>
                <!--
                <a href="http://www.ks5u.com/">高考资源网</a>
                <a href="http://erge.qqbaobao.com/">宝宝儿歌网</a>
                <a href="http://kr.tingroom.com/">韩语</a>
                <a href="http://www.opfun.org/channel_new/france.html">法语</a>
                <a href="http://www.xj5u.com/">小学资源网</a>
                <a href="http://www.tingroom.com/">在线英语听力室</a>
                -->
                <!-- <a href="###">更多..</a> -->
                <a href="mailto:2646368244@qq.com" class="sp">申请友链</a>
            </p>
            <p class="copyr">
                版权所有 &copy; 51KeHou.com 未经许可 严禁复制    建议使用1024X768分辨率浏览本站 <br />
                沪ICP备1020370538号
                <script language="javascript" src="http://count9.51yes.com/click.aspx?id=94528190&amp;logo=9" charset="gb2312"></script>
                <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F150ae92ac15227655564f79707f8fc65' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </p>
        </div>
    </div>
    <div class="space"></div>
</div>

</body>
</html>
