<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="中学英语,小学英语,出国留学,SAT, 托福, 雅思,在线听力,听力下载,英语口语, 英语语法,英语阅读,英语考试,背单词,教案,课件,班主任,主题班会,培训学校 <%= "#{@page_title if @page_title} #{@extra_desc if @extra_desc}" %>" />
<meta name="description" content="【51kehou网校】坚持为学生和老师提供一个免费实用的英语学习和教学平台。 集小学，中学，出国，留学等最新的英语培训课程、网上课堂、课件教案，留学资讯为一体的综合性英语远程教育培训网站。 <%= "#{@page_title if @page_title} #{@extra_desc if @extra_desc}" %>" />
<title>【51kehou网校】- 免费在线 中学 小学 出国 SAT 英语 听力资料 语法练习 教案课件 - <%= @page_title %></title>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>
</head>

<body class="publics">
<% if session[:require_sign_in_forum] == true && current_user%>
<script type="text/javascript">
    sign_in_forum("<%= current_user.email %>", "<%= session[:password] %>")
</script>
<% end %>

<div class="container">
    <div class="header">
        <div class="content">
            <div class="topmenu">
                <% if current_user %>
                    <span class="memberinfo">
                        欢迎 <b><%= current_user.name %></b> |
                        <a href="###" onclick='do_logout();'>退出</a>
                        <%= link_to('', destroy_user_session_path, :method => :delete, :id=>"logoutlink") %>
                    </span>
                <% else %>
                    <form action="login" method="post" class="rightmenu">
                        <input type="button" class="btn btn1" value="用户登录" onclick="window.location.href='/login';" />
                        <input type="button" class="btn btn2" value="立即注册" onclick="window.location.href='/register/new';" />
                    </form>
                <% end %>

                <div class="rightmenu leftmenu">
                    <a href="/">51课后</a>
                    <% if current_user %>
                      <%= link_to '我的课后', person_home_path({user_id: current_user.id}) %>
                    <% else %>
                      <%= link_to '我的课后', :controller => 'users/sessions', :action => :new %>
                    <% end %>
                    <%= link_to '社区', '/forum' %>
<!--
                    <a href="###">移动版</a>
                    <a href="###">网站导航</a>
-->
                </div>
            </div>
            <div class="topbanner">
                <%= link_to (image_tag "logo_big.png", :class=>"logo", :width=>225, :height=>52), root_path, :class => "logo" %>
                <%= form_tag(url_for(:controller => 'kehou', :action => :search), :method => :get, :class => 'search') do %>
                    <%= text_field_tag 'keywords', @search_key %>
                    <%= submit_tag '搜索', :class => 'btn btn1' %>
                    <p>
                        <span>热门搜索:</span>
                        <%= link_to '中学英语', url_for(:controller => 'kehou', :action => :search, :keywords => '中学英语') %>
                        <%= link_to '小学英语', url_for(:controller => 'kehou', :action => :search, :keywords => '小学英语') %>
                        <%= link_to '中考', url_for(:controller => 'kehou', :action => :search, :keywords => '中考') %>
                        <%= link_to '高考', url_for(:controller => 'kehou', :action => :search, :keywords => '高考') %>
                        <%= link_to 'SAT', url_for(:controller => 'kehou', :action => :search, :keywords => 'SAT') %>
                        <%= link_to '留学', url_for(:controller => 'kehou', :action => :search, :keywords => '留学') %>
                        <%= link_to '出国', url_for(:controller => 'kehou', :action => :search, :keywords => '出国') %>
                    </p>
                <% end %>
                <%= link_to (image_tag "ad_top.jpg", :class=>"rb", :width=>252, :height=>51), root_path, :class => "rb" %>
                <div class="space"></div>
                <!--
                <ul class="qklinks">
                    <li><a href="###" class="xx">小学三年级</a></li>
                    <li><a href="###" class="xx">小学三年级</a></li>
                    <li><a href="###" class="xx">小学三年级</a></li>
                    <li><a href="###" class="xx" style="margin-right:6px;">小学六年级</a></li>
                    <li><a href="###" class="cz">初中三年级</a></li>
                    <li><a href="###" class="cz">小学三年级</a></li>
                    <li><a href="###" class="cz" style="margin-right:6px;">初中三年级</a></li>
                    <li><a href="###" class="gz">高中三年级</a></li>
                    <li><a href="###" class="gz">小学三年级</a></li>
                    <li><a href="###" class="gz">高中三年级</a></li>
                    <div class="space"></div>
                </ul>
                <div class="qksublinks">
                    <a href="###">小学三年级</a>
                    <a href="###" class="xx">小学三年级</a>
                    <a href="###" class="xx">小学三年级</a>
                    <a href="###" class="xx">小学六年级</a>
                    <div class="space"></div>
                </div>
                -->
            </div>
            <div class="topguide">
                <span>网站导航: </span>
                <%
                last_item = @nav_path.last
                @nav_path.each do |item|
                  if item != last_item
                %>
                    <%= link_to item.first, item.last %>
                    <span>></span>
                <% else %>
                    <strong><%= item.first %></strong>
                <%
                    end
                  end
                %>
                <div class="space"></div>
            </div>
        </div>
    </div>
    <div class="mainbody">
        <div class="content">
            <div class="colleft">
                <div class="categuids_title">英语分类导航</div>
                <ul class="categuids">
                    <% @classified_navigate.each do |category| %>
                        <li><h2><span class="icons kehouIcon"></span><%= category[0] %></h2></li>
                        <% category[1].each do |grade| %>
                            <li><%= link_to grade[0], url_for(:action => :grade, :grade => grade[1]) %></li>
                        <% end %>
                        <% if @classified_navigate.last != category %>
                            <li class="line"></li>
                        <% end %>
                    <% end %>
                </ul>

                <div class="space"></div>

                <div class="ad01"><%= link_to (image_tag 'lt_dis_01.png'), url_for(:controller => 'clearsky', :action =>'search', :keyword =>'听力') %></div>

                <div class="space"></div>

                <h2>网友推荐 <a href="/forum/forum.php?mod=collection&op=all" class="more">更多</a></h2>
                <ul class='block_zl'>
                    <% @recommended_collect.each do |val| %>
                    <li>
                        <% if KehouController::DZ_icons['小学'].include?val[4].to_i %>
                        	<span class="icon1">小学</span>
                        <% elsif KehouController::DZ_icons['中学'].include?val[4].to_i %>
                        	<span class="icon2">中学</span>
                        <% elsif KehouController::DZ_icons['班主任'].include?val[4].to_i %>
                        	<span class="icon3">班主任</span>
                        <% elsif KehouController::DZ_icons['留学'].include?val[4].to_i %>
                        	<span class="icon4">留学</span>
                        <% end %>
                        <a href="/forum/forum.php?mod=collection&action=view&ctid=<%= val[0] %>" notice="<%= val[1] %>"><%= val[1] %></a>
                    </li>
                    <% end %>
                </ul>
            </div>

            <div class="colright">
                <h2>最新动态 <a href="/forum/forum.php?mod=guide&view=new" class="more">更多</a></h2>
                <ul class='block_zl'>
                    <% @latest_forum_left.each do |val| %>
                    <li>
                        <% if KehouController::DZ_icons['小学'].include?val[4].to_i %>
                        	<span class="icon1">小学</span>
                        <% elsif KehouController::DZ_icons['中学'].include?val[4].to_i %>
                        	<span class="icon2">中学</span>
                        <% elsif KehouController::DZ_icons['班主任'].include?val[4].to_i %>
                        	<span class="icon3">班主任</span>
                        <% elsif KehouController::DZ_icons['留学'].include?val[4].to_i %>
                        	<span class="icon4">留学</span>
                        <% end %>
                        <a href="/forum/forum.php?mod=viewthread&extra=page=1&tid=<%= val[0] %>" target="_blank" notice="<%= val[1]+" "+Time.at(val[3]).strftime("%Y-%m-%d") %>"><%= val[1] %></a>
                    </li>
                    <% end %>
                </ul>

                <div class="space"></div>

                <div class="ad01"><%= link_to (image_tag 'rt_dis_01.png'), url_for(:controller => 'clearsky', :action =>'search', :keyword =>'语法') %> </div>

                <div class="space"></div>

                <h2>精华推荐 <a href="/forum/forum.php?mod=guide&view=digest" class="more">更多</a></h2>
                <ul class='block_zl'>
                    <% @topped_forum_left.each do |val| %>
                    <li>
                        <% if KehouController::DZ_icons['小学'].include?val[4].to_i %>
                        	<span class="icon1">小学</span>
                        <% elsif KehouController::DZ_icons['中学'].include?val[4].to_i %>
                        	<span class="icon2">中学</span>
                        <% elsif KehouController::DZ_icons['班主任'].include?val[4].to_i %>
                        	<span class="icon3">班主任</span>
                        <% elsif KehouController::DZ_icons['留学'].include?val[4].to_i %>
                        	<span class="icon4">留学</span>
                        <% end %>
                        <a href="/forum/forum.php?mod=viewthread&extra=page=1&tid=<%= val[0] %>" target="_blank" notice="<%= val[1] %>"><%= val[1] %></a>
                        <span class="date"><%= Time.at(val[3]).strftime("%Y-%m-%d") %></span>
                    </li>
                    <% end %>
                </ul>

                <div class="space"></div>

                <div class="ad01"><%= link_to (image_tag "rt_dis_11.png", :alt=>"班主任"), url_for(:action => :search, :keywords => '班主任') %></div>
                <%= image_tag 'rt_dis_12.png' %>

            </div>

            <div class="colcenter">
                <%= yield %>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="footer">
        <div class="content">
            <p class="qklinks">
                <%= link_to '网校首页', root_path %> |
                <%= link_to '关于51课后', about_path %> |
                <%= link_to '投诉与建议', comments_path %> |
                <%= link_to '联系我们', contacts_path %>
            </p>
            <p class="frlinks">
                <span class="sp">友情链接:</span>
                <!--
                <a href="http://www.ks5u.com/">高考资源网</a>
                <a href="http://erge.qqbaobao.com/">宝宝儿歌网</a>
                <a href="http://kr.tingroom.com/">韩语</a>
                <a href="http://www.opfun.org/channel_new/france.html">法语</a>
                <a href="http://www.xj5u.com/">小学资源网</a>
                <a href="http://www.tingroom.com/">在线英语听力室</a>
                -->
                <!-- <a href="###">更多..</a> -->
                <a href="mailto:2646368244@qq.com" class="sp">申请友链</a>
            </p>
            <p class="copyr">
                版权所有 &copy; 51KeHou.com 未经许可 严禁复制    建议使用1024X768分辨率浏览本站 <br />
                沪ICP备1020370538号
                <script language="javascript" src="http://count9.51yes.com/click.aspx?id=94528190&amp;logo=9" charset="gb2312"></script>
                <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F150ae92ac15227655564f79707f8fc65' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </p>
        </div>
    </div>
    <div class="space"></div>
    <!-- Baidu Button BEGIN -->
    <script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=1&amp;pos=left&amp;uid=0" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    </script>
    <!-- Baidu Button END -->
</div>
<script>
init_favorate_btns();
</script>
</body>
</html>