<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="中学英语,小学英语,出国留学,SAT, 托福, 雅思,在线听力,听力下载,英语口语, 英语语法,英语阅读,英语考试,背单词,教案,课件,班主任,主题班会,培训学校 <%= "#{@page_title if @page_title} #{@extra_desc if @extra_desc}" %>" />
<meta name="description" content="【51kehou网校】坚持为学生和老师提供一个免费实用的英语学习和教学平台。 集小学，中学，出国，留学等最新的英语培训课程、网上课堂、课件教案，留学资讯为一体的综合性英语远程教育培训网站。 <%= "#{@page_title if @page_title} #{@extra_desc if @extra_desc}" %>" />
<title>【51kehou网校】- 免费在线 中学 小学 出国 SAT 英语 听力资料 语法练习 教案课件 - <%= @page_title %></title>

<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= csrf_meta_tags %>
</head>
<body>
<% if session[:require_sign_in_forum] == true && current_user%>
<script type="text/javascript">
    sign_in_forum("<%= current_user.email %>", "<%= session[:password] %>")
</script>
<% end %>
<div class="container">
	<div class="header">
		<div class="content">
			<div class="topmenu">
				<a href="/"><%= image_tag "logo_small.png", :class => "logo" %></a>
				<%= link_to '社区', '/forum' %>

				<span class="memberinfo">
					欢迎 <b><%= current_user.name %></b>
					<a href="###" onclick='do_logout();'>退出</a>
          <%= link_to('', destroy_user_session_path, :method => :delete, :id=>"logoutlink") %>
					<!-- <span class="icons unfolderWhiteIcon" id="topmenuIcon"></span> -->
				</span>

  			<div class="pageguide">
  				<%= link_to '首页', root_path %>
  			</div>
      </div>

			<div class="msgbox membermenu" id="topmenu" style="display:none;">
				<div class="top"></div>
				<div class="boxcontent">
					<ul>
						<li><%= link_to '我的主页', person_home_path({user_id: current_user.id}) %></li>
						<li><%= link_to '个人资料', profile_path(current_user) %></li>
						<li><%= link_to '退出', destroy_user_session_path, :method => 'DELETE' %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="mainbody">
		<div class="content">
			<div class="nav">
				<div class="face"><%= image_tag current_user.final_avatar.url(:medium) %></div>
				<div class="name"><%= current_user.name %></div>
				<div class="navmenu">
					<%= link_to '我的书架', favorites_path(user_id: current_user.id), :class => "mmnks #{'on' if controller_name == "favorites"}"%>
					<%= link_to '我的作业', assignments_path(user_id: current_user.id), :class => "mmnks #{'on' if controller_name == "assignments"}"%>
					<%= link_to '我的小组', groups_path(user_id: current_user.id), :class => "mmnks #{'on' if controller_name == "groups"}"%>
				</div>

				<div class="navmenu">
          <!-- <a href="#" class="mnotic">通知</a>
          <a href="#" class="mznsx">站内私信</a> -->
					<%= link_to '个人资料', profile_path(current_user), :class => (@current_teacher_page == :profile ? 'mgrsz on': 'mgrsz') %>
				</div>
			</div>
			<div class="maincontent">
				<%= yield %>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="content">
			<p>
				<%= link_to '网校首页', root_path %> |
                <%= link_to '关于51课后', about_path %> |
                <%= link_to '投诉与建议', comments_path %> |
                <%= link_to '联系我们', contacts_path %>
			</p>
			<p>
				版权所有 &copy; 51KeHou.com 未经许可 严禁复制    建议使用1024X768分辨率浏览本站 <br />
				沪ICP备1020370538号
				<script language="javascript" src="http://count9.51yes.com/click.aspx?id=94528190&amp;logo=9" charset="gb2312"></script>
				<script type="text/javascript">
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F150ae92ac15227655564f79707f8fc65' type='text/javascript'%3E%3C/script%3E"));
				</script>
			</p>
		</div>
	</div>
	<div class="space"></div>
</div>
</body>
</html>
